// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient";
import * as core from "../../../../core";
import { mergeHeaders } from "../../../../core/headers";
import * as environments from "../../../../environments";
import * as serializers from "../../../../serialization/index";
import * as CandidApi from "../../../index";

export declare namespace DiagnosesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class DiagnosesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<DiagnosesClient.Options>;

    constructor(options: DiagnosesClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Creates a new diagnosis for an encounter
     *
     * @param {CandidApi.StandaloneDiagnosisCreate} request
     * @param {DiagnosesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.diagnoses.create({
     *         encounterId: CandidApi.EncounterId("d5e9c84f-c2b2-4bf4-b4b0-7ffd7a9ffc32"),
     *         codeType: "ABF",
     *         code: "code"
     *     })
     */
    public create(
        request: CandidApi.StandaloneDiagnosisCreate,
        requestOptions?: DiagnosesClient.RequestOptions,
    ): core.HttpResponsePromise<core.APIResponse<CandidApi.Diagnosis, CandidApi.diagnoses.create.Error>> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CandidApi.StandaloneDiagnosisCreate,
        requestOptions?: DiagnosesClient.RequestOptions,
    ): Promise<core.WithRawResponse<core.APIResponse<CandidApi.Diagnosis, CandidApi.diagnoses.create.Error>>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.CandidApiEnvironment.Production
                    ).candidApi,
                "/api/diagnoses/v2",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: serializers.StandaloneDiagnosisCreate.jsonOrThrow(request, { unrecognizedObjectKeys: "strip" }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: serializers.Diagnosis.parseOrThrow(_response.body, {
                        unrecognizedObjectKeys: "passthrough",
                        allowUnrecognizedUnionMembers: true,
                        allowUnrecognizedEnumValues: true,
                        breadcrumbsPrefix: ["response"],
                    }),
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        return {
            data: {
                ok: false,
                error: CandidApi.diagnoses.create.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }

    /**
     * Updates the diagnosis record matching the provided `diagnosis_id`
     *
     * @param {CandidApi.DiagnosisId} diagnosis_id
     * @param {CandidApi.DiagnosisUpdate} request
     * @param {DiagnosesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.diagnoses.update(CandidApi.DiagnosisId("d5e9c84f-c2b2-4bf4-b4b0-7ffd7a9ffc32"))
     */
    public update(
        diagnosis_id: CandidApi.DiagnosisId,
        request: CandidApi.DiagnosisUpdate = {},
        requestOptions?: DiagnosesClient.RequestOptions,
    ): core.HttpResponsePromise<core.APIResponse<CandidApi.Diagnosis, CandidApi.diagnoses.update.Error>> {
        return core.HttpResponsePromise.fromPromise(this.__update(diagnosis_id, request, requestOptions));
    }

    private async __update(
        diagnosis_id: CandidApi.DiagnosisId,
        request: CandidApi.DiagnosisUpdate = {},
        requestOptions?: DiagnosesClient.RequestOptions,
    ): Promise<core.WithRawResponse<core.APIResponse<CandidApi.Diagnosis, CandidApi.diagnoses.update.Error>>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.CandidApiEnvironment.Production
                    ).candidApi,
                `/api/diagnoses/v2/${core.url.encodePathParam(serializers.DiagnosisId.jsonOrThrow(diagnosis_id))}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: serializers.DiagnosisUpdate.jsonOrThrow(request, { unrecognizedObjectKeys: "strip" }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: serializers.Diagnosis.parseOrThrow(_response.body, {
                        unrecognizedObjectKeys: "passthrough",
                        allowUnrecognizedUnionMembers: true,
                        allowUnrecognizedEnumValues: true,
                        breadcrumbsPrefix: ["response"],
                    }),
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch ((_response.error.body as serializers.diagnoses.update.Error.Raw)?.errorName) {
                case "DiagnosisNotFoundHTTPError":
                case "DisallowMultiplePrimaryDiagnosisHTTPError":
                    return {
                        data: {
                            ok: false,
                            error: serializers.diagnoses.update.Error.parseOrThrow(
                                _response.error.body as serializers.diagnoses.update.Error.Raw,
                                {
                                    unrecognizedObjectKeys: "passthrough",
                                    allowUnrecognizedUnionMembers: true,
                                    allowUnrecognizedEnumValues: true,
                                    breadcrumbsPrefix: ["response"],
                                },
                            ),
                            rawResponse: _response.rawResponse,
                        },
                        rawResponse: _response.rawResponse,
                    };
            }
        }

        return {
            data: {
                ok: false,
                error: CandidApi.diagnoses.update.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }

    /**
     * Deletes the diagnosis record associated with the provided `diagnosis_id`
     *
     * @param {CandidApi.DiagnosisId} diagnosis_id
     * @param {DiagnosesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.diagnoses.delete(CandidApi.DiagnosisId("d5e9c84f-c2b2-4bf4-b4b0-7ffd7a9ffc32"))
     */
    public delete(
        diagnosis_id: CandidApi.DiagnosisId,
        requestOptions?: DiagnosesClient.RequestOptions,
    ): core.HttpResponsePromise<core.APIResponse<void, CandidApi.diagnoses.delete.Error>> {
        return core.HttpResponsePromise.fromPromise(this.__delete(diagnosis_id, requestOptions));
    }

    private async __delete(
        diagnosis_id: CandidApi.DiagnosisId,
        requestOptions?: DiagnosesClient.RequestOptions,
    ): Promise<core.WithRawResponse<core.APIResponse<void, CandidApi.diagnoses.delete.Error>>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.CandidApiEnvironment.Production
                    ).candidApi,
                `/api/diagnoses/v2/${core.url.encodePathParam(serializers.DiagnosisId.jsonOrThrow(diagnosis_id))}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: undefined,
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch ((_response.error.body as serializers.diagnoses.delete.Error.Raw)?.errorName) {
                case "DiagnosisNotFoundHTTPError":
                case "ServiceLinesMustHaveAtLeastOneDiagnosisHTTPError":
                    return {
                        data: {
                            ok: false,
                            error: serializers.diagnoses.delete.Error.parseOrThrow(
                                _response.error.body as serializers.diagnoses.delete.Error.Raw,
                                {
                                    unrecognizedObjectKeys: "passthrough",
                                    allowUnrecognizedUnionMembers: true,
                                    allowUnrecognizedEnumValues: true,
                                    breadcrumbsPrefix: ["response"],
                                },
                            ),
                            rawResponse: _response.rawResponse,
                        },
                        rawResponse: _response.rawResponse,
                    };
            }
        }

        return {
            data: {
                ok: false,
                error: CandidApi.diagnoses.delete.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }
}
