// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient";
import * as core from "../../../../../../core";
import { mergeHeaders } from "../../../../../../core/headers";
import * as environments from "../../../../../../environments";
import * as serializers from "../../../../../../serialization/index";
import * as CandidApi from "../../../../../index";

export declare namespace V1Client {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class V1Client {
    protected readonly _options: NormalizedClientOptionsWithAuth<V1Client.Options>;

    constructor(options: V1Client.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @param {CandidApi.ChargeCaptureClaimCreationId} charge_capture_claim_creation_id
     * @param {V1Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.chargeCaptureBundles.v1.get(CandidApi.ChargeCaptureClaimCreationId("d5e9c84f-c2b2-4bf4-b4b0-7ffd7a9ffc32"))
     */
    public get(
        charge_capture_claim_creation_id: CandidApi.ChargeCaptureClaimCreationId,
        requestOptions?: V1Client.RequestOptions,
    ): core.HttpResponsePromise<
        core.APIResponse<
            CandidApi.chargeCaptureBundles.v1.ChargeCaptureClaimCreation,
            CandidApi.chargeCaptureBundles.v1.get.Error
        >
    > {
        return core.HttpResponsePromise.fromPromise(this.__get(charge_capture_claim_creation_id, requestOptions));
    }

    private async __get(
        charge_capture_claim_creation_id: CandidApi.ChargeCaptureClaimCreationId,
        requestOptions?: V1Client.RequestOptions,
    ): Promise<
        core.WithRawResponse<
            core.APIResponse<
                CandidApi.chargeCaptureBundles.v1.ChargeCaptureClaimCreation,
                CandidApi.chargeCaptureBundles.v1.get.Error
            >
        >
    > {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.CandidApiEnvironment.Production
                    ).candidApi,
                `/api/charge_capture_claim_creation/v1/${core.url.encodePathParam(serializers.ChargeCaptureClaimCreationId.jsonOrThrow(charge_capture_claim_creation_id))}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: serializers.chargeCaptureBundles.v1.ChargeCaptureClaimCreation.parseOrThrow(_response.body, {
                        unrecognizedObjectKeys: "passthrough",
                        allowUnrecognizedUnionMembers: true,
                        allowUnrecognizedEnumValues: true,
                        breadcrumbsPrefix: ["response"],
                    }),
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        return {
            data: {
                ok: false,
                error: CandidApi.chargeCaptureBundles.v1.get.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }

    /**
     * @param {V1Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.chargeCaptureBundles.v1.getSummary()
     */
    public getSummary(
        requestOptions?: V1Client.RequestOptions,
    ): core.HttpResponsePromise<
        core.APIResponse<
            CandidApi.chargeCaptureBundles.v1.ChargeCaptureClaimCreationSummary,
            CandidApi.chargeCaptureBundles.v1.getSummary.Error
        >
    > {
        return core.HttpResponsePromise.fromPromise(this.__getSummary(requestOptions));
    }

    private async __getSummary(
        requestOptions?: V1Client.RequestOptions,
    ): Promise<
        core.WithRawResponse<
            core.APIResponse<
                CandidApi.chargeCaptureBundles.v1.ChargeCaptureClaimCreationSummary,
                CandidApi.chargeCaptureBundles.v1.getSummary.Error
            >
        >
    > {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.CandidApiEnvironment.Production
                    ).candidApi,
                "/api/charge_capture_claim_creation/v1/all/summary",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: serializers.chargeCaptureBundles.v1.ChargeCaptureClaimCreationSummary.parseOrThrow(
                        _response.body,
                        {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            breadcrumbsPrefix: ["response"],
                        },
                    ),
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        return {
            data: {
                ok: false,
                error: CandidApi.chargeCaptureBundles.v1.getSummary.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }

    /**
     * @param {string} charge_capture_bundle_error_id
     * @param {CandidApi.chargeCaptureBundles.v1.ChargeCaptureBundleErrorResolution} request
     * @param {V1Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.chargeCaptureBundles.v1.resolveChargeCreationError("d5e9c84f-c2b2-4bf4-b4b0-7ffd7a9ffc32")
     */
    public resolveChargeCreationError(
        charge_capture_bundle_error_id: string,
        request: CandidApi.chargeCaptureBundles.v1.ChargeCaptureBundleErrorResolution = {},
        requestOptions?: V1Client.RequestOptions,
    ): core.HttpResponsePromise<
        core.APIResponse<void, CandidApi.chargeCaptureBundles.v1.resolveChargeCreationError.Error>
    > {
        return core.HttpResponsePromise.fromPromise(
            this.__resolveChargeCreationError(charge_capture_bundle_error_id, request, requestOptions),
        );
    }

    private async __resolveChargeCreationError(
        charge_capture_bundle_error_id: string,
        request: CandidApi.chargeCaptureBundles.v1.ChargeCaptureBundleErrorResolution = {},
        requestOptions?: V1Client.RequestOptions,
    ): Promise<
        core.WithRawResponse<core.APIResponse<void, CandidApi.chargeCaptureBundles.v1.resolveChargeCreationError.Error>>
    > {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.CandidApiEnvironment.Production
                    ).candidApi,
                `/api/charge_capture_claim_creation/v1/error/${core.url.encodePathParam(charge_capture_bundle_error_id)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: serializers.chargeCaptureBundles.v1.ChargeCaptureBundleErrorResolution.jsonOrThrow(request, {
                unrecognizedObjectKeys: "strip",
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: undefined,
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (
                (_response.error.body as serializers.chargeCaptureBundles.v1.resolveChargeCreationError.Error.Raw)
                    ?.errorName
            ) {
                case "EntityNotFoundError":
                case "UnauthorizedError":
                    return {
                        data: {
                            ok: false,
                            error: serializers.chargeCaptureBundles.v1.resolveChargeCreationError.Error.parseOrThrow(
                                _response.error
                                    .body as serializers.chargeCaptureBundles.v1.resolveChargeCreationError.Error.Raw,
                                {
                                    unrecognizedObjectKeys: "passthrough",
                                    allowUnrecognizedUnionMembers: true,
                                    allowUnrecognizedEnumValues: true,
                                    breadcrumbsPrefix: ["response"],
                                },
                            ),
                            rawResponse: _response.rawResponse,
                        },
                        rawResponse: _response.rawResponse,
                    };
            }
        }

        return {
            data: {
                ok: false,
                error: CandidApi.chargeCaptureBundles.v1.resolveChargeCreationError.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }

    /**
     * @param {CandidApi.chargeCaptureBundles.v1.GetAllChargeCaptureClaimCreationsRequest} request
     * @param {V1Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.chargeCaptureBundles.v1.getAll()
     */
    public getAll(
        request: CandidApi.chargeCaptureBundles.v1.GetAllChargeCaptureClaimCreationsRequest = {},
        requestOptions?: V1Client.RequestOptions,
    ): core.HttpResponsePromise<
        core.APIResponse<
            CandidApi.chargeCaptureBundles.v1.ChargeCaptureClaimCreationPage,
            CandidApi.chargeCaptureBundles.v1.getAll.Error
        >
    > {
        return core.HttpResponsePromise.fromPromise(this.__getAll(request, requestOptions));
    }

    private async __getAll(
        request: CandidApi.chargeCaptureBundles.v1.GetAllChargeCaptureClaimCreationsRequest = {},
        requestOptions?: V1Client.RequestOptions,
    ): Promise<
        core.WithRawResponse<
            core.APIResponse<
                CandidApi.chargeCaptureBundles.v1.ChargeCaptureClaimCreationPage,
                CandidApi.chargeCaptureBundles.v1.getAll.Error
            >
        >
    > {
        const {
            limit,
            sort,
            sortDirection,
            pageToken,
            patientExternalId,
            claimCreationStatus,
            chargeStatus,
            chargeExternalId,
            dateOfServiceMin,
            dateOfServiceMax,
            claimIds,
            claimCreationIds,
            billingProviderNpis,
            serviceFacilityName,
            primaryPayerIds,
            renderingProviderNpis,
            renderingProviderNames,
            supervisingProviderNpis,
            supervisingProviderNames,
            claimStatus,
            claimCreationCategory,
            tags,
            primaryPayerNames,
            patientNames,
            hasChargeCaptureUpdates,
        } = request;
        const _queryParams: Record<string, unknown> = {
            limit,
            sort:
                sort != null
                    ? serializers.chargeCaptureBundles.v1.ChargeCaptureClaimCreationSortField.jsonOrThrow(sort, {
                          unrecognizedObjectKeys: "strip",
                      })
                    : undefined,
            sort_direction:
                sortDirection != null
                    ? serializers.SortDirection.jsonOrThrow(sortDirection, { unrecognizedObjectKeys: "strip" })
                    : undefined,
            page_token: pageToken,
            patient_external_id: patientExternalId,
            claim_creation_status:
                claimCreationStatus != null
                    ? serializers.chargeCaptureBundles.v1.ChargeCaptureClaimCreationStatus.jsonOrThrow(
                          claimCreationStatus,
                          { unrecognizedObjectKeys: "strip" },
                      )
                    : undefined,
            charge_status:
                chargeStatus != null
                    ? serializers.chargeCapture.v1.ChargeCaptureStatus.jsonOrThrow(chargeStatus, {
                          unrecognizedObjectKeys: "strip",
                      })
                    : undefined,
            charge_external_id: chargeExternalId,
            date_of_service_min: dateOfServiceMin != null ? dateOfServiceMin : undefined,
            date_of_service_max: dateOfServiceMax != null ? dateOfServiceMax : undefined,
            claim_ids: claimIds,
            claim_creation_ids: claimCreationIds,
            billing_provider_npis: billingProviderNpis,
            service_facility_name: serviceFacilityName,
            primary_payer_ids: primaryPayerIds,
            rendering_provider_npis: renderingProviderNpis,
            rendering_provider_names: renderingProviderNames,
            supervising_provider_npis: supervisingProviderNpis,
            supervising_provider_names: supervisingProviderNames,
            claim_status:
                claimStatus != null
                    ? serializers.ClaimStatus.jsonOrThrow(claimStatus, { unrecognizedObjectKeys: "strip" })
                    : undefined,
            claim_creation_category: claimCreationCategory,
            tags,
            primary_payer_names: primaryPayerNames,
            patient_names: patientNames,
            has_charge_capture_updates: hasChargeCaptureUpdates,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.CandidApiEnvironment.Production
                    ).candidApi,
                "/api/charge_capture_claim_creation/v1",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: serializers.chargeCaptureBundles.v1.ChargeCaptureClaimCreationPage.parseOrThrow(
                        _response.body,
                        {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            breadcrumbsPrefix: ["response"],
                        },
                    ),
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        return {
            data: {
                ok: false,
                error: CandidApi.chargeCaptureBundles.v1.getAll.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }
}
