// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient";
import * as core from "../../../../../../core";
import { mergeHeaders } from "../../../../../../core/headers";
import * as environments from "../../../../../../environments";
import * as serializers from "../../../../../../serialization/index";
import * as CandidApi from "../../../../../index";

export declare namespace V4Client {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class V4Client {
    protected readonly _options: NormalizedClientOptionsWithAuth<V4Client.Options>;

    constructor(options: V4Client.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @param {CandidApi.encounters.v4.GetAllEncountersRequest} request
     * @param {V4Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.encounters.v4.getAll({
     *         limit: 100,
     *         claimStatus: "biller_received",
     *         sort: "created_at:asc",
     *         pageToken: CandidApi.PageToken("eyJ0b2tlbiI6IjEiLCJwYWdlX3Rva2VuIjoiMiJ9"),
     *         dateOfServiceMin: "2019-08-24",
     *         dateOfServiceMax: "2019-08-25",
     *         primaryPayerNames: "Medicare,Medicaid",
     *         searchTerm: "doe",
     *         externalId: CandidApi.EncounterExternalId("123456"),
     *         diagnosesUpdatedSince: new Date("2019-08-24T14:15:22.000Z")
     *     })
     */
    public getAll(
        request: CandidApi.encounters.v4.GetAllEncountersRequest = {},
        requestOptions?: V4Client.RequestOptions,
    ): core.HttpResponsePromise<
        core.APIResponse<CandidApi.encounters.v4.EncounterPage, CandidApi.encounters.v4.getAll.Error>
    > {
        return core.HttpResponsePromise.fromPromise(this.__getAll(request, requestOptions));
    }

    private async __getAll(
        request: CandidApi.encounters.v4.GetAllEncountersRequest = {},
        requestOptions?: V4Client.RequestOptions,
    ): Promise<
        core.WithRawResponse<
            core.APIResponse<CandidApi.encounters.v4.EncounterPage, CandidApi.encounters.v4.getAll.Error>
        >
    > {
        const {
            limit,
            claimStatus,
            sort,
            pageToken,
            dateOfServiceMin,
            dateOfServiceMax,
            primaryPayerNames,
            searchTerm,
            externalId,
            diagnosesUpdatedSince,
            tagIds,
            workQueueId,
            billableStatus,
            responsibleParty,
            ownerOfNextAction,
            patientExternalId,
            includeMergedPatientData,
        } = request;
        const _queryParams: Record<string, unknown> = {
            limit,
            claim_status:
                claimStatus != null
                    ? serializers.ClaimStatus.jsonOrThrow(claimStatus, { unrecognizedObjectKeys: "strip" })
                    : undefined,
            sort:
                sort != null
                    ? serializers.encounters.v4.EncounterSortOptions.jsonOrThrow(sort, {
                          unrecognizedObjectKeys: "strip",
                      })
                    : undefined,
            page_token: pageToken,
            date_of_service_min: dateOfServiceMin != null ? dateOfServiceMin : undefined,
            date_of_service_max: dateOfServiceMax != null ? dateOfServiceMax : undefined,
            primary_payer_names: primaryPayerNames,
            search_term: searchTerm,
            external_id: externalId,
            diagnoses_updated_since: diagnosesUpdatedSince != null ? diagnosesUpdatedSince?.toISOString() : undefined,
            tag_ids: tagIds,
            work_queue_id: workQueueId,
            billable_status:
                billableStatus != null
                    ? serializers.encounters.v4.BillableStatusType.jsonOrThrow(billableStatus, {
                          unrecognizedObjectKeys: "strip",
                      })
                    : undefined,
            responsible_party:
                responsibleParty != null
                    ? serializers.encounters.v4.ResponsiblePartyType.jsonOrThrow(responsibleParty, {
                          unrecognizedObjectKeys: "strip",
                      })
                    : undefined,
            owner_of_next_action:
                ownerOfNextAction != null
                    ? serializers.encounters.v4.EncounterOwnerOfNextActionType.jsonOrThrow(ownerOfNextAction, {
                          unrecognizedObjectKeys: "strip",
                      })
                    : undefined,
            patient_external_id: patientExternalId,
            include_merged_patient_data: includeMergedPatientData,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.CandidApiEnvironment.Production
                    ).candidApi,
                "/api/encounters/v4",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: serializers.encounters.v4.EncounterPage.parseOrThrow(_response.body, {
                        unrecognizedObjectKeys: "passthrough",
                        allowUnrecognizedUnionMembers: true,
                        allowUnrecognizedEnumValues: true,
                        breadcrumbsPrefix: ["response"],
                    }),
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch ((_response.error.body as serializers.encounters.v4.getAll.Error.Raw)?.errorName) {
                case "UnprocessableEntityError":
                case "HttpRequestValidationsError":
                case "InternalError":
                    return {
                        data: {
                            ok: false,
                            error: serializers.encounters.v4.getAll.Error.parseOrThrow(
                                _response.error.body as serializers.encounters.v4.getAll.Error.Raw,
                                {
                                    unrecognizedObjectKeys: "passthrough",
                                    allowUnrecognizedUnionMembers: true,
                                    allowUnrecognizedEnumValues: true,
                                    breadcrumbsPrefix: ["response"],
                                },
                            ),
                            rawResponse: _response.rawResponse,
                        },
                        rawResponse: _response.rawResponse,
                    };
            }
        }

        return {
            data: {
                ok: false,
                error: CandidApi.encounters.v4.getAll.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }

    /**
     * @param {CandidApi.EncounterId} encounter_id
     * @param {V4Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.encounters.v4.get(CandidApi.EncounterId("d5e9c84f-c2b2-4bf4-b4b0-7ffd7a9ffc32"))
     */
    public get(
        encounter_id: CandidApi.EncounterId,
        requestOptions?: V4Client.RequestOptions,
    ): core.HttpResponsePromise<
        core.APIResponse<CandidApi.encounters.v4.Encounter, CandidApi.encounters.v4.get.Error>
    > {
        return core.HttpResponsePromise.fromPromise(this.__get(encounter_id, requestOptions));
    }

    private async __get(
        encounter_id: CandidApi.EncounterId,
        requestOptions?: V4Client.RequestOptions,
    ): Promise<
        core.WithRawResponse<core.APIResponse<CandidApi.encounters.v4.Encounter, CandidApi.encounters.v4.get.Error>>
    > {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.CandidApiEnvironment.Production
                    ).candidApi,
                `/api/encounters/v4/${core.url.encodePathParam(serializers.EncounterId.jsonOrThrow(encounter_id))}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: serializers.encounters.v4.Encounter.parseOrThrow(_response.body, {
                        unrecognizedObjectKeys: "passthrough",
                        allowUnrecognizedUnionMembers: true,
                        allowUnrecognizedEnumValues: true,
                        breadcrumbsPrefix: ["response"],
                    }),
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        return {
            data: {
                ok: false,
                error: CandidApi.encounters.v4.get.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }

    /**
     * @beta This endpoint is in development and may change.
     *
     * Notice: The UB-04 Data File, 2025, is copyrighted by American Hospital Association (AHA), Chicago, Illinois.
     * No portion of the THE UB-04 Data File, may be reproduced, stored in a retrieval system, or transmitted,
     * in any form or by any means, electronic, mechanical, photocopying, recording, or otherwise, without prior
     * express, written consent of AHA.
     *
     * @param {CandidApi.encountersUniversal.UniversalEncounterCreate} request
     * @param {V4Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.encounters.v4.createUniversal({
     *         billingProvider: {
     *             address: {
     *                 zipPlusFourCode: "zip_plus_four_code",
     *                 address1: "address1",
     *                 city: "city",
     *                 state: "AA",
     *                 zipCode: "zip_code"
     *             },
     *             taxId: "tax_id",
     *             npi: "npi"
     *         },
     *         submissionExpectation: "TARGET_PROFESSIONAL",
     *         patient: {
     *             externalId: "external_id",
     *             dateOfBirth: "2023-01-15",
     *             address: {
     *                 address1: "address1",
     *                 city: "city",
     *                 state: "AA",
     *                 zipCode: "zip_code"
     *             },
     *             firstName: "first_name",
     *             lastName: "last_name",
     *             gender: "male"
     *         },
     *         responsibleParty: "INSURANCE_PAY",
     *         externalId: CandidApi.EncounterExternalId("external_id"),
     *         patientAuthorizedRelease: true,
     *         benefitsAssignedToProvider: true,
     *         providerAcceptsAssignment: true,
     *         billableStatus: "BILLABLE"
     *     })
     */
    public createUniversal(
        request: CandidApi.encountersUniversal.UniversalEncounterCreate,
        requestOptions?: V4Client.RequestOptions,
    ): core.HttpResponsePromise<
        core.APIResponse<CandidApi.encounters.v4.Encounter, CandidApi.encounters.v4.createUniversal.Error>
    > {
        return core.HttpResponsePromise.fromPromise(this.__createUniversal(request, requestOptions));
    }

    private async __createUniversal(
        request: CandidApi.encountersUniversal.UniversalEncounterCreate,
        requestOptions?: V4Client.RequestOptions,
    ): Promise<
        core.WithRawResponse<
            core.APIResponse<CandidApi.encounters.v4.Encounter, CandidApi.encounters.v4.createUniversal.Error>
        >
    > {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.CandidApiEnvironment.Production
                    ).candidApi,
                "/api/encounters/v4/universal",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: serializers.encountersUniversal.UniversalEncounterCreate.jsonOrThrow(request, {
                unrecognizedObjectKeys: "strip",
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: serializers.encounters.v4.Encounter.parseOrThrow(_response.body, {
                        unrecognizedObjectKeys: "passthrough",
                        allowUnrecognizedUnionMembers: true,
                        allowUnrecognizedEnumValues: true,
                        breadcrumbsPrefix: ["response"],
                    }),
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch ((_response.error.body as serializers.encounters.v4.createUniversal.Error.Raw)?.errorName) {
                case "EncounterExternalIdUniquenessError":
                case "EncounterPatientControlNumberUniquenessError":
                case "EntityNotFoundError":
                case "UnauthorizedError":
                case "EncounterGuarantorMissingContactInfoError":
                case "HttpRequestValidationsError":
                case "CashPayPayerError":
                case "SchemaInstanceValidationHttpFailure":
                case "UnprocessableEntityError":
                case "InvalidTagNamesError":
                case "HttpRequestValidationError":
                case "PayerPlanGroupPayerDoesNotMatchInsuranceCardHttpError":
                case "EncounterRenderingOrAttendingProviderRequired":
                    return {
                        data: {
                            ok: false,
                            error: serializers.encounters.v4.createUniversal.Error.parseOrThrow(
                                _response.error.body as serializers.encounters.v4.createUniversal.Error.Raw,
                                {
                                    unrecognizedObjectKeys: "passthrough",
                                    allowUnrecognizedUnionMembers: true,
                                    allowUnrecognizedEnumValues: true,
                                    breadcrumbsPrefix: ["response"],
                                },
                            ),
                            rawResponse: _response.rawResponse,
                        },
                        rawResponse: _response.rawResponse,
                    };
            }
        }

        return {
            data: {
                ok: false,
                error: CandidApi.encounters.v4.createUniversal.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }

    /**
     * @param {CandidApi.encounters.v4.EncounterCreate} request
     * @param {V4Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.encounters.v4.create({
     *         billingProvider: {
     *             address: {
     *                 zipPlusFourCode: "zip_plus_four_code",
     *                 address1: "address1",
     *                 city: "city",
     *                 state: "AA",
     *                 zipCode: "zip_code"
     *             },
     *             taxId: "tax_id",
     *             npi: "npi"
     *         },
     *         diagnoses: [{
     *                 codeType: "ABF",
     *                 code: "code"
     *             }, {
     *                 codeType: "ABF",
     *                 code: "code"
     *             }],
     *         placeOfServiceCode: "01",
     *         renderingProvider: {
     *             npi: "npi"
     *         },
     *         patient: {
     *             externalId: "external_id",
     *             dateOfBirth: "2023-01-15",
     *             address: {
     *                 address1: "address1",
     *                 city: "city",
     *                 state: "AA",
     *                 zipCode: "zip_code"
     *             },
     *             firstName: "first_name",
     *             lastName: "last_name",
     *             gender: "male"
     *         },
     *         responsibleParty: "INSURANCE_PAY",
     *         externalId: CandidApi.EncounterExternalId("external_id"),
     *         patientAuthorizedRelease: true,
     *         benefitsAssignedToProvider: true,
     *         providerAcceptsAssignment: true,
     *         billableStatus: "BILLABLE"
     *     })
     */
    public create(
        request: CandidApi.encounters.v4.EncounterCreate,
        requestOptions?: V4Client.RequestOptions,
    ): core.HttpResponsePromise<
        core.APIResponse<CandidApi.encounters.v4.Encounter, CandidApi.encounters.v4.create.Error>
    > {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CandidApi.encounters.v4.EncounterCreate,
        requestOptions?: V4Client.RequestOptions,
    ): Promise<
        core.WithRawResponse<core.APIResponse<CandidApi.encounters.v4.Encounter, CandidApi.encounters.v4.create.Error>>
    > {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.CandidApiEnvironment.Production
                    ).candidApi,
                "/api/encounters/v4",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: serializers.encounters.v4.EncounterCreate.jsonOrThrow(request, { unrecognizedObjectKeys: "strip" }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: serializers.encounters.v4.Encounter.parseOrThrow(_response.body, {
                        unrecognizedObjectKeys: "passthrough",
                        allowUnrecognizedUnionMembers: true,
                        allowUnrecognizedEnumValues: true,
                        breadcrumbsPrefix: ["response"],
                    }),
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch ((_response.error.body as serializers.encounters.v4.create.Error.Raw)?.errorName) {
                case "EncounterExternalIdUniquenessError":
                case "EncounterPatientControlNumberUniquenessError":
                case "EntityNotFoundError":
                case "UnauthorizedError":
                case "EncounterGuarantorMissingContactInfoError":
                case "HttpRequestValidationsError":
                case "CashPayPayerError":
                case "SchemaInstanceValidationHttpFailure":
                case "UnprocessableEntityError":
                case "InvalidTagNamesError":
                case "HttpRequestValidationError":
                case "PayerPlanGroupPayerDoesNotMatchInsuranceCardHttpError":
                case "EncounterRenderingOrAttendingProviderRequired":
                    return {
                        data: {
                            ok: false,
                            error: serializers.encounters.v4.create.Error.parseOrThrow(
                                _response.error.body as serializers.encounters.v4.create.Error.Raw,
                                {
                                    unrecognizedObjectKeys: "passthrough",
                                    allowUnrecognizedUnionMembers: true,
                                    allowUnrecognizedEnumValues: true,
                                    breadcrumbsPrefix: ["response"],
                                },
                            ),
                            rawResponse: _response.rawResponse,
                        },
                        rawResponse: _response.rawResponse,
                    };
            }
        }

        return {
            data: {
                ok: false,
                error: CandidApi.encounters.v4.create.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }

    /**
     * @beta This endpoint is in development and may change.
     *
     * Create an encounter from a pre-encounter patient and appointment. This endpoint is intended to be used by consumers who are managing
     * patients and appointments in the pre-encounter service and is currently under development. Consumers who are not taking advantage
     * of the pre-encounter service should use the standard create endpoint.
     *
     * The endpoint will create an encounter from the provided fields, pulling information from the provided patient and appointment objects
     * where applicable. In particular, the following fields are populated from the patient and appointment objects:
     *   - Patient
     *   - Referring Provider
     *   - Subscriber Primary
     *   - Subscriber Secondary
     *   - Referral Number
     *   - Responsible Party
     *   - Guarantor
     *
     * Utilizing this endpoint opts you into automatic updating of the encounter when the patient or appointment is updated, assuming the
     * encounter has not already been submitted or adjudicated.
     *
     * Notice: The UB-04 Data File, 2025, is copyrighted by American Hospital Association (AHA), Chicago, Illinois.
     * No portion of the THE UB-04 Data File, may be reproduced, stored in a retrieval system, or transmitted,
     * in any form or by any means, electronic, mechanical, photocopying, recording, or otherwise, without prior
     * express, written consent of AHA.
     *
     * @param {CandidApi.encountersUniversal.UniversalEncounterCreateFromPreEncounter} request
     * @param {V4Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.encounters.v4.createFromPreEncounterPatientUniversal({
     *         submissionExpectation: "TARGET_PROFESSIONAL",
     *         preEncounterPatientId: CandidApi.PreEncounterPatientId("d5e9c84f-c2b2-4bf4-b4b0-7ffd7a9ffc32"),
     *         preEncounterAppointmentIds: [CandidApi.PreEncounterAppointmentId("d5e9c84f-c2b2-4bf4-b4b0-7ffd7a9ffc32"), CandidApi.PreEncounterAppointmentId("d5e9c84f-c2b2-4bf4-b4b0-7ffd7a9ffc32")],
     *         billingProvider: {
     *             address: {
     *                 zipPlusFourCode: "zip_plus_four_code",
     *                 address1: "address1",
     *                 city: "city",
     *                 state: "AA",
     *                 zipCode: "zip_code"
     *             },
     *             taxId: "tax_id",
     *             npi: "npi"
     *         },
     *         externalId: CandidApi.EncounterExternalId("external_id"),
     *         patientAuthorizedRelease: true,
     *         benefitsAssignedToProvider: true,
     *         providerAcceptsAssignment: true,
     *         billableStatus: "BILLABLE"
     *     })
     */
    public createFromPreEncounterPatientUniversal(
        request: CandidApi.encountersUniversal.UniversalEncounterCreateFromPreEncounter,
        requestOptions?: V4Client.RequestOptions,
    ): core.HttpResponsePromise<
        core.APIResponse<
            CandidApi.encounters.v4.Encounter,
            CandidApi.encounters.v4.createFromPreEncounterPatientUniversal.Error
        >
    > {
        return core.HttpResponsePromise.fromPromise(
            this.__createFromPreEncounterPatientUniversal(request, requestOptions),
        );
    }

    private async __createFromPreEncounterPatientUniversal(
        request: CandidApi.encountersUniversal.UniversalEncounterCreateFromPreEncounter,
        requestOptions?: V4Client.RequestOptions,
    ): Promise<
        core.WithRawResponse<
            core.APIResponse<
                CandidApi.encounters.v4.Encounter,
                CandidApi.encounters.v4.createFromPreEncounterPatientUniversal.Error
            >
        >
    > {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.CandidApiEnvironment.Production
                    ).candidApi,
                "/api/encounters/v4/create-from-pre-encounter/universal",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: serializers.encountersUniversal.UniversalEncounterCreateFromPreEncounter.jsonOrThrow(request, {
                unrecognizedObjectKeys: "strip",
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: serializers.encounters.v4.Encounter.parseOrThrow(_response.body, {
                        unrecognizedObjectKeys: "passthrough",
                        allowUnrecognizedUnionMembers: true,
                        allowUnrecognizedEnumValues: true,
                        breadcrumbsPrefix: ["response"],
                    }),
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (
                (_response.error.body as serializers.encounters.v4.createFromPreEncounterPatientUniversal.Error.Raw)
                    ?.errorName
            ) {
                case "EncounterExternalIdUniquenessError":
                case "EncounterPatientControlNumberUniquenessError":
                case "EntityNotFoundError":
                case "UnauthorizedError":
                case "HttpRequestValidationsError":
                case "SchemaInstanceValidationHttpFailure":
                case "UnprocessableEntityError":
                case "HttpRequestValidationError":
                case "PayerPlanGroupPayerDoesNotMatchInsuranceCardHttpError":
                    return {
                        data: {
                            ok: false,
                            error: serializers.encounters.v4.createFromPreEncounterPatientUniversal.Error.parseOrThrow(
                                _response.error
                                    .body as serializers.encounters.v4.createFromPreEncounterPatientUniversal.Error.Raw,
                                {
                                    unrecognizedObjectKeys: "passthrough",
                                    allowUnrecognizedUnionMembers: true,
                                    allowUnrecognizedEnumValues: true,
                                    breadcrumbsPrefix: ["response"],
                                },
                            ),
                            rawResponse: _response.rawResponse,
                        },
                        rawResponse: _response.rawResponse,
                    };
            }
        }

        return {
            data: {
                ok: false,
                error: CandidApi.encounters.v4.createFromPreEncounterPatientUniversal.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }

    /**
     * @beta This endpoint is in development and may change.
     *
     * Create an encounter from a pre-encounter patient and appointment. This endpoint is intended to be used by consumers who are managing
     * patients and appointments in the pre-encounter service and is currently under development. Consumers who are not taking advantage
     * of the pre-encounter service should use the standard create endpoint.
     *
     * The endpoint will create an encounter from the provided fields, pulling information from the provided patient and appointment objects
     * where applicable. In particular, the following fields are populated from the patient and appointment objects:
     *   - Patient
     *   - Referring Provider
     *   - Subscriber Primary
     *   - Subscriber Secondary
     *   - Referral Number
     *   - Responsible Party
     *   - Guarantor
     *
     * Utilizing this endpoint opts you into automatic updating of the encounter when the patient or appointment is updated, assuming the
     * encounter has not already been submitted or adjudicated.
     *
     * @param {CandidApi.encounters.v4.EncounterCreateFromPreEncounter} request
     * @param {V4Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.encounters.v4.createFromPreEncounterPatient({
     *         renderingProvider: {
     *             npi: "npi"
     *         },
     *         placeOfServiceCode: "01",
     *         diagnoses: [{
     *                 codeType: "ABF",
     *                 code: "code"
     *             }, {
     *                 codeType: "ABF",
     *                 code: "code"
     *             }],
     *         preEncounterPatientId: CandidApi.PreEncounterPatientId("d5e9c84f-c2b2-4bf4-b4b0-7ffd7a9ffc32"),
     *         preEncounterAppointmentIds: [CandidApi.PreEncounterAppointmentId("d5e9c84f-c2b2-4bf4-b4b0-7ffd7a9ffc32"), CandidApi.PreEncounterAppointmentId("d5e9c84f-c2b2-4bf4-b4b0-7ffd7a9ffc32")],
     *         billingProvider: {
     *             address: {
     *                 zipPlusFourCode: "zip_plus_four_code",
     *                 address1: "address1",
     *                 city: "city",
     *                 state: "AA",
     *                 zipCode: "zip_code"
     *             },
     *             taxId: "tax_id",
     *             npi: "npi"
     *         },
     *         externalId: CandidApi.EncounterExternalId("external_id"),
     *         patientAuthorizedRelease: true,
     *         benefitsAssignedToProvider: true,
     *         providerAcceptsAssignment: true,
     *         billableStatus: "BILLABLE"
     *     })
     */
    public createFromPreEncounterPatient(
        request: CandidApi.encounters.v4.EncounterCreateFromPreEncounter,
        requestOptions?: V4Client.RequestOptions,
    ): core.HttpResponsePromise<
        core.APIResponse<CandidApi.encounters.v4.Encounter, CandidApi.encounters.v4.createFromPreEncounterPatient.Error>
    > {
        return core.HttpResponsePromise.fromPromise(this.__createFromPreEncounterPatient(request, requestOptions));
    }

    private async __createFromPreEncounterPatient(
        request: CandidApi.encounters.v4.EncounterCreateFromPreEncounter,
        requestOptions?: V4Client.RequestOptions,
    ): Promise<
        core.WithRawResponse<
            core.APIResponse<
                CandidApi.encounters.v4.Encounter,
                CandidApi.encounters.v4.createFromPreEncounterPatient.Error
            >
        >
    > {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.CandidApiEnvironment.Production
                    ).candidApi,
                "/api/encounters/v4/create-from-pre-encounter",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: serializers.encounters.v4.EncounterCreateFromPreEncounter.jsonOrThrow(request, {
                unrecognizedObjectKeys: "strip",
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: serializers.encounters.v4.Encounter.parseOrThrow(_response.body, {
                        unrecognizedObjectKeys: "passthrough",
                        allowUnrecognizedUnionMembers: true,
                        allowUnrecognizedEnumValues: true,
                        breadcrumbsPrefix: ["response"],
                    }),
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (
                (_response.error.body as serializers.encounters.v4.createFromPreEncounterPatient.Error.Raw)?.errorName
            ) {
                case "EncounterExternalIdUniquenessError":
                case "EncounterPatientControlNumberUniquenessError":
                case "EntityNotFoundError":
                case "UnauthorizedError":
                case "HttpRequestValidationsError":
                case "SchemaInstanceValidationHttpFailure":
                case "UnprocessableEntityError":
                case "HttpRequestValidationError":
                case "PayerPlanGroupPayerDoesNotMatchInsuranceCardHttpError":
                    return {
                        data: {
                            ok: false,
                            error: serializers.encounters.v4.createFromPreEncounterPatient.Error.parseOrThrow(
                                _response.error
                                    .body as serializers.encounters.v4.createFromPreEncounterPatient.Error.Raw,
                                {
                                    unrecognizedObjectKeys: "passthrough",
                                    allowUnrecognizedUnionMembers: true,
                                    allowUnrecognizedEnumValues: true,
                                    breadcrumbsPrefix: ["response"],
                                },
                            ),
                            rawResponse: _response.rawResponse,
                        },
                        rawResponse: _response.rawResponse,
                    };
            }
        }

        return {
            data: {
                ok: false,
                error: CandidApi.encounters.v4.createFromPreEncounterPatient.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }

    /**
     * @beta This endpoint is in development and may change.
     *
     * Notice: The UB-04 Data File, 2025, is copyrighted by American Hospital Association (AHA), Chicago, Illinois.
     * No portion of the THE UB-04 Data File, may be reproduced, stored in a retrieval system, or transmitted,
     * in any form or by any means, electronic, mechanical, photocopying, recording, or otherwise, without prior
     * express, written consent of AHA.
     *
     * @param {CandidApi.EncounterId} encounter_id
     * @param {CandidApi.encountersUniversal.UniversalEncounterUpdate} request
     * @param {V4Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.encounters.v4.updateUniversal(CandidApi.EncounterId("d5e9c84f-c2b2-4bf4-b4b0-7ffd7a9ffc32"), {})
     */
    public updateUniversal(
        encounter_id: CandidApi.EncounterId,
        request: CandidApi.encountersUniversal.UniversalEncounterUpdate,
        requestOptions?: V4Client.RequestOptions,
    ): core.HttpResponsePromise<
        core.APIResponse<CandidApi.encounters.v4.Encounter, CandidApi.encounters.v4.updateUniversal.Error>
    > {
        return core.HttpResponsePromise.fromPromise(this.__updateUniversal(encounter_id, request, requestOptions));
    }

    private async __updateUniversal(
        encounter_id: CandidApi.EncounterId,
        request: CandidApi.encountersUniversal.UniversalEncounterUpdate,
        requestOptions?: V4Client.RequestOptions,
    ): Promise<
        core.WithRawResponse<
            core.APIResponse<CandidApi.encounters.v4.Encounter, CandidApi.encounters.v4.updateUniversal.Error>
        >
    > {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.CandidApiEnvironment.Production
                    ).candidApi,
                `/api/encounters/v4/${core.url.encodePathParam(serializers.EncounterId.jsonOrThrow(encounter_id))}/universal`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: serializers.encountersUniversal.UniversalEncounterUpdate.jsonOrThrow(request, {
                unrecognizedObjectKeys: "strip",
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: serializers.encounters.v4.Encounter.parseOrThrow(_response.body, {
                        unrecognizedObjectKeys: "passthrough",
                        allowUnrecognizedUnionMembers: true,
                        allowUnrecognizedEnumValues: true,
                        breadcrumbsPrefix: ["response"],
                    }),
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch ((_response.error.body as serializers.encounters.v4.updateUniversal.Error.Raw)?.errorName) {
                case "EncounterExternalIdUniquenessError":
                case "EntityNotFoundError":
                case "UnauthorizedError":
                case "HttpRequestValidationsError":
                case "SchemaInstanceValidationHttpFailure":
                case "UnprocessableEntityError":
                case "InvalidTagNamesError":
                case "PayerPlanGroupPayerDoesNotMatchInsuranceCardHttpError":
                    return {
                        data: {
                            ok: false,
                            error: serializers.encounters.v4.updateUniversal.Error.parseOrThrow(
                                _response.error.body as serializers.encounters.v4.updateUniversal.Error.Raw,
                                {
                                    unrecognizedObjectKeys: "passthrough",
                                    allowUnrecognizedUnionMembers: true,
                                    allowUnrecognizedEnumValues: true,
                                    breadcrumbsPrefix: ["response"],
                                },
                            ),
                            rawResponse: _response.rawResponse,
                        },
                        rawResponse: _response.rawResponse,
                    };
            }
        }

        return {
            data: {
                ok: false,
                error: CandidApi.encounters.v4.updateUniversal.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }

    /**
     * @param {CandidApi.EncounterId} encounter_id
     * @param {CandidApi.encounters.v4.EncounterUpdate} request
     * @param {V4Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.encounters.v4.update(CandidApi.EncounterId("d5e9c84f-c2b2-4bf4-b4b0-7ffd7a9ffc32"), {})
     */
    public update(
        encounter_id: CandidApi.EncounterId,
        request: CandidApi.encounters.v4.EncounterUpdate,
        requestOptions?: V4Client.RequestOptions,
    ): core.HttpResponsePromise<
        core.APIResponse<CandidApi.encounters.v4.Encounter, CandidApi.encounters.v4.update.Error>
    > {
        return core.HttpResponsePromise.fromPromise(this.__update(encounter_id, request, requestOptions));
    }

    private async __update(
        encounter_id: CandidApi.EncounterId,
        request: CandidApi.encounters.v4.EncounterUpdate,
        requestOptions?: V4Client.RequestOptions,
    ): Promise<
        core.WithRawResponse<core.APIResponse<CandidApi.encounters.v4.Encounter, CandidApi.encounters.v4.update.Error>>
    > {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.CandidApiEnvironment.Production
                    ).candidApi,
                `/api/encounters/v4/${core.url.encodePathParam(serializers.EncounterId.jsonOrThrow(encounter_id))}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: serializers.encounters.v4.EncounterUpdate.jsonOrThrow(request, { unrecognizedObjectKeys: "strip" }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: serializers.encounters.v4.Encounter.parseOrThrow(_response.body, {
                        unrecognizedObjectKeys: "passthrough",
                        allowUnrecognizedUnionMembers: true,
                        allowUnrecognizedEnumValues: true,
                        breadcrumbsPrefix: ["response"],
                    }),
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch ((_response.error.body as serializers.encounters.v4.update.Error.Raw)?.errorName) {
                case "EncounterExternalIdUniquenessError":
                case "EntityNotFoundError":
                case "UnauthorizedError":
                case "HttpRequestValidationsError":
                case "SchemaInstanceValidationHttpFailure":
                case "UnprocessableEntityError":
                case "InvalidTagNamesError":
                case "PayerPlanGroupPayerDoesNotMatchInsuranceCardHttpError":
                    return {
                        data: {
                            ok: false,
                            error: serializers.encounters.v4.update.Error.parseOrThrow(
                                _response.error.body as serializers.encounters.v4.update.Error.Raw,
                                {
                                    unrecognizedObjectKeys: "passthrough",
                                    allowUnrecognizedUnionMembers: true,
                                    allowUnrecognizedEnumValues: true,
                                    breadcrumbsPrefix: ["response"],
                                },
                            ),
                            rawResponse: _response.rawResponse,
                        },
                        rawResponse: _response.rawResponse,
                    };
            }
        }

        return {
            data: {
                ok: false,
                error: CandidApi.encounters.v4.update.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }
}
