// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient";
import * as core from "../../../../../../core";
import { mergeHeaders } from "../../../../../../core/headers";
import * as environments from "../../../../../../environments";
import * as serializers from "../../../../../../serialization/index";
import * as CandidApi from "../../../../../index";

export declare namespace V2Client {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class V2Client {
    protected readonly _options: NormalizedClientOptionsWithAuth<V2Client.Options>;

    constructor(options: V2Client.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Provisions a machine-to-machine (M2M) API user. Requires `organization_id`.
     *
     * @param {CandidApi.users.v2.M2MUserCreateV2} request
     * @param {V2Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.users.v2.createM2MUserV2({
     *         name: "name",
     *         organizationId: CandidApi.OrganizationId("d5e9c84f-c2b2-4bf4-b4b0-7ffd7a9ffc32")
     *     })
     */
    public createM2MUserV2(
        request: CandidApi.users.v2.M2MUserCreateV2,
        requestOptions?: V2Client.RequestOptions,
    ): core.HttpResponsePromise<
        core.APIResponse<CandidApi.users.v2.M2MUserResponse, CandidApi.users.v2.createM2MUserV2.Error>
    > {
        return core.HttpResponsePromise.fromPromise(this.__createM2MUserV2(request, requestOptions));
    }

    private async __createM2MUserV2(
        request: CandidApi.users.v2.M2MUserCreateV2,
        requestOptions?: V2Client.RequestOptions,
    ): Promise<
        core.WithRawResponse<
            core.APIResponse<CandidApi.users.v2.M2MUserResponse, CandidApi.users.v2.createM2MUserV2.Error>
        >
    > {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.CandidApiEnvironment.Production
                    ).candidApi,
                "/api/users/v2/m2m/client",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: serializers.users.v2.M2MUserCreateV2.jsonOrThrow(request, { unrecognizedObjectKeys: "strip" }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: serializers.users.v2.M2MUserResponse.parseOrThrow(_response.body, {
                        unrecognizedObjectKeys: "passthrough",
                        allowUnrecognizedUnionMembers: true,
                        allowUnrecognizedEnumValues: true,
                        breadcrumbsPrefix: ["response"],
                    }),
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch ((_response.error.body as serializers.users.v2.createM2MUserV2.Error.Raw)?.errorName) {
                case "EntityConflictError":
                case "M2MUserLimitReachedHttpError":
                case "M2MUserFailedToCreateHttpError":
                    return {
                        data: {
                            ok: false,
                            error: serializers.users.v2.createM2MUserV2.Error.parseOrThrow(
                                _response.error.body as serializers.users.v2.createM2MUserV2.Error.Raw,
                                {
                                    unrecognizedObjectKeys: "passthrough",
                                    allowUnrecognizedUnionMembers: true,
                                    allowUnrecognizedEnumValues: true,
                                    breadcrumbsPrefix: ["response"],
                                },
                            ),
                            rawResponse: _response.rawResponse,
                        },
                        rawResponse: _response.rawResponse,
                    };
            }
        }

        return {
            data: {
                ok: false,
                error: CandidApi.users.v2.createM2MUserV2.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }
}
