// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient";
import {
    type NormalizedClientOptionsWithAuth,
    normalizeClientOptionsWithAuth,
} from "../../../../../../../../BaseClient";
import * as core from "../../../../../../../../core";
import { mergeHeaders } from "../../../../../../../../core/headers";
import * as environments from "../../../../../../../../environments";
import * as serializers from "../../../../../../../../serialization/index";
import * as CandidApi from "../../../../../../../index";

export declare namespace V1Client {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class V1Client {
    protected readonly _options: NormalizedClientOptionsWithAuth<V1Client.Options>;

    constructor(options: V1Client.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Gets patients with dependent objects for patients that match the query parameters.
     *
     * @param {CandidApi.preEncounter.lists.v1.PatientListRequest} request
     * @param {V1Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.preEncounter.lists.v1.getPatientList()
     */
    public getPatientList(
        request: CandidApi.preEncounter.lists.v1.PatientListRequest = {},
        requestOptions?: V1Client.RequestOptions,
    ): core.HttpResponsePromise<
        core.APIResponse<
            CandidApi.preEncounter.lists.v1.PatientListPage,
            CandidApi.preEncounter.lists.v1.getPatientList.Error
        >
    > {
        return core.HttpResponsePromise.fromPromise(this.__getPatientList(request, requestOptions));
    }

    private async __getPatientList(
        request: CandidApi.preEncounter.lists.v1.PatientListRequest = {},
        requestOptions?: V1Client.RequestOptions,
    ): Promise<
        core.WithRawResponse<
            core.APIResponse<
                CandidApi.preEncounter.lists.v1.PatientListPage,
                CandidApi.preEncounter.lists.v1.getPatientList.Error
            >
        >
    > {
        const {
            pageToken,
            limit,
            sortField,
            sortDirection,
            filters,
            includeDeactivated,
            redirectToPrimary,
            hideAlternatives,
        } = request;
        const _queryParams: Record<string, unknown> = {
            page_token: pageToken,
            limit,
            sort_field: sortField,
            sort_direction:
                sortDirection != null
                    ? serializers.preEncounter.SortDirection.jsonOrThrow(sortDirection, {
                          unrecognizedObjectKeys: "strip",
                      })
                    : undefined,
            filters,
            include_deactivated: includeDeactivated,
            redirect_to_primary: redirectToPrimary,
            hide_alternatives: hideAlternatives,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.CandidApiEnvironment.Production
                    ).preEncounter,
                "/lists/v1/patient",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: serializers.preEncounter.lists.v1.PatientListPage.parseOrThrow(_response.body, {
                        unrecognizedObjectKeys: "passthrough",
                        allowUnrecognizedUnionMembers: true,
                        allowUnrecognizedEnumValues: true,
                        breadcrumbsPrefix: ["response"],
                    }),
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch ((_response.error.body as serializers.preEncounter.lists.v1.getPatientList.Error.Raw)?.errorName) {
                case "BadRequestError":
                    return {
                        data: {
                            ok: false,
                            error: serializers.preEncounter.lists.v1.getPatientList.Error.parseOrThrow(
                                _response.error.body as serializers.preEncounter.lists.v1.getPatientList.Error.Raw,
                                {
                                    unrecognizedObjectKeys: "passthrough",
                                    allowUnrecognizedUnionMembers: true,
                                    allowUnrecognizedEnumValues: true,
                                    breadcrumbsPrefix: ["response"],
                                },
                            ),
                            rawResponse: _response.rawResponse,
                        },
                        rawResponse: _response.rawResponse,
                    };
            }
        }

        return {
            data: {
                ok: false,
                error: CandidApi.preEncounter.lists.v1.getPatientList.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }

    /**
     * Searches for appointments that match the query parameters.
     *
     * @param {CandidApi.preEncounter.lists.v1.AppointmentsGetListRequest} request
     * @param {V1Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.preEncounter.lists.v1.getAppointmentList()
     */
    public getAppointmentList(
        request: CandidApi.preEncounter.lists.v1.AppointmentsGetListRequest = {},
        requestOptions?: V1Client.RequestOptions,
    ): core.HttpResponsePromise<
        core.APIResponse<
            CandidApi.preEncounter.lists.v1.AppointmentListPage,
            CandidApi.preEncounter.lists.v1.getAppointmentList.Error
        >
    > {
        return core.HttpResponsePromise.fromPromise(this.__getAppointmentList(request, requestOptions));
    }

    private async __getAppointmentList(
        request: CandidApi.preEncounter.lists.v1.AppointmentsGetListRequest = {},
        requestOptions?: V1Client.RequestOptions,
    ): Promise<
        core.WithRawResponse<
            core.APIResponse<
                CandidApi.preEncounter.lists.v1.AppointmentListPage,
                CandidApi.preEncounter.lists.v1.getAppointmentList.Error
            >
        >
    > {
        const { sortField, sortDirection, limit, pageToken, filters, includeDeactivated, includeMergedPatientData } =
            request;
        const _queryParams: Record<string, unknown> = {
            sort_field: sortField,
            sort_direction:
                sortDirection != null
                    ? serializers.preEncounter.SortDirection.jsonOrThrow(sortDirection, {
                          unrecognizedObjectKeys: "strip",
                      })
                    : undefined,
            limit,
            page_token: pageToken,
            filters,
            include_deactivated: includeDeactivated,
            include_merged_patient_data: includeMergedPatientData,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.CandidApiEnvironment.Production
                    ).preEncounter,
                "/lists/v1/appointment",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: serializers.preEncounter.lists.v1.AppointmentListPage.parseOrThrow(_response.body, {
                        unrecognizedObjectKeys: "passthrough",
                        allowUnrecognizedUnionMembers: true,
                        allowUnrecognizedEnumValues: true,
                        breadcrumbsPrefix: ["response"],
                    }),
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        return {
            data: {
                ok: false,
                error: CandidApi.preEncounter.lists.v1.getAppointmentList.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }
}
