// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient";
import * as core from "../../../../../../core";
import { mergeHeaders } from "../../../../../../core/headers";
import * as environments from "../../../../../../environments";
import * as serializers from "../../../../../../serialization/index";
import * as CandidApi from "../../../../../index";

export declare namespace V4Client {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class V4Client {
    protected readonly _options: NormalizedClientOptionsWithAuth<V4Client.Options>;

    constructor(options: V4Client.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @param {CandidApi.payers.v4.PayerUuid} payer_uuid
     * @param {V4Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.payers.v4.get(CandidApi.payers.v4.PayerUuid("d5e9c84f-c2b2-4bf4-b4b0-7ffd7a9ffc32"))
     */
    public get(
        payer_uuid: CandidApi.payers.v4.PayerUuid,
        requestOptions?: V4Client.RequestOptions,
    ): core.HttpResponsePromise<core.APIResponse<CandidApi.payers.v4.Payer, CandidApi.payers.v4.get.Error>> {
        return core.HttpResponsePromise.fromPromise(this.__get(payer_uuid, requestOptions));
    }

    private async __get(
        payer_uuid: CandidApi.payers.v4.PayerUuid,
        requestOptions?: V4Client.RequestOptions,
    ): Promise<core.WithRawResponse<core.APIResponse<CandidApi.payers.v4.Payer, CandidApi.payers.v4.get.Error>>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.CandidApiEnvironment.Production
                    ).candidApi,
                `/api/payers/v4/${core.url.encodePathParam(serializers.payers.v4.PayerUuid.jsonOrThrow(payer_uuid))}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: serializers.payers.v4.Payer.parseOrThrow(_response.body, {
                        unrecognizedObjectKeys: "passthrough",
                        allowUnrecognizedUnionMembers: true,
                        allowUnrecognizedEnumValues: true,
                        breadcrumbsPrefix: ["response"],
                    }),
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        return {
            data: {
                ok: false,
                error: CandidApi.payers.v4.get.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }

    /**
     * @param {CandidApi.payers.v4.GetAllPayersRequest} request
     * @param {V4Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.payers.v4.getAll()
     */
    public getAll(
        request: CandidApi.payers.v4.GetAllPayersRequest = {},
        requestOptions?: V4Client.RequestOptions,
    ): core.HttpResponsePromise<core.APIResponse<CandidApi.payers.v4.PayerPage, CandidApi.payers.v4.getAll.Error>> {
        return core.HttpResponsePromise.fromPromise(this.__getAll(request, requestOptions));
    }

    private async __getAll(
        request: CandidApi.payers.v4.GetAllPayersRequest = {},
        requestOptions?: V4Client.RequestOptions,
    ): Promise<
        core.WithRawResponse<core.APIResponse<CandidApi.payers.v4.PayerPage, CandidApi.payers.v4.getAll.Error>>
    > {
        const { limit, searchTerm, pageToken } = request;
        const _queryParams: Record<string, unknown> = {
            limit,
            search_term: searchTerm,
            page_token: pageToken,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.CandidApiEnvironment.Production
                    ).candidApi,
                "/api/payers/v4",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: serializers.payers.v4.PayerPage.parseOrThrow(_response.body, {
                        unrecognizedObjectKeys: "passthrough",
                        allowUnrecognizedUnionMembers: true,
                        allowUnrecognizedEnumValues: true,
                        breadcrumbsPrefix: ["response"],
                    }),
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        return {
            data: {
                ok: false,
                error: CandidApi.payers.v4.getAll.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }
}
