// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient";
import * as core from "../../../../../../core";
import { mergeHeaders } from "../../../../../../core/headers";
import * as environments from "../../../../../../environments";
import * as serializers from "../../../../../../serialization/index";
import * as CandidApi from "../../../../../index";

export declare namespace V1Client {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class V1Client {
    protected readonly _options: NormalizedClientOptionsWithAuth<V1Client.Options>;

    constructor(options: V1Client.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @param {CandidApi.nonInsurancePayers.v1.CreateNonInsurancePayerRequest} request
     * @param {V1Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.nonInsurancePayers.v1.create({
     *         name: "name"
     *     })
     */
    public create(
        request: CandidApi.nonInsurancePayers.v1.CreateNonInsurancePayerRequest,
        requestOptions?: V1Client.RequestOptions,
    ): core.HttpResponsePromise<
        core.APIResponse<
            CandidApi.nonInsurancePayers.v1.NonInsurancePayer,
            CandidApi.nonInsurancePayers.v1.create.Error
        >
    > {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CandidApi.nonInsurancePayers.v1.CreateNonInsurancePayerRequest,
        requestOptions?: V1Client.RequestOptions,
    ): Promise<
        core.WithRawResponse<
            core.APIResponse<
                CandidApi.nonInsurancePayers.v1.NonInsurancePayer,
                CandidApi.nonInsurancePayers.v1.create.Error
            >
        >
    > {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.CandidApiEnvironment.Production
                    ).candidApi,
                "/api/non-insurance-payers/v1",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: serializers.nonInsurancePayers.v1.CreateNonInsurancePayerRequest.jsonOrThrow(request, {
                unrecognizedObjectKeys: "strip",
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: serializers.nonInsurancePayers.v1.NonInsurancePayer.parseOrThrow(_response.body, {
                        unrecognizedObjectKeys: "passthrough",
                        allowUnrecognizedUnionMembers: true,
                        allowUnrecognizedEnumValues: true,
                        breadcrumbsPrefix: ["response"],
                    }),
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch ((_response.error.body as serializers.nonInsurancePayers.v1.create.Error.Raw)?.errorName) {
                case "EntityNotFoundError":
                case "EntityConflictError":
                    return {
                        data: {
                            ok: false,
                            error: serializers.nonInsurancePayers.v1.create.Error.parseOrThrow(
                                _response.error.body as serializers.nonInsurancePayers.v1.create.Error.Raw,
                                {
                                    unrecognizedObjectKeys: "passthrough",
                                    allowUnrecognizedUnionMembers: true,
                                    allowUnrecognizedEnumValues: true,
                                    breadcrumbsPrefix: ["response"],
                                },
                            ),
                            rawResponse: _response.rawResponse,
                        },
                        rawResponse: _response.rawResponse,
                    };
            }
        }

        return {
            data: {
                ok: false,
                error: CandidApi.nonInsurancePayers.v1.create.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }

    /**
     * @param {CandidApi.nonInsurancePayers.v1.NonInsurancePayerId} non_insurance_payer_id
     * @param {CandidApi.nonInsurancePayers.v1.ToggleNonInsurancePayerEnablementRequest} request
     * @param {V1Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.nonInsurancePayers.v1.toggleEnablement(CandidApi.nonInsurancePayers.v1.NonInsurancePayerId("d5e9c84f-c2b2-4bf4-b4b0-7ffd7a9ffc32"), {
     *         enabled: true
     *     })
     */
    public toggleEnablement(
        non_insurance_payer_id: CandidApi.nonInsurancePayers.v1.NonInsurancePayerId,
        request: CandidApi.nonInsurancePayers.v1.ToggleNonInsurancePayerEnablementRequest,
        requestOptions?: V1Client.RequestOptions,
    ): core.HttpResponsePromise<
        core.APIResponse<
            CandidApi.nonInsurancePayers.v1.NonInsurancePayer,
            CandidApi.nonInsurancePayers.v1.toggleEnablement.Error
        >
    > {
        return core.HttpResponsePromise.fromPromise(
            this.__toggleEnablement(non_insurance_payer_id, request, requestOptions),
        );
    }

    private async __toggleEnablement(
        non_insurance_payer_id: CandidApi.nonInsurancePayers.v1.NonInsurancePayerId,
        request: CandidApi.nonInsurancePayers.v1.ToggleNonInsurancePayerEnablementRequest,
        requestOptions?: V1Client.RequestOptions,
    ): Promise<
        core.WithRawResponse<
            core.APIResponse<
                CandidApi.nonInsurancePayers.v1.NonInsurancePayer,
                CandidApi.nonInsurancePayers.v1.toggleEnablement.Error
            >
        >
    > {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.CandidApiEnvironment.Production
                    ).candidApi,
                `/api/non-insurance-payers/v1/${core.url.encodePathParam(serializers.nonInsurancePayers.v1.NonInsurancePayerId.jsonOrThrow(non_insurance_payer_id))}/toggle_enablement`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: serializers.nonInsurancePayers.v1.ToggleNonInsurancePayerEnablementRequest.jsonOrThrow(request, {
                unrecognizedObjectKeys: "strip",
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: serializers.nonInsurancePayers.v1.NonInsurancePayer.parseOrThrow(_response.body, {
                        unrecognizedObjectKeys: "passthrough",
                        allowUnrecognizedUnionMembers: true,
                        allowUnrecognizedEnumValues: true,
                        breadcrumbsPrefix: ["response"],
                    }),
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch ((_response.error.body as serializers.nonInsurancePayers.v1.toggleEnablement.Error.Raw)?.errorName) {
                case "EntityNotFoundError":
                    return {
                        data: {
                            ok: false,
                            error: serializers.nonInsurancePayers.v1.toggleEnablement.Error.parseOrThrow(
                                _response.error.body as serializers.nonInsurancePayers.v1.toggleEnablement.Error.Raw,
                                {
                                    unrecognizedObjectKeys: "passthrough",
                                    allowUnrecognizedUnionMembers: true,
                                    allowUnrecognizedEnumValues: true,
                                    breadcrumbsPrefix: ["response"],
                                },
                            ),
                            rawResponse: _response.rawResponse,
                        },
                        rawResponse: _response.rawResponse,
                    };
            }
        }

        return {
            data: {
                ok: false,
                error: CandidApi.nonInsurancePayers.v1.toggleEnablement.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }

    /**
     * @param {CandidApi.nonInsurancePayers.v1.GetMultiNonInsurancePayersRequest} request
     * @param {V1Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.nonInsurancePayers.v1.getMulti()
     */
    public getMulti(
        request: CandidApi.nonInsurancePayers.v1.GetMultiNonInsurancePayersRequest = {},
        requestOptions?: V1Client.RequestOptions,
    ): core.HttpResponsePromise<
        core.APIResponse<
            CandidApi.nonInsurancePayers.v1.NonInsurancePayerPage,
            CandidApi.nonInsurancePayers.v1.getMulti.Error
        >
    > {
        return core.HttpResponsePromise.fromPromise(this.__getMulti(request, requestOptions));
    }

    private async __getMulti(
        request: CandidApi.nonInsurancePayers.v1.GetMultiNonInsurancePayersRequest = {},
        requestOptions?: V1Client.RequestOptions,
    ): Promise<
        core.WithRawResponse<
            core.APIResponse<
                CandidApi.nonInsurancePayers.v1.NonInsurancePayerPage,
                CandidApi.nonInsurancePayers.v1.getMulti.Error
            >
        >
    > {
        const {
            name,
            category,
            categoriesExact,
            clinicalTrialIds,
            enabled,
            sort,
            sortDirection,
            limit,
            pageToken,
            organizationId,
        } = request;
        const _queryParams: Record<string, unknown> = {
            name,
            category,
            categories_exact: categoriesExact,
            clinical_trial_ids: clinicalTrialIds,
            enabled,
            sort:
                sort != null
                    ? serializers.nonInsurancePayers.v1.NonInsurancePayerSortField.jsonOrThrow(sort, {
                          unrecognizedObjectKeys: "strip",
                      })
                    : undefined,
            sort_direction:
                sortDirection != null
                    ? serializers.SortDirection.jsonOrThrow(sortDirection, { unrecognizedObjectKeys: "strip" })
                    : undefined,
            limit,
            page_token: pageToken,
            organization_id: organizationId,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.CandidApiEnvironment.Production
                    ).candidApi,
                "/api/non-insurance-payers/v1",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: serializers.nonInsurancePayers.v1.NonInsurancePayerPage.parseOrThrow(_response.body, {
                        unrecognizedObjectKeys: "passthrough",
                        allowUnrecognizedUnionMembers: true,
                        allowUnrecognizedEnumValues: true,
                        breadcrumbsPrefix: ["response"],
                    }),
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch ((_response.error.body as serializers.nonInsurancePayers.v1.getMulti.Error.Raw)?.errorName) {
                case "UnprocessableEntityError":
                case "UnauthorizedError":
                    return {
                        data: {
                            ok: false,
                            error: serializers.nonInsurancePayers.v1.getMulti.Error.parseOrThrow(
                                _response.error.body as serializers.nonInsurancePayers.v1.getMulti.Error.Raw,
                                {
                                    unrecognizedObjectKeys: "passthrough",
                                    allowUnrecognizedUnionMembers: true,
                                    allowUnrecognizedEnumValues: true,
                                    breadcrumbsPrefix: ["response"],
                                },
                            ),
                            rawResponse: _response.rawResponse,
                        },
                        rawResponse: _response.rawResponse,
                    };
            }
        }

        return {
            data: {
                ok: false,
                error: CandidApi.nonInsurancePayers.v1.getMulti.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }

    /**
     * Returns a paginated list of all non-insurance payer categories.
     *
     * Non-insurance payer categories are simply strings and are not stored as a
     * separate object in Candid. They are created when added to at least one
     * non-insurance payer's `category` field and are deleted when there are no
     * longer any non-insurance payers that contain them.
     *
     * @param {CandidApi.nonInsurancePayers.v1.GetNonInsurancePayersCategoriesRequest} request
     * @param {V1Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.nonInsurancePayers.v1.getCategories()
     */
    public getCategories(
        request: CandidApi.nonInsurancePayers.v1.GetNonInsurancePayersCategoriesRequest = {},
        requestOptions?: V1Client.RequestOptions,
    ): core.HttpResponsePromise<
        core.APIResponse<
            CandidApi.nonInsurancePayers.v1.NonInsurancePayerCategoriesPage,
            CandidApi.nonInsurancePayers.v1.getCategories.Error
        >
    > {
        return core.HttpResponsePromise.fromPromise(this.__getCategories(request, requestOptions));
    }

    private async __getCategories(
        request: CandidApi.nonInsurancePayers.v1.GetNonInsurancePayersCategoriesRequest = {},
        requestOptions?: V1Client.RequestOptions,
    ): Promise<
        core.WithRawResponse<
            core.APIResponse<
                CandidApi.nonInsurancePayers.v1.NonInsurancePayerCategoriesPage,
                CandidApi.nonInsurancePayers.v1.getCategories.Error
            >
        >
    > {
        const { searchTerm, limit, pageToken } = request;
        const _queryParams: Record<string, unknown> = {
            search_term: searchTerm,
            limit,
            page_token: pageToken,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.CandidApiEnvironment.Production
                    ).candidApi,
                "/api/non-insurance-payers/v1/categories",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: serializers.nonInsurancePayers.v1.NonInsurancePayerCategoriesPage.parseOrThrow(
                        _response.body,
                        {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            breadcrumbsPrefix: ["response"],
                        },
                    ),
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        return {
            data: {
                ok: false,
                error: CandidApi.nonInsurancePayers.v1.getCategories.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }

    /**
     * @param {CandidApi.nonInsurancePayers.v1.NonInsurancePayerId} non_insurance_payer_id
     * @param {CandidApi.nonInsurancePayers.v1.GetNonInsurancePayerRequest} request
     * @param {V1Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.nonInsurancePayers.v1.get(CandidApi.nonInsurancePayers.v1.NonInsurancePayerId("d5e9c84f-c2b2-4bf4-b4b0-7ffd7a9ffc32"))
     */
    public get(
        non_insurance_payer_id: CandidApi.nonInsurancePayers.v1.NonInsurancePayerId,
        request: CandidApi.nonInsurancePayers.v1.GetNonInsurancePayerRequest = {},
        requestOptions?: V1Client.RequestOptions,
    ): core.HttpResponsePromise<
        core.APIResponse<CandidApi.nonInsurancePayers.v1.NonInsurancePayer, CandidApi.nonInsurancePayers.v1.get.Error>
    > {
        return core.HttpResponsePromise.fromPromise(this.__get(non_insurance_payer_id, request, requestOptions));
    }

    private async __get(
        non_insurance_payer_id: CandidApi.nonInsurancePayers.v1.NonInsurancePayerId,
        request: CandidApi.nonInsurancePayers.v1.GetNonInsurancePayerRequest = {},
        requestOptions?: V1Client.RequestOptions,
    ): Promise<
        core.WithRawResponse<
            core.APIResponse<
                CandidApi.nonInsurancePayers.v1.NonInsurancePayer,
                CandidApi.nonInsurancePayers.v1.get.Error
            >
        >
    > {
        const { organizationId } = request;
        const _queryParams: Record<string, unknown> = {
            organization_id: organizationId,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.CandidApiEnvironment.Production
                    ).candidApi,
                `/api/non-insurance-payers/v1/${core.url.encodePathParam(serializers.nonInsurancePayers.v1.NonInsurancePayerId.jsonOrThrow(non_insurance_payer_id))}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: serializers.nonInsurancePayers.v1.NonInsurancePayer.parseOrThrow(_response.body, {
                        unrecognizedObjectKeys: "passthrough",
                        allowUnrecognizedUnionMembers: true,
                        allowUnrecognizedEnumValues: true,
                        breadcrumbsPrefix: ["response"],
                    }),
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch ((_response.error.body as serializers.nonInsurancePayers.v1.get.Error.Raw)?.errorName) {
                case "EntityNotFoundError":
                    return {
                        data: {
                            ok: false,
                            error: serializers.nonInsurancePayers.v1.get.Error.parseOrThrow(
                                _response.error.body as serializers.nonInsurancePayers.v1.get.Error.Raw,
                                {
                                    unrecognizedObjectKeys: "passthrough",
                                    allowUnrecognizedUnionMembers: true,
                                    allowUnrecognizedEnumValues: true,
                                    breadcrumbsPrefix: ["response"],
                                },
                            ),
                            rawResponse: _response.rawResponse,
                        },
                        rawResponse: _response.rawResponse,
                    };
            }
        }

        return {
            data: {
                ok: false,
                error: CandidApi.nonInsurancePayers.v1.get.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }

    /**
     * @param {CandidApi.nonInsurancePayers.v1.NonInsurancePayerId} non_insurance_payer_id
     * @param {CandidApi.nonInsurancePayers.v1.NonInsurancePayerUpdateRequest} request
     * @param {V1Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.nonInsurancePayers.v1.update(CandidApi.nonInsurancePayers.v1.NonInsurancePayerId("d5e9c84f-c2b2-4bf4-b4b0-7ffd7a9ffc32"), {})
     */
    public update(
        non_insurance_payer_id: CandidApi.nonInsurancePayers.v1.NonInsurancePayerId,
        request: CandidApi.nonInsurancePayers.v1.NonInsurancePayerUpdateRequest,
        requestOptions?: V1Client.RequestOptions,
    ): core.HttpResponsePromise<
        core.APIResponse<
            CandidApi.nonInsurancePayers.v1.NonInsurancePayer,
            CandidApi.nonInsurancePayers.v1.update.Error
        >
    > {
        return core.HttpResponsePromise.fromPromise(this.__update(non_insurance_payer_id, request, requestOptions));
    }

    private async __update(
        non_insurance_payer_id: CandidApi.nonInsurancePayers.v1.NonInsurancePayerId,
        request: CandidApi.nonInsurancePayers.v1.NonInsurancePayerUpdateRequest,
        requestOptions?: V1Client.RequestOptions,
    ): Promise<
        core.WithRawResponse<
            core.APIResponse<
                CandidApi.nonInsurancePayers.v1.NonInsurancePayer,
                CandidApi.nonInsurancePayers.v1.update.Error
            >
        >
    > {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.CandidApiEnvironment.Production
                    ).candidApi,
                `/api/non-insurance-payers/v1/${core.url.encodePathParam(serializers.nonInsurancePayers.v1.NonInsurancePayerId.jsonOrThrow(non_insurance_payer_id))}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: serializers.nonInsurancePayers.v1.NonInsurancePayerUpdateRequest.jsonOrThrow(request, {
                unrecognizedObjectKeys: "strip",
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: serializers.nonInsurancePayers.v1.NonInsurancePayer.parseOrThrow(_response.body, {
                        unrecognizedObjectKeys: "passthrough",
                        allowUnrecognizedUnionMembers: true,
                        allowUnrecognizedEnumValues: true,
                        breadcrumbsPrefix: ["response"],
                    }),
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch ((_response.error.body as serializers.nonInsurancePayers.v1.update.Error.Raw)?.errorName) {
                case "EntityNotFoundError":
                case "EntityConflictError":
                    return {
                        data: {
                            ok: false,
                            error: serializers.nonInsurancePayers.v1.update.Error.parseOrThrow(
                                _response.error.body as serializers.nonInsurancePayers.v1.update.Error.Raw,
                                {
                                    unrecognizedObjectKeys: "passthrough",
                                    allowUnrecognizedUnionMembers: true,
                                    allowUnrecognizedEnumValues: true,
                                    breadcrumbsPrefix: ["response"],
                                },
                            ),
                            rawResponse: _response.rawResponse,
                        },
                        rawResponse: _response.rawResponse,
                    };
            }
        }

        return {
            data: {
                ok: false,
                error: CandidApi.nonInsurancePayers.v1.update.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }

    /**
     * @param {CandidApi.nonInsurancePayers.v1.NonInsurancePayerId} non_insurance_payer_id
     * @param {V1Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.nonInsurancePayers.v1.delete(CandidApi.nonInsurancePayers.v1.NonInsurancePayerId("d5e9c84f-c2b2-4bf4-b4b0-7ffd7a9ffc32"))
     */
    public delete(
        non_insurance_payer_id: CandidApi.nonInsurancePayers.v1.NonInsurancePayerId,
        requestOptions?: V1Client.RequestOptions,
    ): core.HttpResponsePromise<core.APIResponse<void, CandidApi.nonInsurancePayers.v1.delete.Error>> {
        return core.HttpResponsePromise.fromPromise(this.__delete(non_insurance_payer_id, requestOptions));
    }

    private async __delete(
        non_insurance_payer_id: CandidApi.nonInsurancePayers.v1.NonInsurancePayerId,
        requestOptions?: V1Client.RequestOptions,
    ): Promise<core.WithRawResponse<core.APIResponse<void, CandidApi.nonInsurancePayers.v1.delete.Error>>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.CandidApiEnvironment.Production
                    ).candidApi,
                `/api/non-insurance-payers/v1/${core.url.encodePathParam(serializers.nonInsurancePayers.v1.NonInsurancePayerId.jsonOrThrow(non_insurance_payer_id))}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: undefined,
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch ((_response.error.body as serializers.nonInsurancePayers.v1.delete.Error.Raw)?.errorName) {
                case "EntityNotFoundError":
                    return {
                        data: {
                            ok: false,
                            error: serializers.nonInsurancePayers.v1.delete.Error.parseOrThrow(
                                _response.error.body as serializers.nonInsurancePayers.v1.delete.Error.Raw,
                                {
                                    unrecognizedObjectKeys: "passthrough",
                                    allowUnrecognizedUnionMembers: true,
                                    allowUnrecognizedEnumValues: true,
                                    breadcrumbsPrefix: ["response"],
                                },
                            ),
                            rawResponse: _response.rawResponse,
                        },
                        rawResponse: _response.rawResponse,
                    };
            }
        }

        return {
            data: {
                ok: false,
                error: CandidApi.nonInsurancePayers.v1.delete.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }
}
