// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient";
import * as core from "../../../../../../core";
import { mergeHeaders } from "../../../../../../core/headers";
import * as environments from "../../../../../../environments";
import * as serializers from "../../../../../../serialization/index";
import * as CandidApi from "../../../../../index";

export declare namespace V1Client {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class V1Client {
    protected readonly _options: NormalizedClientOptionsWithAuth<V1Client.Options>;

    constructor(options: V1Client.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Submit a representation of an encounter to the Candid rules engine. Note that this encounter will not be created in Candid.
     * Returns a run_id that can be polled via GET /runs/{run_id} to retrieve the results once complete.
     *
     * @param {CandidApi.preServiceRules.v1.PreServiceEncounterRunCreate} request
     * @param {V1Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.preServiceRules.v1.createEncounterRun({
     *         entity: {
     *             externalId: "external_id",
     *             patientAuthorizedRelease: true,
     *             benefitsAssignedToProvider: true,
     *             providerAcceptsAssignment: true,
     *             patient: {
     *                 externalId: "external_id",
     *                 dateOfBirth: "2023-01-15",
     *                 address: {
     *                     address1: "address1",
     *                     city: "city",
     *                     state: "AA",
     *                     zipCode: "zip_code"
     *                 },
     *                 firstName: "first_name",
     *                 lastName: "last_name",
     *                 gender: "male"
     *             },
     *             responsibleParty: "INSURANCE_PAY",
     *             billingProvider: {
     *                 address: {
     *                     zipPlusFourCode: "zip_plus_four_code",
     *                     address1: "address1",
     *                     city: "city",
     *                     state: "AA",
     *                     zipCode: "zip_code"
     *                 },
     *                 taxId: "tax_id",
     *                 npi: "npi"
     *             },
     *             submissionExpectation: "TARGET_PROFESSIONAL"
     *         },
     *         pipelineId: "pipeline_id",
     *         enabledRuleIds: ["d5e9c84f-c2b2-4bf4-b4b0-7ffd7a9ffc32", "d5e9c84f-c2b2-4bf4-b4b0-7ffd7a9ffc32"],
     *         disabledRuleIds: ["d5e9c84f-c2b2-4bf4-b4b0-7ffd7a9ffc32", "d5e9c84f-c2b2-4bf4-b4b0-7ffd7a9ffc32"],
     *         idempotencyKey: "idempotency_key"
     *     })
     */
    public createEncounterRun(
        request: CandidApi.preServiceRules.v1.PreServiceEncounterRunCreate,
        requestOptions?: V1Client.RequestOptions,
    ): core.HttpResponsePromise<
        core.APIResponse<
            CandidApi.preServiceRules.v1.PreServiceRunCreateResponse,
            CandidApi.preServiceRules.v1.createEncounterRun.Error
        >
    > {
        return core.HttpResponsePromise.fromPromise(this.__createEncounterRun(request, requestOptions));
    }

    private async __createEncounterRun(
        request: CandidApi.preServiceRules.v1.PreServiceEncounterRunCreate,
        requestOptions?: V1Client.RequestOptions,
    ): Promise<
        core.WithRawResponse<
            core.APIResponse<
                CandidApi.preServiceRules.v1.PreServiceRunCreateResponse,
                CandidApi.preServiceRules.v1.createEncounterRun.Error
            >
        >
    > {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.CandidApiEnvironment.Production
                    ).candidApi,
                "/api/pre-service/v1/runs/encounter",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: serializers.preServiceRules.v1.PreServiceEncounterRunCreate.jsonOrThrow(request, {
                unrecognizedObjectKeys: "strip",
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: serializers.preServiceRules.v1.PreServiceRunCreateResponse.parseOrThrow(_response.body, {
                        unrecognizedObjectKeys: "passthrough",
                        allowUnrecognizedUnionMembers: true,
                        allowUnrecognizedEnumValues: true,
                        breadcrumbsPrefix: ["response"],
                    }),
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch ((_response.error.body as serializers.preServiceRules.v1.createEncounterRun.Error.Raw)?.errorName) {
                case "UnauthorizedError":
                case "UnprocessableEntityError":
                    return {
                        data: {
                            ok: false,
                            error: serializers.preServiceRules.v1.createEncounterRun.Error.parseOrThrow(
                                _response.error.body as serializers.preServiceRules.v1.createEncounterRun.Error.Raw,
                                {
                                    unrecognizedObjectKeys: "passthrough",
                                    allowUnrecognizedUnionMembers: true,
                                    allowUnrecognizedEnumValues: true,
                                    breadcrumbsPrefix: ["response"],
                                },
                            ),
                            rawResponse: _response.rawResponse,
                        },
                        rawResponse: _response.rawResponse,
                    };
            }
        }

        return {
            data: {
                ok: false,
                error: CandidApi.preServiceRules.v1.createEncounterRun.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }

    /**
     * Retrieve the result of a pre-service run. This endpoint supports long-polling.
     *
     * @param {CandidApi.preServiceRules.v1.PreServiceRunId} run_id
     * @param {V1Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.preServiceRules.v1.getRun(CandidApi.preServiceRules.v1.PreServiceRunId("d5e9c84f-c2b2-4bf4-b4b0-7ffd7a9ffc32"))
     */
    public getRun(
        run_id: CandidApi.preServiceRules.v1.PreServiceRunId,
        requestOptions?: V1Client.RequestOptions,
    ): core.HttpResponsePromise<
        core.APIResponse<CandidApi.preServiceRules.v1.PreServiceRun, CandidApi.preServiceRules.v1.getRun.Error>
    > {
        return core.HttpResponsePromise.fromPromise(this.__getRun(run_id, requestOptions));
    }

    private async __getRun(
        run_id: CandidApi.preServiceRules.v1.PreServiceRunId,
        requestOptions?: V1Client.RequestOptions,
    ): Promise<
        core.WithRawResponse<
            core.APIResponse<CandidApi.preServiceRules.v1.PreServiceRun, CandidApi.preServiceRules.v1.getRun.Error>
        >
    > {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.CandidApiEnvironment.Production
                    ).candidApi,
                `/api/pre-service/v1/runs/${core.url.encodePathParam(serializers.preServiceRules.v1.PreServiceRunId.jsonOrThrow(run_id))}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: serializers.preServiceRules.v1.PreServiceRun.parseOrThrow(_response.body, {
                        unrecognizedObjectKeys: "passthrough",
                        allowUnrecognizedUnionMembers: true,
                        allowUnrecognizedEnumValues: true,
                        breadcrumbsPrefix: ["response"],
                    }),
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch ((_response.error.body as serializers.preServiceRules.v1.getRun.Error.Raw)?.errorName) {
                case "EntityNotFoundError":
                case "UnauthorizedError":
                    return {
                        data: {
                            ok: false,
                            error: serializers.preServiceRules.v1.getRun.Error.parseOrThrow(
                                _response.error.body as serializers.preServiceRules.v1.getRun.Error.Raw,
                                {
                                    unrecognizedObjectKeys: "passthrough",
                                    allowUnrecognizedUnionMembers: true,
                                    allowUnrecognizedEnumValues: true,
                                    breadcrumbsPrefix: ["response"],
                                },
                            ),
                            rawResponse: _response.rawResponse,
                        },
                        rawResponse: _response.rawResponse,
                    };
            }
        }

        return {
            data: {
                ok: false,
                error: CandidApi.preServiceRules.v1.getRun.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }

    /**
     * List the pre-service pipelines available to the authenticated organization.
     *
     * @param {V1Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.preServiceRules.v1.getPipelines()
     */
    public getPipelines(
        requestOptions?: V1Client.RequestOptions,
    ): core.HttpResponsePromise<
        core.APIResponse<
            CandidApi.preServiceRules.v1.PreServicePipelineSummary[],
            CandidApi.preServiceRules.v1.getPipelines.Error
        >
    > {
        return core.HttpResponsePromise.fromPromise(this.__getPipelines(requestOptions));
    }

    private async __getPipelines(
        requestOptions?: V1Client.RequestOptions,
    ): Promise<
        core.WithRawResponse<
            core.APIResponse<
                CandidApi.preServiceRules.v1.PreServicePipelineSummary[],
                CandidApi.preServiceRules.v1.getPipelines.Error
            >
        >
    > {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.CandidApiEnvironment.Production
                    ).candidApi,
                "/api/pre-service/v1/pipelines",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: serializers.preServiceRules.v1.getPipelines.Response.parseOrThrow(_response.body, {
                        unrecognizedObjectKeys: "passthrough",
                        allowUnrecognizedUnionMembers: true,
                        allowUnrecognizedEnumValues: true,
                        breadcrumbsPrefix: ["response"],
                    }),
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        return {
            data: {
                ok: false,
                error: CandidApi.preServiceRules.v1.getPipelines.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }
}
