/**
 * This file was auto-generated by Fern from our API Definition.
 */

import * as environments from "../../../../../../environments";
import * as core from "../../../../../../core";
import * as CandidApi from "../../../../../index";
import * as serializers from "../../../../../../serialization/index";
import urlJoin from "url-join";

export declare namespace V1 {
    export interface Options {
        environment?: core.Supplier<environments.CandidApiEnvironment | environments.CandidApiEnvironmentUrls>;
        /** Specify a custom URL to connect the client to. */
        baseUrl?: core.Supplier<string>;
        token?: core.Supplier<core.BearerToken | undefined>;
    }

    export interface RequestOptions {
        /** The maximum time to wait for a response in seconds. */
        timeoutInSeconds?: number;
        /** The number of times to retry the request. Defaults to 2. */
        maxRetries?: number;
        /** A hook to abort the request. */
        abortSignal?: AbortSignal;
        /** Additional headers to include in the request. */
        headers?: Record<string, string>;
    }
}

export class V1 {
    constructor(protected readonly _options: V1.Options = {}) {}

    /**
     * Returns all payer plan groups matching filter criteria.
     *
     * @param {CandidApi.payerPlanGroups.v1.PayerPlanGroupGetMultiRequest} request
     * @param {V1.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.payerPlanGroups.v1.getMulti()
     */
    public async getMulti(
        request: CandidApi.payerPlanGroups.v1.PayerPlanGroupGetMultiRequest = {},
        requestOptions?: V1.RequestOptions,
    ): Promise<
        core.APIResponse<CandidApi.payerPlanGroups.v1.PayerPlanGroupPage, CandidApi.payerPlanGroups.v1.getMulti.Error>
    > {
        const {
            planGroupName,
            payerUuid,
            payerId,
            planType,
            isActive,
            payerPlanGroupId,
            limit,
            sortBySimilarity,
            sort,
            sortDirection,
            pageToken,
        } = request;
        const _queryParams: Record<string, string | string[] | object | object[] | null> = {};
        if (planGroupName != null) {
            if (Array.isArray(planGroupName)) {
                _queryParams["plan_group_name"] = planGroupName.map((item) => item);
            } else {
                _queryParams["plan_group_name"] = planGroupName;
            }
        }

        if (payerUuid != null) {
            if (Array.isArray(payerUuid)) {
                _queryParams["payer_uuid"] = payerUuid.map((item) =>
                    serializers.payers.v3.PayerUuid.jsonOrThrow(item, { unrecognizedObjectKeys: "strip" }),
                );
            } else {
                _queryParams["payer_uuid"] = payerUuid;
            }
        }

        if (payerId != null) {
            if (Array.isArray(payerId)) {
                _queryParams["payer_id"] = payerId.map((item) =>
                    serializers.payers.v3.PayerId.jsonOrThrow(item, { unrecognizedObjectKeys: "strip" }),
                );
            } else {
                _queryParams["payer_id"] = payerId;
            }
        }

        if (planType != null) {
            if (Array.isArray(planType)) {
                _queryParams["plan_type"] = planType.map((item) =>
                    serializers.SourceOfPaymentCode.jsonOrThrow(item, { unrecognizedObjectKeys: "strip" }),
                );
            } else {
                _queryParams["plan_type"] = serializers.SourceOfPaymentCode.jsonOrThrow(planType, {
                    unrecognizedObjectKeys: "strip",
                });
            }
        }

        if (isActive != null) {
            _queryParams["is_active"] = isActive.toString();
        }

        if (payerPlanGroupId != null) {
            if (Array.isArray(payerPlanGroupId)) {
                _queryParams["payer_plan_group_id"] = payerPlanGroupId.map((item) =>
                    serializers.PayerPlanGroupId.jsonOrThrow(item, { unrecognizedObjectKeys: "strip" }),
                );
            } else {
                _queryParams["payer_plan_group_id"] = payerPlanGroupId;
            }
        }

        if (limit != null) {
            _queryParams["limit"] = limit.toString();
        }

        if (sortBySimilarity != null) {
            _queryParams["sort_by_similarity"] = sortBySimilarity;
        }

        if (sort != null) {
            _queryParams["sort"] = serializers.payerPlanGroups.v1.PayerPlanGroupSortField.jsonOrThrow(sort, {
                unrecognizedObjectKeys: "strip",
            });
        }

        if (sortDirection != null) {
            _queryParams["sort_direction"] = serializers.SortDirection.jsonOrThrow(sortDirection, {
                unrecognizedObjectKeys: "strip",
            });
        }

        if (pageToken != null) {
            _queryParams["page_token"] = pageToken;
        }

        const _response = await core.fetcher({
            url: urlJoin(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.CandidApiEnvironment.Production
                    ).candidApi,
                "/api/payer-plan-groups/v1",
            ),
            method: "GET",
            headers: {
                Authorization: await this._getAuthorizationHeader(),
                "X-Fern-Language": "JavaScript",
                "X-Fern-SDK-Name": "candidhealth",
                "X-Fern-SDK-Version": "1.8.1",
                "User-Agent": "candidhealth/1.8.1",
                "X-Fern-Runtime": core.RUNTIME.type,
                "X-Fern-Runtime-Version": core.RUNTIME.version,
                ...requestOptions?.headers,
            },
            contentType: "application/json",
            queryParameters: _queryParams,
            requestType: "json",
            timeoutMs: requestOptions?.timeoutInSeconds != null ? requestOptions.timeoutInSeconds * 1000 : 60000,
            maxRetries: requestOptions?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return {
                ok: true,
                body: serializers.payerPlanGroups.v1.PayerPlanGroupPage.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
            };
        }

        if (_response.error.reason === "status-code") {
            switch ((_response.error.body as serializers.payerPlanGroups.v1.getMulti.Error.Raw)?.errorName) {
                case "UnprocessableEntityError":
                    return {
                        ok: false,
                        error: serializers.payerPlanGroups.v1.getMulti.Error.parseOrThrow(
                            _response.error.body as serializers.payerPlanGroups.v1.getMulti.Error.Raw,
                            {
                                unrecognizedObjectKeys: "passthrough",
                                allowUnrecognizedUnionMembers: true,
                                allowUnrecognizedEnumValues: true,
                                breadcrumbsPrefix: ["response"],
                            },
                        ),
                    };
            }
        }

        return {
            ok: false,
            error: CandidApi.payerPlanGroups.v1.getMulti.Error._unknown(_response.error),
        };
    }

    /**
     * Return a plan group with a given ID.
     *
     * @param {CandidApi.PayerPlanGroupId} payerPlanGroupId
     * @param {V1.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.payerPlanGroups.v1.get(CandidApi.PayerPlanGroupId("d5e9c84f-c2b2-4bf4-b4b0-7ffd7a9ffc32"))
     */
    public async get(
        payerPlanGroupId: CandidApi.PayerPlanGroupId,
        requestOptions?: V1.RequestOptions,
    ): Promise<core.APIResponse<CandidApi.payerPlanGroups.v1.PayerPlanGroup, CandidApi.payerPlanGroups.v1.get.Error>> {
        const _response = await core.fetcher({
            url: urlJoin(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.CandidApiEnvironment.Production
                    ).candidApi,
                `/api/payer-plan-groups/v1/${encodeURIComponent(serializers.PayerPlanGroupId.jsonOrThrow(payerPlanGroupId))}`,
            ),
            method: "GET",
            headers: {
                Authorization: await this._getAuthorizationHeader(),
                "X-Fern-Language": "JavaScript",
                "X-Fern-SDK-Name": "candidhealth",
                "X-Fern-SDK-Version": "1.8.1",
                "User-Agent": "candidhealth/1.8.1",
                "X-Fern-Runtime": core.RUNTIME.type,
                "X-Fern-Runtime-Version": core.RUNTIME.version,
                ...requestOptions?.headers,
            },
            contentType: "application/json",
            requestType: "json",
            timeoutMs: requestOptions?.timeoutInSeconds != null ? requestOptions.timeoutInSeconds * 1000 : 60000,
            maxRetries: requestOptions?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return {
                ok: true,
                body: serializers.payerPlanGroups.v1.PayerPlanGroup.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
            };
        }

        if (_response.error.reason === "status-code") {
            switch ((_response.error.body as serializers.payerPlanGroups.v1.get.Error.Raw)?.errorName) {
                case "EntityNotFoundError":
                case "UnauthorizedError":
                    return {
                        ok: false,
                        error: serializers.payerPlanGroups.v1.get.Error.parseOrThrow(
                            _response.error.body as serializers.payerPlanGroups.v1.get.Error.Raw,
                            {
                                unrecognizedObjectKeys: "passthrough",
                                allowUnrecognizedUnionMembers: true,
                                allowUnrecognizedEnumValues: true,
                                breadcrumbsPrefix: ["response"],
                            },
                        ),
                    };
            }
        }

        return {
            ok: false,
            error: CandidApi.payerPlanGroups.v1.get.Error._unknown(_response.error),
        };
    }

    /**
     * Create a payer plan group
     *
     * @param {CandidApi.payerPlanGroups.v1.MutablePayerPlanGroup} request
     * @param {V1.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.payerPlanGroups.v1.create({
     *         planGroupName: "plan_group_name",
     *         payerUuid: CandidApi.payers.v3.PayerUuid("d5e9c84f-c2b2-4bf4-b4b0-7ffd7a9ffc32"),
     *         planType: "09"
     *     })
     */
    public async create(
        request: CandidApi.payerPlanGroups.v1.MutablePayerPlanGroup,
        requestOptions?: V1.RequestOptions,
    ): Promise<
        core.APIResponse<CandidApi.payerPlanGroups.v1.PayerPlanGroup, CandidApi.payerPlanGroups.v1.create.Error>
    > {
        const _response = await core.fetcher({
            url: urlJoin(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.CandidApiEnvironment.Production
                    ).candidApi,
                "/api/payer-plan-groups/v1",
            ),
            method: "POST",
            headers: {
                Authorization: await this._getAuthorizationHeader(),
                "X-Fern-Language": "JavaScript",
                "X-Fern-SDK-Name": "candidhealth",
                "X-Fern-SDK-Version": "1.8.1",
                "User-Agent": "candidhealth/1.8.1",
                "X-Fern-Runtime": core.RUNTIME.type,
                "X-Fern-Runtime-Version": core.RUNTIME.version,
                ...requestOptions?.headers,
            },
            contentType: "application/json",
            requestType: "json",
            body: serializers.payerPlanGroups.v1.MutablePayerPlanGroup.jsonOrThrow(request, {
                unrecognizedObjectKeys: "strip",
            }),
            timeoutMs: requestOptions?.timeoutInSeconds != null ? requestOptions.timeoutInSeconds * 1000 : 60000,
            maxRetries: requestOptions?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return {
                ok: true,
                body: serializers.payerPlanGroups.v1.PayerPlanGroup.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
            };
        }

        if (_response.error.reason === "status-code") {
            switch ((_response.error.body as serializers.payerPlanGroups.v1.create.Error.Raw)?.errorName) {
                case "EntityNotFoundError":
                case "PayerPlanGroupAlreadyExistsHttpError":
                    return {
                        ok: false,
                        error: serializers.payerPlanGroups.v1.create.Error.parseOrThrow(
                            _response.error.body as serializers.payerPlanGroups.v1.create.Error.Raw,
                            {
                                unrecognizedObjectKeys: "passthrough",
                                allowUnrecognizedUnionMembers: true,
                                allowUnrecognizedEnumValues: true,
                                breadcrumbsPrefix: ["response"],
                            },
                        ),
                    };
            }
        }

        return {
            ok: false,
            error: CandidApi.payerPlanGroups.v1.create.Error._unknown(_response.error),
        };
    }

    /**
     * Update any of the fields on a payer plan group
     *
     * @param {CandidApi.PayerPlanGroupId} payerPlanGroupId
     * @param {CandidApi.payerPlanGroups.v1.MutablePayerPlanGroup} request
     * @param {V1.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.payerPlanGroups.v1.update(CandidApi.PayerPlanGroupId("d5e9c84f-c2b2-4bf4-b4b0-7ffd7a9ffc32"), {
     *         planGroupName: "plan_group_name",
     *         payerUuid: CandidApi.payers.v3.PayerUuid("d5e9c84f-c2b2-4bf4-b4b0-7ffd7a9ffc32"),
     *         planType: "09"
     *     })
     */
    public async update(
        payerPlanGroupId: CandidApi.PayerPlanGroupId,
        request: CandidApi.payerPlanGroups.v1.MutablePayerPlanGroup,
        requestOptions?: V1.RequestOptions,
    ): Promise<
        core.APIResponse<CandidApi.payerPlanGroups.v1.PayerPlanGroup, CandidApi.payerPlanGroups.v1.update.Error>
    > {
        const _response = await core.fetcher({
            url: urlJoin(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.CandidApiEnvironment.Production
                    ).candidApi,
                `/api/payer-plan-groups/v1/${encodeURIComponent(serializers.PayerPlanGroupId.jsonOrThrow(payerPlanGroupId))}`,
            ),
            method: "PUT",
            headers: {
                Authorization: await this._getAuthorizationHeader(),
                "X-Fern-Language": "JavaScript",
                "X-Fern-SDK-Name": "candidhealth",
                "X-Fern-SDK-Version": "1.8.1",
                "User-Agent": "candidhealth/1.8.1",
                "X-Fern-Runtime": core.RUNTIME.type,
                "X-Fern-Runtime-Version": core.RUNTIME.version,
                ...requestOptions?.headers,
            },
            contentType: "application/json",
            requestType: "json",
            body: serializers.payerPlanGroups.v1.MutablePayerPlanGroup.jsonOrThrow(request, {
                unrecognizedObjectKeys: "strip",
            }),
            timeoutMs: requestOptions?.timeoutInSeconds != null ? requestOptions.timeoutInSeconds * 1000 : 60000,
            maxRetries: requestOptions?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return {
                ok: true,
                body: serializers.payerPlanGroups.v1.PayerPlanGroup.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
            };
        }

        if (_response.error.reason === "status-code") {
            switch ((_response.error.body as serializers.payerPlanGroups.v1.update.Error.Raw)?.errorName) {
                case "EntityNotFoundError":
                case "UnauthorizedError":
                case "PayerPlanGroupAlreadyExistsHttpError":
                    return {
                        ok: false,
                        error: serializers.payerPlanGroups.v1.update.Error.parseOrThrow(
                            _response.error.body as serializers.payerPlanGroups.v1.update.Error.Raw,
                            {
                                unrecognizedObjectKeys: "passthrough",
                                allowUnrecognizedUnionMembers: true,
                                allowUnrecognizedEnumValues: true,
                                breadcrumbsPrefix: ["response"],
                            },
                        ),
                    };
            }
        }

        return {
            ok: false,
            error: CandidApi.payerPlanGroups.v1.update.Error._unknown(_response.error),
        };
    }

    /**
     * Marks the payer plan group as deactivated
     *
     * @param {CandidApi.PayerPlanGroupId} payerPlanGroupId
     * @param {V1.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.payerPlanGroups.v1.deactivate(CandidApi.PayerPlanGroupId("d5e9c84f-c2b2-4bf4-b4b0-7ffd7a9ffc32"))
     */
    public async deactivate(
        payerPlanGroupId: CandidApi.PayerPlanGroupId,
        requestOptions?: V1.RequestOptions,
    ): Promise<
        core.APIResponse<CandidApi.payerPlanGroups.v1.PayerPlanGroup, CandidApi.payerPlanGroups.v1.deactivate.Error>
    > {
        const _response = await core.fetcher({
            url: urlJoin(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.CandidApiEnvironment.Production
                    ).candidApi,
                `/api/payer-plan-groups/v1/${encodeURIComponent(serializers.PayerPlanGroupId.jsonOrThrow(payerPlanGroupId))}`,
            ),
            method: "PATCH",
            headers: {
                Authorization: await this._getAuthorizationHeader(),
                "X-Fern-Language": "JavaScript",
                "X-Fern-SDK-Name": "candidhealth",
                "X-Fern-SDK-Version": "1.8.1",
                "User-Agent": "candidhealth/1.8.1",
                "X-Fern-Runtime": core.RUNTIME.type,
                "X-Fern-Runtime-Version": core.RUNTIME.version,
                ...requestOptions?.headers,
            },
            contentType: "application/json",
            requestType: "json",
            timeoutMs: requestOptions?.timeoutInSeconds != null ? requestOptions.timeoutInSeconds * 1000 : 60000,
            maxRetries: requestOptions?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return {
                ok: true,
                body: serializers.payerPlanGroups.v1.PayerPlanGroup.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
            };
        }

        if (_response.error.reason === "status-code") {
            switch ((_response.error.body as serializers.payerPlanGroups.v1.deactivate.Error.Raw)?.errorName) {
                case "EntityNotFoundError":
                case "UnauthorizedError":
                    return {
                        ok: false,
                        error: serializers.payerPlanGroups.v1.deactivate.Error.parseOrThrow(
                            _response.error.body as serializers.payerPlanGroups.v1.deactivate.Error.Raw,
                            {
                                unrecognizedObjectKeys: "passthrough",
                                allowUnrecognizedUnionMembers: true,
                                allowUnrecognizedEnumValues: true,
                                breadcrumbsPrefix: ["response"],
                            },
                        ),
                    };
            }
        }

        return {
            ok: false,
            error: CandidApi.payerPlanGroups.v1.deactivate.Error._unknown(_response.error),
        };
    }

    protected async _getAuthorizationHeader(): Promise<string | undefined> {
        const bearer = await core.Supplier.get(this._options.token);
        if (bearer != null) {
            return `Bearer ${bearer}`;
        }

        return undefined;
    }
}
