// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient";
import {
    type NormalizedClientOptionsWithAuth,
    normalizeClientOptionsWithAuth,
} from "../../../../../../../../BaseClient";
import * as core from "../../../../../../../../core";
import { mergeHeaders } from "../../../../../../../../core/headers";
import * as environments from "../../../../../../../../environments";
import * as serializers from "../../../../../../../../serialization/index";
import * as CandidApi from "../../../../../../../index";

export declare namespace V1Client {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class V1Client {
    protected readonly _options: NormalizedClientOptionsWithAuth<V1Client.Options>;

    constructor(options: V1Client.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Gets an organization external provider by ID.
     *
     * @param {CandidApi.preEncounter.organizationExternalProviders.v1.OrganizationExternalProviderId} id
     * @param {V1Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.preEncounter.organizationExternalProviders.v1.get(CandidApi.preEncounter.organizationExternalProviders.v1.OrganizationExternalProviderId("d5e9c84f-c2b2-4bf4-b4b0-7ffd7a9ffc32"))
     */
    public get(
        id: CandidApi.preEncounter.organizationExternalProviders.v1.OrganizationExternalProviderId,
        requestOptions?: V1Client.RequestOptions,
    ): core.HttpResponsePromise<
        core.APIResponse<
            CandidApi.preEncounter.organizationExternalProviders.v1.OrganizationExternalProvider,
            CandidApi.preEncounter.organizationExternalProviders.v1.get.Error
        >
    > {
        return core.HttpResponsePromise.fromPromise(this.__get(id, requestOptions));
    }

    private async __get(
        id: CandidApi.preEncounter.organizationExternalProviders.v1.OrganizationExternalProviderId,
        requestOptions?: V1Client.RequestOptions,
    ): Promise<
        core.WithRawResponse<
            core.APIResponse<
                CandidApi.preEncounter.organizationExternalProviders.v1.OrganizationExternalProvider,
                CandidApi.preEncounter.organizationExternalProviders.v1.get.Error
            >
        >
    > {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.CandidApiEnvironment.Production
                    ).preEncounter,
                `/organization-external-providers/v1/${core.url.encodePathParam(serializers.preEncounter.organizationExternalProviders.v1.OrganizationExternalProviderId.jsonOrThrow(id))}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: serializers.preEncounter.organizationExternalProviders.v1.OrganizationExternalProvider.parseOrThrow(
                        _response.body,
                        {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            breadcrumbsPrefix: ["response"],
                        },
                    ),
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (
                (_response.error.body as serializers.preEncounter.organizationExternalProviders.v1.get.Error.Raw)
                    ?.errorName
            ) {
                case "NotFoundError":
                    return {
                        data: {
                            ok: false,
                            error: serializers.preEncounter.organizationExternalProviders.v1.get.Error.parseOrThrow(
                                _response.error
                                    .body as serializers.preEncounter.organizationExternalProviders.v1.get.Error.Raw,
                                {
                                    unrecognizedObjectKeys: "passthrough",
                                    allowUnrecognizedUnionMembers: true,
                                    allowUnrecognizedEnumValues: true,
                                    breadcrumbsPrefix: ["response"],
                                },
                            ),
                            rawResponse: _response.rawResponse,
                        },
                        rawResponse: _response.rawResponse,
                    };
            }
        }

        return {
            data: {
                ok: false,
                error: CandidApi.preEncounter.organizationExternalProviders.v1.get.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }

    /**
     * Searches for organization external providers that match the query parameters.
     *
     * @param {CandidApi.preEncounter.organizationExternalProviders.v1.OrganizationExternalProviderGetMultiRequest} request
     * @param {V1Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.preEncounter.organizationExternalProviders.v1.getMulti()
     */
    public getMulti(
        request: CandidApi.preEncounter.organizationExternalProviders.v1.OrganizationExternalProviderGetMultiRequest = {},
        requestOptions?: V1Client.RequestOptions,
    ): core.HttpResponsePromise<
        core.APIResponse<
            CandidApi.preEncounter.organizationExternalProviders.v1.OrganizationExternalProviderPage,
            CandidApi.preEncounter.organizationExternalProviders.v1.getMulti.Error
        >
    > {
        return core.HttpResponsePromise.fromPromise(this.__getMulti(request, requestOptions));
    }

    private async __getMulti(
        request: CandidApi.preEncounter.organizationExternalProviders.v1.OrganizationExternalProviderGetMultiRequest = {},
        requestOptions?: V1Client.RequestOptions,
    ): Promise<
        core.WithRawResponse<
            core.APIResponse<
                CandidApi.preEncounter.organizationExternalProviders.v1.OrganizationExternalProviderPage,
                CandidApi.preEncounter.organizationExternalProviders.v1.getMulti.Error
            >
        >
    > {
        const { limit, pageToken, sortField, sortDirection, npi, type: type_, firstName, lastName } = request;
        const _queryParams: Record<string, unknown> = {
            limit,
            page_token: pageToken,
            sort_field: sortField,
            sort_direction:
                sortDirection != null
                    ? serializers.preEncounter.SortDirection.jsonOrThrow(sortDirection, {
                          unrecognizedObjectKeys: "strip",
                      })
                    : undefined,
            npi,
            type:
                type_ != null
                    ? serializers.preEncounter.organizationExternalProviders.v1.OrganizationExternalProviderType.jsonOrThrow(
                          type_,
                          { unrecognizedObjectKeys: "strip" },
                      )
                    : undefined,
            first_name: firstName,
            last_name: lastName,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.CandidApiEnvironment.Production
                    ).preEncounter,
                "/organization-external-providers/v1",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: serializers.preEncounter.organizationExternalProviders.v1.OrganizationExternalProviderPage.parseOrThrow(
                        _response.body,
                        {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            breadcrumbsPrefix: ["response"],
                        },
                    ),
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        return {
            data: {
                ok: false,
                error: CandidApi.preEncounter.organizationExternalProviders.v1.getMulti.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }

    /**
     * Creates a new organization external provider. BadRequestError is returned when the NPI is already in use.
     *
     * @param {CandidApi.preEncounter.organizationExternalProviders.v1.MutableOrganizationExternalProvider} request
     * @param {V1Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.preEncounter.organizationExternalProviders.v1.create({
     *         name: {
     *             family: "family",
     *             given: ["given", "given"],
     *             use: "USUAL"
     *         },
     *         types: ["REFERRING", "REFERRING"]
     *     })
     */
    public create(
        request: CandidApi.preEncounter.organizationExternalProviders.v1.MutableOrganizationExternalProvider,
        requestOptions?: V1Client.RequestOptions,
    ): core.HttpResponsePromise<
        core.APIResponse<
            CandidApi.preEncounter.organizationExternalProviders.v1.OrganizationExternalProvider,
            CandidApi.preEncounter.organizationExternalProviders.v1.create.Error
        >
    > {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CandidApi.preEncounter.organizationExternalProviders.v1.MutableOrganizationExternalProvider,
        requestOptions?: V1Client.RequestOptions,
    ): Promise<
        core.WithRawResponse<
            core.APIResponse<
                CandidApi.preEncounter.organizationExternalProviders.v1.OrganizationExternalProvider,
                CandidApi.preEncounter.organizationExternalProviders.v1.create.Error
            >
        >
    > {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.CandidApiEnvironment.Production
                    ).preEncounter,
                "/organization-external-providers/v1",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: serializers.preEncounter.organizationExternalProviders.v1.MutableOrganizationExternalProvider.jsonOrThrow(
                request,
                { unrecognizedObjectKeys: "strip" },
            ),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: serializers.preEncounter.organizationExternalProviders.v1.OrganizationExternalProvider.parseOrThrow(
                        _response.body,
                        {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            breadcrumbsPrefix: ["response"],
                        },
                    ),
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (
                (_response.error.body as serializers.preEncounter.organizationExternalProviders.v1.create.Error.Raw)
                    ?.errorName
            ) {
                case "BadRequestError":
                    return {
                        data: {
                            ok: false,
                            error: serializers.preEncounter.organizationExternalProviders.v1.create.Error.parseOrThrow(
                                _response.error
                                    .body as serializers.preEncounter.organizationExternalProviders.v1.create.Error.Raw,
                                {
                                    unrecognizedObjectKeys: "passthrough",
                                    allowUnrecognizedUnionMembers: true,
                                    allowUnrecognizedEnumValues: true,
                                    breadcrumbsPrefix: ["response"],
                                },
                            ),
                            rawResponse: _response.rawResponse,
                        },
                        rawResponse: _response.rawResponse,
                    };
            }
        }

        return {
            data: {
                ok: false,
                error: CandidApi.preEncounter.organizationExternalProviders.v1.create.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }

    /**
     * Updates an organization external provider. The path must contain the next version number to prevent race conditions. For example, if the current version of the provider is n, you will need to send a request to this endpoint with `/{id}/n+1` to update the provider. Updating historic versions is not supported. BadRequestError is returned when the NPI is already in use by another provider.
     *
     * @param {CandidApi.preEncounter.organizationExternalProviders.v1.OrganizationExternalProviderId} id
     * @param {string} version
     * @param {CandidApi.preEncounter.organizationExternalProviders.v1.MutableOrganizationExternalProvider} request
     * @param {V1Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.preEncounter.organizationExternalProviders.v1.update(CandidApi.preEncounter.organizationExternalProviders.v1.OrganizationExternalProviderId("d5e9c84f-c2b2-4bf4-b4b0-7ffd7a9ffc32"), "version", {
     *         name: {
     *             family: "family",
     *             given: ["given", "given"],
     *             use: "USUAL"
     *         },
     *         types: ["REFERRING", "REFERRING"]
     *     })
     */
    public update(
        id: CandidApi.preEncounter.organizationExternalProviders.v1.OrganizationExternalProviderId,
        version: string,
        request: CandidApi.preEncounter.organizationExternalProviders.v1.MutableOrganizationExternalProvider,
        requestOptions?: V1Client.RequestOptions,
    ): core.HttpResponsePromise<
        core.APIResponse<
            CandidApi.preEncounter.organizationExternalProviders.v1.OrganizationExternalProvider,
            CandidApi.preEncounter.organizationExternalProviders.v1.update.Error
        >
    > {
        return core.HttpResponsePromise.fromPromise(this.__update(id, version, request, requestOptions));
    }

    private async __update(
        id: CandidApi.preEncounter.organizationExternalProviders.v1.OrganizationExternalProviderId,
        version: string,
        request: CandidApi.preEncounter.organizationExternalProviders.v1.MutableOrganizationExternalProvider,
        requestOptions?: V1Client.RequestOptions,
    ): Promise<
        core.WithRawResponse<
            core.APIResponse<
                CandidApi.preEncounter.organizationExternalProviders.v1.OrganizationExternalProvider,
                CandidApi.preEncounter.organizationExternalProviders.v1.update.Error
            >
        >
    > {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.CandidApiEnvironment.Production
                    ).preEncounter,
                `/organization-external-providers/v1/${core.url.encodePathParam(serializers.preEncounter.organizationExternalProviders.v1.OrganizationExternalProviderId.jsonOrThrow(id))}/${core.url.encodePathParam(version)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: serializers.preEncounter.organizationExternalProviders.v1.MutableOrganizationExternalProvider.jsonOrThrow(
                request,
                { unrecognizedObjectKeys: "strip" },
            ),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: serializers.preEncounter.organizationExternalProviders.v1.OrganizationExternalProvider.parseOrThrow(
                        _response.body,
                        {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            breadcrumbsPrefix: ["response"],
                        },
                    ),
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (
                (_response.error.body as serializers.preEncounter.organizationExternalProviders.v1.update.Error.Raw)
                    ?.errorName
            ) {
                case "BadRequestError":
                case "NotFoundError":
                case "VersionConflictError":
                    return {
                        data: {
                            ok: false,
                            error: serializers.preEncounter.organizationExternalProviders.v1.update.Error.parseOrThrow(
                                _response.error
                                    .body as serializers.preEncounter.organizationExternalProviders.v1.update.Error.Raw,
                                {
                                    unrecognizedObjectKeys: "passthrough",
                                    allowUnrecognizedUnionMembers: true,
                                    allowUnrecognizedEnumValues: true,
                                    breadcrumbsPrefix: ["response"],
                                },
                            ),
                            rawResponse: _response.rawResponse,
                        },
                        rawResponse: _response.rawResponse,
                    };
            }
        }

        return {
            data: {
                ok: false,
                error: CandidApi.preEncounter.organizationExternalProviders.v1.update.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }

    /**
     * Sets an organization external provider as deactivated. The path must contain the most recent version plus 1 to prevent race conditions. Deactivating historic versions is not supported.
     *
     * @param {CandidApi.preEncounter.organizationExternalProviders.v1.OrganizationExternalProviderId} id
     * @param {string} version
     * @param {V1Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.preEncounter.organizationExternalProviders.v1.deactivate(CandidApi.preEncounter.organizationExternalProviders.v1.OrganizationExternalProviderId("d5e9c84f-c2b2-4bf4-b4b0-7ffd7a9ffc32"), "version")
     */
    public deactivate(
        id: CandidApi.preEncounter.organizationExternalProviders.v1.OrganizationExternalProviderId,
        version: string,
        requestOptions?: V1Client.RequestOptions,
    ): core.HttpResponsePromise<
        core.APIResponse<void, CandidApi.preEncounter.organizationExternalProviders.v1.deactivate.Error>
    > {
        return core.HttpResponsePromise.fromPromise(this.__deactivate(id, version, requestOptions));
    }

    private async __deactivate(
        id: CandidApi.preEncounter.organizationExternalProviders.v1.OrganizationExternalProviderId,
        version: string,
        requestOptions?: V1Client.RequestOptions,
    ): Promise<
        core.WithRawResponse<
            core.APIResponse<void, CandidApi.preEncounter.organizationExternalProviders.v1.deactivate.Error>
        >
    > {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.CandidApiEnvironment.Production
                    ).preEncounter,
                `/organization-external-providers/v1/${core.url.encodePathParam(serializers.preEncounter.organizationExternalProviders.v1.OrganizationExternalProviderId.jsonOrThrow(id))}/${core.url.encodePathParam(version)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: undefined,
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (
                (_response.error.body as serializers.preEncounter.organizationExternalProviders.v1.deactivate.Error.Raw)
                    ?.errorName
            ) {
                case "NotFoundError":
                case "VersionConflictError":
                    return {
                        data: {
                            ok: false,
                            error: serializers.preEncounter.organizationExternalProviders.v1.deactivate.Error.parseOrThrow(
                                _response.error
                                    .body as serializers.preEncounter.organizationExternalProviders.v1.deactivate.Error.Raw,
                                {
                                    unrecognizedObjectKeys: "passthrough",
                                    allowUnrecognizedUnionMembers: true,
                                    allowUnrecognizedEnumValues: true,
                                    breadcrumbsPrefix: ["response"],
                                },
                            ),
                            rawResponse: _response.rawResponse,
                        },
                        rawResponse: _response.rawResponse,
                    };
            }
        }

        return {
            data: {
                ok: false,
                error: CandidApi.preEncounter.organizationExternalProviders.v1.deactivate.Error._unknown(
                    _response.error,
                ),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }

    /**
     * Scans up to 1000 organization external provider updates. The since query parameter is inclusive, and the result list is ordered by updatedAt ascending.
     *
     * **Polling Pattern:**
     * To continuously poll for updates without gaps:
     * 1. Make your initial request with a `since` timestamp (e.g., `since=2020-01-01T13:00:00.000Z`)
     * 2. The API returns 100 by default and up to 1000 records, sorted by `updated_at` ascending
     * 3. Find the `updated_at` value from the last record in the response
     * 4. Use that `updated_at` value as the `since` parameter in your next request
     * 5. Repeat steps 2-4 to ingest updates until you receive an empty list
     *
     * **Important Notes:**
     * - The `since` parameter is inclusive, so you may receive the last record from the previous batch again (you can deduplicate by ID and version)
     * - All records include `updated_at`, `id`, `version`, `deactivated`, and `updating_user` fields for tracking changes
     * - Timestamps have millisecond resolution for precise ordering
     *
     * @param {CandidApi.preEncounter.organizationExternalProviders.v1.OrganizationExternalProviderScanRequest} request
     * @param {V1Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.preEncounter.organizationExternalProviders.v1.scan({
     *         since: new Date("2024-01-15T09:30:00.000Z")
     *     })
     */
    public scan(
        request: CandidApi.preEncounter.organizationExternalProviders.v1.OrganizationExternalProviderScanRequest,
        requestOptions?: V1Client.RequestOptions,
    ): core.HttpResponsePromise<
        core.APIResponse<
            CandidApi.preEncounter.organizationExternalProviders.v1.OrganizationExternalProvider[],
            CandidApi.preEncounter.organizationExternalProviders.v1.scan.Error
        >
    > {
        return core.HttpResponsePromise.fromPromise(this.__scan(request, requestOptions));
    }

    private async __scan(
        request: CandidApi.preEncounter.organizationExternalProviders.v1.OrganizationExternalProviderScanRequest,
        requestOptions?: V1Client.RequestOptions,
    ): Promise<
        core.WithRawResponse<
            core.APIResponse<
                CandidApi.preEncounter.organizationExternalProviders.v1.OrganizationExternalProvider[],
                CandidApi.preEncounter.organizationExternalProviders.v1.scan.Error
            >
        >
    > {
        const { since, maxResults } = request;
        const _queryParams: Record<string, unknown> = {
            since: since.toISOString(),
            maxResults,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.CandidApiEnvironment.Production
                    ).preEncounter,
                "/organization-external-providers/v1/updates/scan",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: serializers.preEncounter.organizationExternalProviders.v1.scan.Response.parseOrThrow(
                        _response.body,
                        {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            breadcrumbsPrefix: ["response"],
                        },
                    ),
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        return {
            data: {
                ok: false,
                error: CandidApi.preEncounter.organizationExternalProviders.v1.scan.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }
}
