// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient";
import * as core from "../../../../../../core";
import { mergeHeaders } from "../../../../../../core/headers";
import * as environments from "../../../../../../environments";
import * as serializers from "../../../../../../serialization/index";
import * as CandidApi from "../../../../../index";

export declare namespace V1Client {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class V1Client {
    protected readonly _options: NormalizedClientOptionsWithAuth<V1Client.Options>;

    constructor(options: V1Client.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Retrieves a previously created insurance adjudication by its `insurance_adjudication_id`.
     *
     * @param {CandidApi.insuranceAdjudications.v1.InsuranceAdjudicationId} insurance_adjudication_id
     * @param {V1Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.insuranceAdjudications.v1.get(CandidApi.insuranceAdjudications.v1.InsuranceAdjudicationId("d5e9c84f-c2b2-4bf4-b4b0-7ffd7a9ffc32"))
     */
    public get(
        insurance_adjudication_id: CandidApi.insuranceAdjudications.v1.InsuranceAdjudicationId,
        requestOptions?: V1Client.RequestOptions,
    ): core.HttpResponsePromise<
        core.APIResponse<
            CandidApi.insuranceAdjudications.v1.InsuranceAdjudication,
            CandidApi.insuranceAdjudications.v1.get.Error
        >
    > {
        return core.HttpResponsePromise.fromPromise(this.__get(insurance_adjudication_id, requestOptions));
    }

    private async __get(
        insurance_adjudication_id: CandidApi.insuranceAdjudications.v1.InsuranceAdjudicationId,
        requestOptions?: V1Client.RequestOptions,
    ): Promise<
        core.WithRawResponse<
            core.APIResponse<
                CandidApi.insuranceAdjudications.v1.InsuranceAdjudication,
                CandidApi.insuranceAdjudications.v1.get.Error
            >
        >
    > {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.CandidApiEnvironment.Production
                    ).candidApi,
                `/api/insurance-adjudications/v1/${core.url.encodePathParam(serializers.insuranceAdjudications.v1.InsuranceAdjudicationId.jsonOrThrow(insurance_adjudication_id))}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: serializers.insuranceAdjudications.v1.InsuranceAdjudication.parseOrThrow(_response.body, {
                        unrecognizedObjectKeys: "passthrough",
                        allowUnrecognizedUnionMembers: true,
                        allowUnrecognizedEnumValues: true,
                        breadcrumbsPrefix: ["response"],
                    }),
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch ((_response.error.body as serializers.insuranceAdjudications.v1.get.Error.Raw)?.errorName) {
                case "UnauthorizedError":
                    return {
                        data: {
                            ok: false,
                            error: serializers.insuranceAdjudications.v1.get.Error.parseOrThrow(
                                _response.error.body as serializers.insuranceAdjudications.v1.get.Error.Raw,
                                {
                                    unrecognizedObjectKeys: "passthrough",
                                    allowUnrecognizedUnionMembers: true,
                                    allowUnrecognizedEnumValues: true,
                                    breadcrumbsPrefix: ["response"],
                                },
                            ),
                            rawResponse: _response.rawResponse,
                        },
                        rawResponse: _response.rawResponse,
                    };
            }
        }

        return {
            data: {
                ok: false,
                error: CandidApi.insuranceAdjudications.v1.get.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }
}
