/**
 * This file was auto-generated by Fern from our API Definition.
 */

import * as environments from "../../../../../../environments";
import * as core from "../../../../../../core";
import * as CandidApi from "../../../../../index";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers";
import * as serializers from "../../../../../../serialization/index";

export declare namespace V1 {
    export interface Options {
        environment?: core.Supplier<environments.CandidApiEnvironment | environments.CandidApiEnvironmentUrls>;
        /** Specify a custom URL to connect the client to. */
        baseUrl?: core.Supplier<string>;
        token?: core.Supplier<core.BearerToken | undefined>;
        /** Additional headers to include in requests. */
        headers?: Record<string, string | core.Supplier<string | null | undefined> | null | undefined>;
    }

    export interface RequestOptions {
        /** The maximum time to wait for a response in seconds. */
        timeoutInSeconds?: number;
        /** The number of times to retry the request. Defaults to 2. */
        maxRetries?: number;
        /** A hook to abort the request. */
        abortSignal?: AbortSignal;
        /** Additional query string parameters to include in the request. */
        queryParams?: Record<string, unknown>;
        /** Additional headers to include in the request. */
        headers?: Record<string, string | core.Supplier<string | null | undefined> | null | undefined>;
    }
}

export class V1 {
    protected readonly _options: V1.Options;

    constructor(_options: V1.Options = {}) {
        this._options = _options;
    }

    /**
     * Retrieves a previously created insurance adjudication by its `insurance_adjudication_id`.
     *
     * @param {CandidApi.insuranceAdjudications.v1.InsuranceAdjudicationId} insuranceAdjudicationId
     * @param {V1.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.insuranceAdjudications.v1.get(CandidApi.insuranceAdjudications.v1.InsuranceAdjudicationId("d5e9c84f-c2b2-4bf4-b4b0-7ffd7a9ffc32"))
     */
    public get(
        insuranceAdjudicationId: CandidApi.insuranceAdjudications.v1.InsuranceAdjudicationId,
        requestOptions?: V1.RequestOptions,
    ): core.HttpResponsePromise<
        core.APIResponse<
            CandidApi.insuranceAdjudications.v1.InsuranceAdjudication,
            CandidApi.insuranceAdjudications.v1.get.Error
        >
    > {
        return core.HttpResponsePromise.fromPromise(this.__get(insuranceAdjudicationId, requestOptions));
    }

    private async __get(
        insuranceAdjudicationId: CandidApi.insuranceAdjudications.v1.InsuranceAdjudicationId,
        requestOptions?: V1.RequestOptions,
    ): Promise<
        core.WithRawResponse<
            core.APIResponse<
                CandidApi.insuranceAdjudications.v1.InsuranceAdjudication,
                CandidApi.insuranceAdjudications.v1.get.Error
            >
        >
    > {
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ Authorization: await this._getAuthorizationHeader() }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.CandidApiEnvironment.Production
                    ).candidApi,
                `/api/insurance-adjudications/v1/${encodeURIComponent(serializers.insuranceAdjudications.v1.InsuranceAdjudicationId.jsonOrThrow(insuranceAdjudicationId))}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: requestOptions?.timeoutInSeconds != null ? requestOptions.timeoutInSeconds * 1000 : 60000,
            maxRetries: requestOptions?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: serializers.insuranceAdjudications.v1.InsuranceAdjudication.parseOrThrow(_response.body, {
                        unrecognizedObjectKeys: "passthrough",
                        allowUnrecognizedUnionMembers: true,
                        allowUnrecognizedEnumValues: true,
                        breadcrumbsPrefix: ["response"],
                    }),
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        return {
            data: {
                ok: false,
                error: CandidApi.insuranceAdjudications.v1.get.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }

    /**
     * Creates a new insurance adjudication record and returns the newly created InsuranceAdjudication object.
     *
     * @param {CandidApi.insuranceAdjudications.v1.InsuranceAdjudicationCreate} request
     * @param {V1.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.insuranceAdjudications.v1.create({
     *         payerIdentifier: {
     *             type: "payer_info",
     *             payerId: CandidApi.payers.v3.PayerId("payer_id"),
     *             payerName: CandidApi.payers.v3.PayerName("payer_name")
     *         },
     *         payee: {
     *             payeeName: "payee_name",
     *             payeeIdentifier: {
     *                 type: "npi",
     *                 value: CandidApi.Npi("payee_identifier")
     *             }
     *         },
     *         checkDate: "2023-01-15",
     *         claims: {
     *             "d5e9c84f-c2b2-4bf4-b4b0-7ffd7a9ffc32": [{
     *                     claimStatusCode: "1",
     *                     serviceLines: {
     *                         "d5e9c84f-c2b2-4bf4-b4b0-7ffd7a9ffc32": [{
     *                                 carcs: [{
     *                                         groupCode: "CO",
     *                                         reasonCode: "1",
     *                                         amountCents: 1
     *                                     }, {
     *                                         groupCode: "CO",
     *                                         reasonCode: "1",
     *                                         amountCents: 1
     *                                     }],
     *                                 rarcs: [{
     *                                         reasonCode: "M1"
     *                                     }, {
     *                                         reasonCode: "M1"
     *                                     }]
     *                             }, {
     *                                 carcs: [{
     *                                         groupCode: "CO",
     *                                         reasonCode: "1",
     *                                         amountCents: 1
     *                                     }, {
     *                                         groupCode: "CO",
     *                                         reasonCode: "1",
     *                                         amountCents: 1
     *                                     }],
     *                                 rarcs: [{
     *                                         reasonCode: "M1"
     *                                     }, {
     *                                         reasonCode: "M1"
     *                                     }]
     *                             }]
     *                     },
     *                     carcs: [{
     *                             groupCode: "CO",
     *                             reasonCode: "1",
     *                             amountCents: 1
     *                         }, {
     *                             groupCode: "CO",
     *                             reasonCode: "1",
     *                             amountCents: 1
     *                         }]
     *                 }, {
     *                     claimStatusCode: "1",
     *                     serviceLines: {
     *                         "d5e9c84f-c2b2-4bf4-b4b0-7ffd7a9ffc32": [{
     *                                 carcs: [{
     *                                         groupCode: "CO",
     *                                         reasonCode: "1",
     *                                         amountCents: 1
     *                                     }, {
     *                                         groupCode: "CO",
     *                                         reasonCode: "1",
     *                                         amountCents: 1
     *                                     }],
     *                                 rarcs: [{
     *                                         reasonCode: "M1"
     *                                     }, {
     *                                         reasonCode: "M1"
     *                                     }]
     *                             }, {
     *                                 carcs: [{
     *                                         groupCode: "CO",
     *                                         reasonCode: "1",
     *                                         amountCents: 1
     *                                     }, {
     *                                         groupCode: "CO",
     *                                         reasonCode: "1",
     *                                         amountCents: 1
     *                                     }],
     *                                 rarcs: [{
     *                                         reasonCode: "M1"
     *                                     }, {
     *                                         reasonCode: "M1"
     *                                     }]
     *                             }]
     *                     },
     *                     carcs: [{
     *                             groupCode: "CO",
     *                             reasonCode: "1",
     *                             amountCents: 1
     *                         }, {
     *                             groupCode: "CO",
     *                             reasonCode: "1",
     *                             amountCents: 1
     *                         }]
     *                 }]
     *         }
     *     })
     */
    public create(
        request: CandidApi.insuranceAdjudications.v1.InsuranceAdjudicationCreate,
        requestOptions?: V1.RequestOptions,
    ): core.HttpResponsePromise<
        core.APIResponse<
            CandidApi.insuranceAdjudications.v1.InsuranceAdjudication,
            CandidApi.insuranceAdjudications.v1.create.Error
        >
    > {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CandidApi.insuranceAdjudications.v1.InsuranceAdjudicationCreate,
        requestOptions?: V1.RequestOptions,
    ): Promise<
        core.WithRawResponse<
            core.APIResponse<
                CandidApi.insuranceAdjudications.v1.InsuranceAdjudication,
                CandidApi.insuranceAdjudications.v1.create.Error
            >
        >
    > {
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ Authorization: await this._getAuthorizationHeader() }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.CandidApiEnvironment.Production
                    ).candidApi,
                "/api/insurance-adjudications/v1",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: serializers.insuranceAdjudications.v1.InsuranceAdjudicationCreate.jsonOrThrow(request, {
                unrecognizedObjectKeys: "strip",
            }),
            timeoutMs: requestOptions?.timeoutInSeconds != null ? requestOptions.timeoutInSeconds * 1000 : 60000,
            maxRetries: requestOptions?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: serializers.insuranceAdjudications.v1.InsuranceAdjudication.parseOrThrow(_response.body, {
                        unrecognizedObjectKeys: "passthrough",
                        allowUnrecognizedUnionMembers: true,
                        allowUnrecognizedEnumValues: true,
                        breadcrumbsPrefix: ["response"],
                    }),
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch ((_response.error.body as serializers.insuranceAdjudications.v1.create.Error.Raw)?.errorName) {
                case "EraNotFullyProcessedError":
                    return {
                        data: {
                            ok: false,
                            error: serializers.insuranceAdjudications.v1.create.Error.parseOrThrow(
                                _response.error.body as serializers.insuranceAdjudications.v1.create.Error.Raw,
                                {
                                    unrecognizedObjectKeys: "passthrough",
                                    allowUnrecognizedUnionMembers: true,
                                    allowUnrecognizedEnumValues: true,
                                    breadcrumbsPrefix: ["response"],
                                },
                            ),
                            rawResponse: _response.rawResponse,
                        },
                        rawResponse: _response.rawResponse,
                    };
            }
        }

        return {
            data: {
                ok: false,
                error: CandidApi.insuranceAdjudications.v1.create.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }

    /**
     * Deletes the insurance adjudication record matching the provided insurance_adjudication_id.
     *
     * @param {CandidApi.insuranceAdjudications.v1.InsuranceAdjudicationId} insuranceAdjudicationId
     * @param {V1.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.insuranceAdjudications.v1.delete(CandidApi.insuranceAdjudications.v1.InsuranceAdjudicationId("d5e9c84f-c2b2-4bf4-b4b0-7ffd7a9ffc32"))
     */
    public delete(
        insuranceAdjudicationId: CandidApi.insuranceAdjudications.v1.InsuranceAdjudicationId,
        requestOptions?: V1.RequestOptions,
    ): core.HttpResponsePromise<core.APIResponse<void, CandidApi.insuranceAdjudications.v1.delete.Error>> {
        return core.HttpResponsePromise.fromPromise(this.__delete(insuranceAdjudicationId, requestOptions));
    }

    private async __delete(
        insuranceAdjudicationId: CandidApi.insuranceAdjudications.v1.InsuranceAdjudicationId,
        requestOptions?: V1.RequestOptions,
    ): Promise<core.WithRawResponse<core.APIResponse<void, CandidApi.insuranceAdjudications.v1.delete.Error>>> {
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ Authorization: await this._getAuthorizationHeader() }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.CandidApiEnvironment.Production
                    ).candidApi,
                `/api/insurance-adjudications/v1/${encodeURIComponent(serializers.insuranceAdjudications.v1.InsuranceAdjudicationId.jsonOrThrow(insuranceAdjudicationId))}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: requestOptions?.timeoutInSeconds != null ? requestOptions.timeoutInSeconds * 1000 : 60000,
            maxRetries: requestOptions?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: undefined,
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        return {
            data: {
                ok: false,
                error: CandidApi.insuranceAdjudications.v1.delete.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }

    protected async _getAuthorizationHeader(): Promise<string | undefined> {
        const bearer = await core.Supplier.get(this._options.token);
        if (bearer != null) {
            return `Bearer ${bearer}`;
        }

        return undefined;
    }
}
