/**
 * This file was auto-generated by Fern from our API Definition.
 */

import * as environments from "../../../../../../environments";
import * as core from "../../../../../../core";
import * as CandidApi from "../../../../..";
import * as serializers from "../../../../../../serialization";
import urlJoin from "url-join";

export declare namespace V4 {
    interface Options {
        environment?: environments.CandidApiEnvironment | string;
        token?: core.Supplier<core.BearerToken | undefined>;
    }
}

export class V4 {
    constructor(protected readonly options: V4.Options) {}

    /**
     * **This endpoint is incubating.**
     * Retrieves a previously created patient payment by its `patient_payment_id`.
     *
     */
    public async get(
        patientPaymentId: CandidApi.patientPayments.v4.PatientPaymentId
    ): Promise<core.APIResponse<CandidApi.patientPayments.v4.PatientPayment, CandidApi.patientPayments.v4.get.Error>> {
        const _response = await core.fetcher({
            url: urlJoin(
                this.options.environment ?? environments.CandidApiEnvironment.Production,
                `/api/patient-payments/v4/${await serializers.patientPayments.v4.PatientPaymentId.jsonOrThrow(
                    patientPaymentId
                )}`
            ),
            method: "GET",
            headers: {
                Authorization: await this._getAuthorizationHeader(),
                "X-Fern-Language": "JavaScript",
                "X-Fern-SDK-Name": "candidhealth",
                "X-Fern-SDK-Version": "0.7.1",
            },
            contentType: "application/json",
            timeoutMs: 60000,
        });
        if (_response.ok) {
            return {
                ok: true,
                body: await serializers.patientPayments.v4.PatientPayment.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
            };
        }

        return {
            ok: false,
            error: CandidApi.patientPayments.v4.get.Error._unknown(_response.error),
        };
    }

    /**
     * **This endpoint is incubating.**
     * Creates a new patient payment record and returns the newly created PatientPayment object.
     * The allocations can describe whether the payment is being applied toward a specific service line,
     * claim, or billing provider.
     *
     */
    public async create(
        request: CandidApi.patientPayments.v4.PatientPaymentCreate
    ): Promise<
        core.APIResponse<CandidApi.patientPayments.v4.PatientPayment, CandidApi.patientPayments.v4.create.Error>
    > {
        const _response = await core.fetcher({
            url: urlJoin(
                this.options.environment ?? environments.CandidApiEnvironment.Production,
                "/api/patient-payments/v4"
            ),
            method: "POST",
            headers: {
                Authorization: await this._getAuthorizationHeader(),
                "X-Fern-Language": "JavaScript",
                "X-Fern-SDK-Name": "candidhealth",
                "X-Fern-SDK-Version": "0.7.1",
            },
            contentType: "application/json",
            body: await serializers.patientPayments.v4.PatientPaymentCreate.jsonOrThrow(request, {
                unrecognizedObjectKeys: "strip",
            }),
            timeoutMs: 60000,
        });
        if (_response.ok) {
            return {
                ok: true,
                body: await serializers.patientPayments.v4.PatientPayment.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
            };
        }

        return {
            ok: false,
            error: CandidApi.patientPayments.v4.create.Error._unknown(_response.error),
        };
    }

    /**
     * **This endpoint is incubating.**
     * Deletes the patient payment record matching the provided patient_payment_id.
     *
     */
    public async delete(
        patientPaymentId: CandidApi.patientPayments.v4.PatientPaymentId
    ): Promise<core.APIResponse<void, CandidApi.patientPayments.v4.delete.Error>> {
        const _response = await core.fetcher({
            url: urlJoin(
                this.options.environment ?? environments.CandidApiEnvironment.Production,
                `/api/patient-payments/v4/${await serializers.patientPayments.v4.PatientPaymentId.jsonOrThrow(
                    patientPaymentId
                )}`
            ),
            method: "DELETE",
            headers: {
                Authorization: await this._getAuthorizationHeader(),
                "X-Fern-Language": "JavaScript",
                "X-Fern-SDK-Name": "candidhealth",
                "X-Fern-SDK-Version": "0.7.1",
            },
            contentType: "application/json",
            timeoutMs: 60000,
        });
        if (_response.ok) {
            return {
                ok: true,
                body: undefined,
            };
        }

        return {
            ok: false,
            error: CandidApi.patientPayments.v4.delete.Error._unknown(_response.error),
        };
    }

    protected async _getAuthorizationHeader() {
        const bearer = await core.Supplier.get(this.options.token);
        if (bearer != null) {
            return `Bearer ${bearer}`;
        }

        return undefined;
    }
}
