// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient";
import {
    type NormalizedClientOptionsWithAuth,
    normalizeClientOptionsWithAuth,
} from "../../../../../../../../BaseClient";
import * as core from "../../../../../../../../core";
import { mergeHeaders } from "../../../../../../../../core/headers";
import * as environments from "../../../../../../../../environments";
import * as serializers from "../../../../../../../../serialization/index";
import * as CandidApi from "../../../../../../../index";

export declare namespace V1Client {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class V1Client {
    protected readonly _options: NormalizedClientOptionsWithAuth<V1Client.Options>;

    constructor(options: V1Client.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Adds an image.  VersionConflictError is returned if a front or back of this coverage already exists.
     *
     * @param {CandidApi.preEncounter.images.v1.MutableImage} request
     * @param {V1Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.preEncounter.images.v1.create({
     *         fileName: "file_name",
     *         displayName: "display_name",
     *         fileType: "file_type",
     *         status: "PENDING"
     *     })
     */
    public create(
        request: CandidApi.preEncounter.images.v1.MutableImage,
        requestOptions?: V1Client.RequestOptions,
    ): core.HttpResponsePromise<
        core.APIResponse<CandidApi.preEncounter.images.v1.Image, CandidApi.preEncounter.images.v1.create.Error>
    > {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CandidApi.preEncounter.images.v1.MutableImage,
        requestOptions?: V1Client.RequestOptions,
    ): Promise<
        core.WithRawResponse<
            core.APIResponse<CandidApi.preEncounter.images.v1.Image, CandidApi.preEncounter.images.v1.create.Error>
        >
    > {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.CandidApiEnvironment.Production
                    ).preEncounter,
                "/images/v1",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: serializers.preEncounter.images.v1.MutableImage.jsonOrThrow(request, {
                unrecognizedObjectKeys: "strip",
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: serializers.preEncounter.images.v1.Image.parseOrThrow(_response.body, {
                        unrecognizedObjectKeys: "passthrough",
                        allowUnrecognizedUnionMembers: true,
                        allowUnrecognizedEnumValues: true,
                        breadcrumbsPrefix: ["response"],
                    }),
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch ((_response.error.body as serializers.preEncounter.images.v1.create.Error.Raw)?.errorName) {
                case "VersionConflictError":
                    return {
                        data: {
                            ok: false,
                            error: serializers.preEncounter.images.v1.create.Error.parseOrThrow(
                                _response.error.body as serializers.preEncounter.images.v1.create.Error.Raw,
                                {
                                    unrecognizedObjectKeys: "passthrough",
                                    allowUnrecognizedUnionMembers: true,
                                    allowUnrecognizedEnumValues: true,
                                    breadcrumbsPrefix: ["response"],
                                },
                            ),
                            rawResponse: _response.rawResponse,
                        },
                        rawResponse: _response.rawResponse,
                    };
            }
        }

        return {
            data: {
                ok: false,
                error: CandidApi.preEncounter.images.v1.create.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }

    /**
     * Gets an image by imageId.
     *
     * @param {CandidApi.preEncounter.images.v1.ImageId} id
     * @param {V1Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.preEncounter.images.v1.get(CandidApi.preEncounter.images.v1.ImageId("id"))
     */
    public get(
        id: CandidApi.preEncounter.images.v1.ImageId,
        requestOptions?: V1Client.RequestOptions,
    ): core.HttpResponsePromise<
        core.APIResponse<CandidApi.preEncounter.images.v1.Image, CandidApi.preEncounter.images.v1.get.Error>
    > {
        return core.HttpResponsePromise.fromPromise(this.__get(id, requestOptions));
    }

    private async __get(
        id: CandidApi.preEncounter.images.v1.ImageId,
        requestOptions?: V1Client.RequestOptions,
    ): Promise<
        core.WithRawResponse<
            core.APIResponse<CandidApi.preEncounter.images.v1.Image, CandidApi.preEncounter.images.v1.get.Error>
        >
    > {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.CandidApiEnvironment.Production
                    ).preEncounter,
                `/images/v1/${core.url.encodePathParam(serializers.preEncounter.images.v1.ImageId.jsonOrThrow(id))}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: serializers.preEncounter.images.v1.Image.parseOrThrow(_response.body, {
                        unrecognizedObjectKeys: "passthrough",
                        allowUnrecognizedUnionMembers: true,
                        allowUnrecognizedEnumValues: true,
                        breadcrumbsPrefix: ["response"],
                    }),
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch ((_response.error.body as serializers.preEncounter.images.v1.get.Error.Raw)?.errorName) {
                case "NotFoundError":
                    return {
                        data: {
                            ok: false,
                            error: serializers.preEncounter.images.v1.get.Error.parseOrThrow(
                                _response.error.body as serializers.preEncounter.images.v1.get.Error.Raw,
                                {
                                    unrecognizedObjectKeys: "passthrough",
                                    allowUnrecognizedUnionMembers: true,
                                    allowUnrecognizedEnumValues: true,
                                    breadcrumbsPrefix: ["response"],
                                },
                            ),
                            rawResponse: _response.rawResponse,
                        },
                        rawResponse: _response.rawResponse,
                    };
            }
        }

        return {
            data: {
                ok: false,
                error: CandidApi.preEncounter.images.v1.get.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }

    /**
     * Updates an Image.  The path must contain the most recent version to prevent races.
     *
     * @param {CandidApi.preEncounter.images.v1.ImageId} id
     * @param {string} version
     * @param {CandidApi.preEncounter.images.v1.MutableImage} request
     * @param {V1Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.preEncounter.images.v1.update(CandidApi.preEncounter.images.v1.ImageId("id"), "version", {
     *         fileName: "file_name",
     *         displayName: "display_name",
     *         fileType: "file_type",
     *         status: "PENDING"
     *     })
     */
    public update(
        id: CandidApi.preEncounter.images.v1.ImageId,
        version: string,
        request: CandidApi.preEncounter.images.v1.MutableImage,
        requestOptions?: V1Client.RequestOptions,
    ): core.HttpResponsePromise<
        core.APIResponse<CandidApi.preEncounter.images.v1.Image, CandidApi.preEncounter.images.v1.update.Error>
    > {
        return core.HttpResponsePromise.fromPromise(this.__update(id, version, request, requestOptions));
    }

    private async __update(
        id: CandidApi.preEncounter.images.v1.ImageId,
        version: string,
        request: CandidApi.preEncounter.images.v1.MutableImage,
        requestOptions?: V1Client.RequestOptions,
    ): Promise<
        core.WithRawResponse<
            core.APIResponse<CandidApi.preEncounter.images.v1.Image, CandidApi.preEncounter.images.v1.update.Error>
        >
    > {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.CandidApiEnvironment.Production
                    ).preEncounter,
                `/images/v1/${core.url.encodePathParam(serializers.preEncounter.images.v1.ImageId.jsonOrThrow(id))}/${core.url.encodePathParam(version)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: serializers.preEncounter.images.v1.MutableImage.jsonOrThrow(request, {
                unrecognizedObjectKeys: "strip",
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: serializers.preEncounter.images.v1.Image.parseOrThrow(_response.body, {
                        unrecognizedObjectKeys: "passthrough",
                        allowUnrecognizedUnionMembers: true,
                        allowUnrecognizedEnumValues: true,
                        breadcrumbsPrefix: ["response"],
                    }),
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch ((_response.error.body as serializers.preEncounter.images.v1.update.Error.Raw)?.errorName) {
                case "NotFoundError":
                case "VersionConflictError":
                    return {
                        data: {
                            ok: false,
                            error: serializers.preEncounter.images.v1.update.Error.parseOrThrow(
                                _response.error.body as serializers.preEncounter.images.v1.update.Error.Raw,
                                {
                                    unrecognizedObjectKeys: "passthrough",
                                    allowUnrecognizedUnionMembers: true,
                                    allowUnrecognizedEnumValues: true,
                                    breadcrumbsPrefix: ["response"],
                                },
                            ),
                            rawResponse: _response.rawResponse,
                        },
                        rawResponse: _response.rawResponse,
                    };
            }
        }

        return {
            data: {
                ok: false,
                error: CandidApi.preEncounter.images.v1.update.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }

    /**
     * Sets an Image as deactivated.  The path must contain the most recent version to prevent races.
     *
     * @param {CandidApi.preEncounter.images.v1.ImageId} id
     * @param {string} version
     * @param {V1Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.preEncounter.images.v1.deactivate(CandidApi.preEncounter.images.v1.ImageId("id"), "version")
     */
    public deactivate(
        id: CandidApi.preEncounter.images.v1.ImageId,
        version: string,
        requestOptions?: V1Client.RequestOptions,
    ): core.HttpResponsePromise<core.APIResponse<void, CandidApi.preEncounter.images.v1.deactivate.Error>> {
        return core.HttpResponsePromise.fromPromise(this.__deactivate(id, version, requestOptions));
    }

    private async __deactivate(
        id: CandidApi.preEncounter.images.v1.ImageId,
        version: string,
        requestOptions?: V1Client.RequestOptions,
    ): Promise<core.WithRawResponse<core.APIResponse<void, CandidApi.preEncounter.images.v1.deactivate.Error>>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.CandidApiEnvironment.Production
                    ).preEncounter,
                `/images/v1/${core.url.encodePathParam(serializers.preEncounter.images.v1.ImageId.jsonOrThrow(id))}/${core.url.encodePathParam(version)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: undefined,
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch ((_response.error.body as serializers.preEncounter.images.v1.deactivate.Error.Raw)?.errorName) {
                case "NotFoundError":
                case "VersionConflictError":
                    return {
                        data: {
                            ok: false,
                            error: serializers.preEncounter.images.v1.deactivate.Error.parseOrThrow(
                                _response.error.body as serializers.preEncounter.images.v1.deactivate.Error.Raw,
                                {
                                    unrecognizedObjectKeys: "passthrough",
                                    allowUnrecognizedUnionMembers: true,
                                    allowUnrecognizedEnumValues: true,
                                    breadcrumbsPrefix: ["response"],
                                },
                            ),
                            rawResponse: _response.rawResponse,
                        },
                        rawResponse: _response.rawResponse,
                    };
            }
        }

        return {
            data: {
                ok: false,
                error: CandidApi.preEncounter.images.v1.deactivate.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }

    /**
     * Searches for images that match the query parameters.
     *
     * @param {CandidApi.preEncounter.images.v1.ImageGetMultiRequest} request
     * @param {V1Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.preEncounter.images.v1.getMulti()
     */
    public getMulti(
        request: CandidApi.preEncounter.images.v1.ImageGetMultiRequest = {},
        requestOptions?: V1Client.RequestOptions,
    ): core.HttpResponsePromise<
        core.APIResponse<CandidApi.preEncounter.images.v1.Image[], CandidApi.preEncounter.images.v1.getMulti.Error>
    > {
        return core.HttpResponsePromise.fromPromise(this.__getMulti(request, requestOptions));
    }

    private async __getMulti(
        request: CandidApi.preEncounter.images.v1.ImageGetMultiRequest = {},
        requestOptions?: V1Client.RequestOptions,
    ): Promise<
        core.WithRawResponse<
            core.APIResponse<CandidApi.preEncounter.images.v1.Image[], CandidApi.preEncounter.images.v1.getMulti.Error>
        >
    > {
        const { patientId, coverageId } = request;
        const _queryParams: Record<string, unknown> = {
            patient_id: patientId,
            coverage_id: coverageId,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.CandidApiEnvironment.Production
                    ).preEncounter,
                "/images/v1",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: serializers.preEncounter.images.v1.getMulti.Response.parseOrThrow(_response.body, {
                        unrecognizedObjectKeys: "passthrough",
                        allowUnrecognizedUnionMembers: true,
                        allowUnrecognizedEnumValues: true,
                        breadcrumbsPrefix: ["response"],
                    }),
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        return {
            data: {
                ok: false,
                error: CandidApi.preEncounter.images.v1.getMulti.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }
}
