// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient";
import {
    type NormalizedClientOptionsWithAuth,
    normalizeClientOptionsWithAuth,
} from "../../../../../../../../BaseClient";
import * as core from "../../../../../../../../core";
import { mergeHeaders } from "../../../../../../../../core/headers";
import * as environments from "../../../../../../../../environments";
import * as serializers from "../../../../../../../../serialization/index";
import * as CandidApi from "../../../../../../../index";

export declare namespace V1Client {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class V1Client {
    protected readonly _options: NormalizedClientOptionsWithAuth<V1Client.Options>;

    constructor(options: V1Client.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Gets a tag by TagId.
     *
     * @param {CandidApi.preEncounter.TagId} id
     * @param {V1Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.preEncounter.tags.v1.get(CandidApi.preEncounter.TagId("id"))
     */
    public get(
        id: CandidApi.preEncounter.TagId,
        requestOptions?: V1Client.RequestOptions,
    ): core.HttpResponsePromise<
        core.APIResponse<CandidApi.preEncounter.tags.v1.Tag, CandidApi.preEncounter.tags.v1.get.Error>
    > {
        return core.HttpResponsePromise.fromPromise(this.__get(id, requestOptions));
    }

    private async __get(
        id: CandidApi.preEncounter.TagId,
        requestOptions?: V1Client.RequestOptions,
    ): Promise<
        core.WithRawResponse<
            core.APIResponse<CandidApi.preEncounter.tags.v1.Tag, CandidApi.preEncounter.tags.v1.get.Error>
        >
    > {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.CandidApiEnvironment.Production
                    ).preEncounter,
                `/tags/v1/${core.url.encodePathParam(serializers.preEncounter.TagId.jsonOrThrow(id))}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: serializers.preEncounter.tags.v1.Tag.parseOrThrow(_response.body, {
                        unrecognizedObjectKeys: "passthrough",
                        allowUnrecognizedUnionMembers: true,
                        allowUnrecognizedEnumValues: true,
                        breadcrumbsPrefix: ["response"],
                    }),
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        return {
            data: {
                ok: false,
                error: CandidApi.preEncounter.tags.v1.get.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }

    /**
     * Gets all tags. Defaults to page size of 1000.
     *
     * @param {CandidApi.preEncounter.tags.v1.GetAllTagsRequest} request
     * @param {V1Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.preEncounter.tags.v1.getAll()
     */
    public getAll(
        request: CandidApi.preEncounter.tags.v1.GetAllTagsRequest = {},
        requestOptions?: V1Client.RequestOptions,
    ): core.HttpResponsePromise<
        core.APIResponse<CandidApi.preEncounter.tags.v1.TagPage, CandidApi.preEncounter.tags.v1.getAll.Error>
    > {
        return core.HttpResponsePromise.fromPromise(this.__getAll(request, requestOptions));
    }

    private async __getAll(
        request: CandidApi.preEncounter.tags.v1.GetAllTagsRequest = {},
        requestOptions?: V1Client.RequestOptions,
    ): Promise<
        core.WithRawResponse<
            core.APIResponse<CandidApi.preEncounter.tags.v1.TagPage, CandidApi.preEncounter.tags.v1.getAll.Error>
        >
    > {
        const { limit, pageToken } = request;
        const _queryParams: Record<string, unknown> = {
            limit,
            page_token: pageToken,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.CandidApiEnvironment.Production
                    ).preEncounter,
                "/tags/v1",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: serializers.preEncounter.tags.v1.TagPage.parseOrThrow(_response.body, {
                        unrecognizedObjectKeys: "passthrough",
                        allowUnrecognizedUnionMembers: true,
                        allowUnrecognizedEnumValues: true,
                        breadcrumbsPrefix: ["response"],
                    }),
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        return {
            data: {
                ok: false,
                error: CandidApi.preEncounter.tags.v1.getAll.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }

    /**
     * Adds a new tag if it does not already exist, otherwise, returns the existing tag.
     *
     * @param {CandidApi.preEncounter.tags.v1.MutableTag} request
     * @param {V1Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.preEncounter.tags.v1.create({
     *         value: "value"
     *     })
     */
    public create(
        request: CandidApi.preEncounter.tags.v1.MutableTag,
        requestOptions?: V1Client.RequestOptions,
    ): core.HttpResponsePromise<
        core.APIResponse<CandidApi.preEncounter.tags.v1.Tag, CandidApi.preEncounter.tags.v1.create.Error>
    > {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CandidApi.preEncounter.tags.v1.MutableTag,
        requestOptions?: V1Client.RequestOptions,
    ): Promise<
        core.WithRawResponse<
            core.APIResponse<CandidApi.preEncounter.tags.v1.Tag, CandidApi.preEncounter.tags.v1.create.Error>
        >
    > {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.CandidApiEnvironment.Production
                    ).preEncounter,
                "/tags/v1",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: serializers.preEncounter.tags.v1.MutableTag.jsonOrThrow(request, { unrecognizedObjectKeys: "strip" }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: serializers.preEncounter.tags.v1.Tag.parseOrThrow(_response.body, {
                        unrecognizedObjectKeys: "passthrough",
                        allowUnrecognizedUnionMembers: true,
                        allowUnrecognizedEnumValues: true,
                        breadcrumbsPrefix: ["response"],
                    }),
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        return {
            data: {
                ok: false,
                error: CandidApi.preEncounter.tags.v1.create.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }

    /**
     * Updates a tag. The path must contain the most recent version to prevent races.
     *
     * @param {CandidApi.preEncounter.TagId} id
     * @param {string} version
     * @param {CandidApi.preEncounter.tags.v1.MutableTag} request
     * @param {V1Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.preEncounter.tags.v1.update(CandidApi.preEncounter.TagId("id"), "version", {
     *         value: "value"
     *     })
     */
    public update(
        id: CandidApi.preEncounter.TagId,
        version: string,
        request: CandidApi.preEncounter.tags.v1.MutableTag,
        requestOptions?: V1Client.RequestOptions,
    ): core.HttpResponsePromise<
        core.APIResponse<CandidApi.preEncounter.tags.v1.Tag, CandidApi.preEncounter.tags.v1.update.Error>
    > {
        return core.HttpResponsePromise.fromPromise(this.__update(id, version, request, requestOptions));
    }

    private async __update(
        id: CandidApi.preEncounter.TagId,
        version: string,
        request: CandidApi.preEncounter.tags.v1.MutableTag,
        requestOptions?: V1Client.RequestOptions,
    ): Promise<
        core.WithRawResponse<
            core.APIResponse<CandidApi.preEncounter.tags.v1.Tag, CandidApi.preEncounter.tags.v1.update.Error>
        >
    > {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.CandidApiEnvironment.Production
                    ).preEncounter,
                `/tags/v1/${core.url.encodePathParam(serializers.preEncounter.TagId.jsonOrThrow(id))}/${core.url.encodePathParam(version)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: serializers.preEncounter.tags.v1.MutableTag.jsonOrThrow(request, { unrecognizedObjectKeys: "strip" }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: serializers.preEncounter.tags.v1.Tag.parseOrThrow(_response.body, {
                        unrecognizedObjectKeys: "passthrough",
                        allowUnrecognizedUnionMembers: true,
                        allowUnrecognizedEnumValues: true,
                        breadcrumbsPrefix: ["response"],
                    }),
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        return {
            data: {
                ok: false,
                error: CandidApi.preEncounter.tags.v1.update.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }

    /**
     * Sets a tag as deactivated.  The path must contain the most recent version to prevent races.
     *
     * @param {CandidApi.preEncounter.TagId} id
     * @param {string} version
     * @param {V1Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.preEncounter.tags.v1.deactivate(CandidApi.preEncounter.TagId("id"), "version")
     */
    public deactivate(
        id: CandidApi.preEncounter.TagId,
        version: string,
        requestOptions?: V1Client.RequestOptions,
    ): core.HttpResponsePromise<core.APIResponse<void, CandidApi.preEncounter.tags.v1.deactivate.Error>> {
        return core.HttpResponsePromise.fromPromise(this.__deactivate(id, version, requestOptions));
    }

    private async __deactivate(
        id: CandidApi.preEncounter.TagId,
        version: string,
        requestOptions?: V1Client.RequestOptions,
    ): Promise<core.WithRawResponse<core.APIResponse<void, CandidApi.preEncounter.tags.v1.deactivate.Error>>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.CandidApiEnvironment.Production
                    ).preEncounter,
                `/tags/v1/${core.url.encodePathParam(serializers.preEncounter.TagId.jsonOrThrow(id))}/${core.url.encodePathParam(version)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: undefined,
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        return {
            data: {
                ok: false,
                error: CandidApi.preEncounter.tags.v1.deactivate.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }
}
