// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient";
import * as core from "../../../../../../core";
import { mergeHeaders } from "../../../../../../core/headers";
import * as environments from "../../../../../../environments";
import * as serializers from "../../../../../../serialization/index";
import * as CandidApi from "../../../../../index";

export declare namespace V1Client {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class V1Client {
    protected readonly _options: NormalizedClientOptionsWithAuth<V1Client.Options>;

    constructor(options: V1Client.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Retrieves values for one or more metrics. Each metric is computed independently, so a
     * metric that cannot be resolved returns an `error` on its own result rather than failing
     * the request.
     *
     * Each query reads current state by default. Count metrics also accept a `yesterday`
     * snapshot, so day-over-day change is computed by querying both and taking the difference.
     *
     * See the [Metrics Reference](/docs/dashboarding-metrics) for the full catalog, including
     * value types and staleness SLAs.
     *
     * @param {CandidApi.dashboarding.v1.MetricQuery[]} request
     * @param {V1Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.dashboarding.v1.queryMetrics([{
     *             metric: "patient_total_balance_v1"
     *         }, {
     *             metric: "patient_total_balance_v1"
     *         }])
     */
    public queryMetrics(
        request: CandidApi.dashboarding.v1.MetricQuery[],
        requestOptions?: V1Client.RequestOptions,
    ): core.HttpResponsePromise<
        core.APIResponse<CandidApi.dashboarding.v1.MetricsQueryResponse, CandidApi.dashboarding.v1.queryMetrics.Error>
    > {
        return core.HttpResponsePromise.fromPromise(this.__queryMetrics(request, requestOptions));
    }

    private async __queryMetrics(
        request: CandidApi.dashboarding.v1.MetricQuery[],
        requestOptions?: V1Client.RequestOptions,
    ): Promise<
        core.WithRawResponse<
            core.APIResponse<
                CandidApi.dashboarding.v1.MetricsQueryResponse,
                CandidApi.dashboarding.v1.queryMetrics.Error
            >
        >
    > {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.CandidApiEnvironment.Production
                    ).candidApi,
                "/api/dashboarding/v1/metrics",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: serializers.dashboarding.v1.queryMetrics.Request.jsonOrThrow(request, {
                unrecognizedObjectKeys: "strip",
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: serializers.dashboarding.v1.MetricsQueryResponse.parseOrThrow(_response.body, {
                        unrecognizedObjectKeys: "passthrough",
                        allowUnrecognizedUnionMembers: true,
                        allowUnrecognizedEnumValues: true,
                        breadcrumbsPrefix: ["response"],
                    }),
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch ((_response.error.body as serializers.dashboarding.v1.queryMetrics.Error.Raw)?.errorName) {
                case "BadRequestError":
                case "UnauthorizedError":
                case "UnprocessableEntityError":
                case "HttpServiceUnavailableError":
                    return {
                        data: {
                            ok: false,
                            error: serializers.dashboarding.v1.queryMetrics.Error.parseOrThrow(
                                _response.error.body as serializers.dashboarding.v1.queryMetrics.Error.Raw,
                                {
                                    unrecognizedObjectKeys: "passthrough",
                                    allowUnrecognizedUnionMembers: true,
                                    allowUnrecognizedEnumValues: true,
                                    breadcrumbsPrefix: ["response"],
                                },
                            ),
                            rawResponse: _response.rawResponse,
                        },
                        rawResponse: _response.rawResponse,
                    };
            }
        }

        return {
            data: {
                ok: false,
                error: CandidApi.dashboarding.v1.queryMetrics.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }
}
