// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient";
import * as core from "../../../../../../core";
import { mergeHeaders } from "../../../../../../core/headers";
import * as environments from "../../../../../../environments";
import * as serializers from "../../../../../../serialization/index";
import * as CandidApi from "../../../../../index";

export declare namespace V1Client {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class V1Client {
    protected readonly _options: NormalizedClientOptionsWithAuth<V1Client.Options>;

    constructor(options: V1Client.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @param {CandidApi.chargeCapture.v1.CreateChargeCaptureRequest} request
     * @param {V1Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.chargeCapture.v1.create({
     *         data: {},
     *         chargeExternalId: "charge_external_id",
     *         patientExternalId: "patient_external_id",
     *         status: "planned"
     *     })
     */
    public create(
        request: CandidApi.chargeCapture.v1.CreateChargeCaptureRequest,
        requestOptions?: V1Client.RequestOptions,
    ): core.HttpResponsePromise<
        core.APIResponse<CandidApi.chargeCapture.v1.ChargeCapture, CandidApi.chargeCapture.v1.create.Error>
    > {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CandidApi.chargeCapture.v1.CreateChargeCaptureRequest,
        requestOptions?: V1Client.RequestOptions,
    ): Promise<
        core.WithRawResponse<
            core.APIResponse<CandidApi.chargeCapture.v1.ChargeCapture, CandidApi.chargeCapture.v1.create.Error>
        >
    > {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.CandidApiEnvironment.Production
                    ).candidApi,
                "/api/charge_captures/v1",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: serializers.chargeCapture.v1.CreateChargeCaptureRequest.jsonOrThrow(request, {
                unrecognizedObjectKeys: "strip",
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: serializers.chargeCapture.v1.ChargeCapture.parseOrThrow(_response.body, {
                        unrecognizedObjectKeys: "passthrough",
                        allowUnrecognizedUnionMembers: true,
                        allowUnrecognizedEnumValues: true,
                        breadcrumbsPrefix: ["response"],
                    }),
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch ((_response.error.body as serializers.chargeCapture.v1.create.Error.Raw)?.errorName) {
                case "EntityNotFoundError":
                case "UnauthorizedError":
                case "HttpRequestValidationsError":
                case "SchemaInstanceValidationHttpFailure":
                case "UnprocessableEntityError":
                case "ChargeExternalIdConflictError":
                    return {
                        data: {
                            ok: false,
                            error: serializers.chargeCapture.v1.create.Error.parseOrThrow(
                                _response.error.body as serializers.chargeCapture.v1.create.Error.Raw,
                                {
                                    unrecognizedObjectKeys: "passthrough",
                                    allowUnrecognizedUnionMembers: true,
                                    allowUnrecognizedEnumValues: true,
                                    breadcrumbsPrefix: ["response"],
                                },
                            ),
                            rawResponse: _response.rawResponse,
                        },
                        rawResponse: _response.rawResponse,
                    };
            }
        }

        return {
            data: {
                ok: false,
                error: CandidApi.chargeCapture.v1.create.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }

    /**
     * @beta This endpoint is in development and may change.
     *
     * Create a Charge Capture from a pre-encounter patient and appointment. This endpoint is intended to be used by consumers who are managing
     * patients and appointments in the pre-encounter service and is currently under development. Consumers who are not taking advantage
     * of the pre-encounter service should use the standard create endpoint.
     *
     * At encounter creation time, information from the provided patient and appointment objects will be populated
     * where applicable. In particular, the following fields are populated from the patient and appointment objects:
     *   - Patient
     *   - Referring Provider
     *   - Subscriber Primary
     *   - Subscriber Secondary
     *   - Referral Number
     *   - Responsible Party
     *   - Guarantor
     *
     * Note that these fields should not be populated in the ChargeCaptureData property of this endpoint, as they will be overwritten at encounter creation time.
     *
     * Utilizing this endpoint opts you into automatic updating of the encounter when the patient or appointment is updated, assuming the
     * encounter has not already been submitted or adjudicated.
     *
     * @param {CandidApi.chargeCapture.v1.CreateChargeCaptureFromPreEncounterRequest} request
     * @param {V1Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.chargeCapture.v1.createFromPreEncounterPatient({
     *         data: {},
     *         chargeExternalId: "charge_external_id",
     *         preEncounterPatientId: CandidApi.PreEncounterPatientId("d5e9c84f-c2b2-4bf4-b4b0-7ffd7a9ffc32"),
     *         preEncounterAppointmentIds: [CandidApi.PreEncounterAppointmentId("d5e9c84f-c2b2-4bf4-b4b0-7ffd7a9ffc32"), CandidApi.PreEncounterAppointmentId("d5e9c84f-c2b2-4bf4-b4b0-7ffd7a9ffc32")],
     *         status: "planned"
     *     })
     */
    public createFromPreEncounterPatient(
        request: CandidApi.chargeCapture.v1.CreateChargeCaptureFromPreEncounterRequest,
        requestOptions?: V1Client.RequestOptions,
    ): core.HttpResponsePromise<
        core.APIResponse<
            CandidApi.chargeCapture.v1.ChargeCapture,
            CandidApi.chargeCapture.v1.createFromPreEncounterPatient.Error
        >
    > {
        return core.HttpResponsePromise.fromPromise(this.__createFromPreEncounterPatient(request, requestOptions));
    }

    private async __createFromPreEncounterPatient(
        request: CandidApi.chargeCapture.v1.CreateChargeCaptureFromPreEncounterRequest,
        requestOptions?: V1Client.RequestOptions,
    ): Promise<
        core.WithRawResponse<
            core.APIResponse<
                CandidApi.chargeCapture.v1.ChargeCapture,
                CandidApi.chargeCapture.v1.createFromPreEncounterPatient.Error
            >
        >
    > {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.CandidApiEnvironment.Production
                    ).candidApi,
                "/api/charge_captures/v1/create-from-pre-encounter",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: serializers.chargeCapture.v1.CreateChargeCaptureFromPreEncounterRequest.jsonOrThrow(request, {
                unrecognizedObjectKeys: "strip",
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: serializers.chargeCapture.v1.ChargeCapture.parseOrThrow(_response.body, {
                        unrecognizedObjectKeys: "passthrough",
                        allowUnrecognizedUnionMembers: true,
                        allowUnrecognizedEnumValues: true,
                        breadcrumbsPrefix: ["response"],
                    }),
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (
                (_response.error.body as serializers.chargeCapture.v1.createFromPreEncounterPatient.Error.Raw)
                    ?.errorName
            ) {
                case "EntityNotFoundError":
                case "UnauthorizedError":
                case "HttpRequestValidationsError":
                case "SchemaInstanceValidationHttpFailure":
                case "UnprocessableEntityError":
                case "ChargeExternalIdConflictError":
                    return {
                        data: {
                            ok: false,
                            error: serializers.chargeCapture.v1.createFromPreEncounterPatient.Error.parseOrThrow(
                                _response.error
                                    .body as serializers.chargeCapture.v1.createFromPreEncounterPatient.Error.Raw,
                                {
                                    unrecognizedObjectKeys: "passthrough",
                                    allowUnrecognizedUnionMembers: true,
                                    allowUnrecognizedEnumValues: true,
                                    breadcrumbsPrefix: ["response"],
                                },
                            ),
                            rawResponse: _response.rawResponse,
                        },
                        rawResponse: _response.rawResponse,
                    };
            }
        }

        return {
            data: {
                ok: false,
                error: CandidApi.chargeCapture.v1.createFromPreEncounterPatient.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }

    /**
     * @param {CandidApi.chargeCapture.v1.ChargeCapturePostBilledChangeUpdate} request
     * @param {V1Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.chargeCapture.v1.updatePostBilledChanges({
     *         chargeCaptureChangeIds: [CandidApi.ChargeCapturePostBilledChangeId("d5e9c84f-c2b2-4bf4-b4b0-7ffd7a9ffc32"), CandidApi.ChargeCapturePostBilledChangeId("d5e9c84f-c2b2-4bf4-b4b0-7ffd7a9ffc32")],
     *         resolved: true
     *     })
     */
    public updatePostBilledChanges(
        request: CandidApi.chargeCapture.v1.ChargeCapturePostBilledChangeUpdate,
        requestOptions?: V1Client.RequestOptions,
    ): core.HttpResponsePromise<
        core.APIResponse<
            CandidApi.chargeCapture.v1.ChargeCapturePostBilledChange[],
            CandidApi.chargeCapture.v1.updatePostBilledChanges.Error
        >
    > {
        return core.HttpResponsePromise.fromPromise(this.__updatePostBilledChanges(request, requestOptions));
    }

    private async __updatePostBilledChanges(
        request: CandidApi.chargeCapture.v1.ChargeCapturePostBilledChangeUpdate,
        requestOptions?: V1Client.RequestOptions,
    ): Promise<
        core.WithRawResponse<
            core.APIResponse<
                CandidApi.chargeCapture.v1.ChargeCapturePostBilledChange[],
                CandidApi.chargeCapture.v1.updatePostBilledChanges.Error
            >
        >
    > {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.CandidApiEnvironment.Production
                    ).candidApi,
                "/api/charge_captures/v1/changes",
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: serializers.chargeCapture.v1.ChargeCapturePostBilledChangeUpdate.jsonOrThrow(request, {
                unrecognizedObjectKeys: "strip",
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: serializers.chargeCapture.v1.updatePostBilledChanges.Response.parseOrThrow(_response.body, {
                        unrecognizedObjectKeys: "passthrough",
                        allowUnrecognizedUnionMembers: true,
                        allowUnrecognizedEnumValues: true,
                        breadcrumbsPrefix: ["response"],
                    }),
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (
                (_response.error.body as serializers.chargeCapture.v1.updatePostBilledChanges.Error.Raw)?.errorName
            ) {
                case "EntityNotFoundError":
                case "UnauthorizedError":
                    return {
                        data: {
                            ok: false,
                            error: serializers.chargeCapture.v1.updatePostBilledChanges.Error.parseOrThrow(
                                _response.error.body as serializers.chargeCapture.v1.updatePostBilledChanges.Error.Raw,
                                {
                                    unrecognizedObjectKeys: "passthrough",
                                    allowUnrecognizedUnionMembers: true,
                                    allowUnrecognizedEnumValues: true,
                                    breadcrumbsPrefix: ["response"],
                                },
                            ),
                            rawResponse: _response.rawResponse,
                        },
                        rawResponse: _response.rawResponse,
                    };
            }
        }

        return {
            data: {
                ok: false,
                error: CandidApi.chargeCapture.v1.updatePostBilledChanges.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }

    /**
     * @param {CandidApi.ChargeCaptureId} charge_capture_id
     * @param {CandidApi.chargeCapture.v1.ChargeCaptureUpdate} request
     * @param {V1Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.chargeCapture.v1.update(CandidApi.ChargeCaptureId("d5e9c84f-c2b2-4bf4-b4b0-7ffd7a9ffc32"))
     */
    public update(
        charge_capture_id: CandidApi.ChargeCaptureId,
        request: CandidApi.chargeCapture.v1.ChargeCaptureUpdate = {},
        requestOptions?: V1Client.RequestOptions,
    ): core.HttpResponsePromise<
        core.APIResponse<CandidApi.chargeCapture.v1.ChargeCapture, CandidApi.chargeCapture.v1.update.Error>
    > {
        return core.HttpResponsePromise.fromPromise(this.__update(charge_capture_id, request, requestOptions));
    }

    private async __update(
        charge_capture_id: CandidApi.ChargeCaptureId,
        request: CandidApi.chargeCapture.v1.ChargeCaptureUpdate = {},
        requestOptions?: V1Client.RequestOptions,
    ): Promise<
        core.WithRawResponse<
            core.APIResponse<CandidApi.chargeCapture.v1.ChargeCapture, CandidApi.chargeCapture.v1.update.Error>
        >
    > {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.CandidApiEnvironment.Production
                    ).candidApi,
                `/api/charge_captures/v1/${core.url.encodePathParam(serializers.ChargeCaptureId.jsonOrThrow(charge_capture_id))}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: serializers.chargeCapture.v1.ChargeCaptureUpdate.jsonOrThrow(request, {
                unrecognizedObjectKeys: "strip",
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: serializers.chargeCapture.v1.ChargeCapture.parseOrThrow(_response.body, {
                        unrecognizedObjectKeys: "passthrough",
                        allowUnrecognizedUnionMembers: true,
                        allowUnrecognizedEnumValues: true,
                        breadcrumbsPrefix: ["response"],
                    }),
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch ((_response.error.body as serializers.chargeCapture.v1.update.Error.Raw)?.errorName) {
                case "EntityNotFoundError":
                case "UnauthorizedError":
                case "HttpRequestValidationsError":
                case "SchemaInstanceValidationHttpFailure":
                case "UnprocessableEntityError":
                    return {
                        data: {
                            ok: false,
                            error: serializers.chargeCapture.v1.update.Error.parseOrThrow(
                                _response.error.body as serializers.chargeCapture.v1.update.Error.Raw,
                                {
                                    unrecognizedObjectKeys: "passthrough",
                                    allowUnrecognizedUnionMembers: true,
                                    allowUnrecognizedEnumValues: true,
                                    breadcrumbsPrefix: ["response"],
                                },
                            ),
                            rawResponse: _response.rawResponse,
                        },
                        rawResponse: _response.rawResponse,
                    };
            }
        }

        return {
            data: {
                ok: false,
                error: CandidApi.chargeCapture.v1.update.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }

    /**
     * @param {CandidApi.ChargeCaptureId} charge_capture_id
     * @param {V1Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.chargeCapture.v1.get(CandidApi.ChargeCaptureId("d5e9c84f-c2b2-4bf4-b4b0-7ffd7a9ffc32"))
     */
    public get(
        charge_capture_id: CandidApi.ChargeCaptureId,
        requestOptions?: V1Client.RequestOptions,
    ): core.HttpResponsePromise<
        core.APIResponse<CandidApi.chargeCapture.v1.ChargeCapture, CandidApi.chargeCapture.v1.get.Error>
    > {
        return core.HttpResponsePromise.fromPromise(this.__get(charge_capture_id, requestOptions));
    }

    private async __get(
        charge_capture_id: CandidApi.ChargeCaptureId,
        requestOptions?: V1Client.RequestOptions,
    ): Promise<
        core.WithRawResponse<
            core.APIResponse<CandidApi.chargeCapture.v1.ChargeCapture, CandidApi.chargeCapture.v1.get.Error>
        >
    > {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.CandidApiEnvironment.Production
                    ).candidApi,
                `/api/charge_captures/v1/${core.url.encodePathParam(serializers.ChargeCaptureId.jsonOrThrow(charge_capture_id))}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: serializers.chargeCapture.v1.ChargeCapture.parseOrThrow(_response.body, {
                        unrecognizedObjectKeys: "passthrough",
                        allowUnrecognizedUnionMembers: true,
                        allowUnrecognizedEnumValues: true,
                        breadcrumbsPrefix: ["response"],
                    }),
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        return {
            data: {
                ok: false,
                error: CandidApi.chargeCapture.v1.get.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }

    /**
     * @param {CandidApi.chargeCapture.v1.GetAllChargeCapturesRequest} request
     * @param {V1Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.chargeCapture.v1.getAll()
     */
    public getAll(
        request: CandidApi.chargeCapture.v1.GetAllChargeCapturesRequest = {},
        requestOptions?: V1Client.RequestOptions,
    ): core.HttpResponsePromise<
        core.APIResponse<CandidApi.chargeCapture.v1.ChargeCapturePage, CandidApi.chargeCapture.v1.getAll.Error>
    > {
        return core.HttpResponsePromise.fromPromise(this.__getAll(request, requestOptions));
    }

    private async __getAll(
        request: CandidApi.chargeCapture.v1.GetAllChargeCapturesRequest = {},
        requestOptions?: V1Client.RequestOptions,
    ): Promise<
        core.WithRawResponse<
            core.APIResponse<CandidApi.chargeCapture.v1.ChargeCapturePage, CandidApi.chargeCapture.v1.getAll.Error>
        >
    > {
        const {
            limit,
            sort,
            sortDirection,
            pageToken,
            patientExternalId,
            status,
            chargeExternalId,
            dateOfServiceMin,
            dateOfServiceMax,
            claimIds,
            claimCreationIds,
            billingProviderNpis,
            serviceFacilityName,
            primaryPayerIds,
            renderingProviderNpis,
            renderingProviderNames,
            supervisingProviderNpis,
            supervisingProviderNames,
            claimCreationCategory,
            tags,
            primaryPayerNames,
            patientNames,
            excludeChargesLinkedToClaims,
            patientExternalIdRankedSort,
            statusRankedSort,
            chargeExternalIdRankedSort,
            dateOfServiceMinRankedSort,
            dateOfServiceMaxRankedSort,
            searchTerm,
            billableStatus,
            responsibleParty,
            claimIdsRankedSort,
            claimCreationIdsRankedSort,
            billingProviderNpisRankedSort,
            serviceFacilityNameRankedSort,
            primaryPayerIdsRankedSort,
            renderingProviderNpisRankedSort,
            renderingProviderNamesRankedSort,
            supervisingProviderNpisRankedSort,
            supervisingProviderNamesRankedSort,
            claimStatus,
            claimCreationCategoryRankedSort,
            tagsRankedSort,
            primaryPayerNamesRankedSort,
            patientNamesRankedSort,
        } = request;
        const _queryParams: Record<string, unknown> = {
            limit,
            sort:
                sort != null
                    ? serializers.chargeCapture.v1.ChargeCaptureSortField.jsonOrThrow(sort, {
                          unrecognizedObjectKeys: "strip",
                      })
                    : undefined,
            sort_direction:
                sortDirection != null
                    ? serializers.SortDirection.jsonOrThrow(sortDirection, { unrecognizedObjectKeys: "strip" })
                    : undefined,
            page_token: pageToken,
            patient_external_id: patientExternalId,
            status:
                status != null
                    ? serializers.chargeCapture.v1.ChargeCaptureStatus.jsonOrThrow(status, {
                          unrecognizedObjectKeys: "strip",
                      })
                    : undefined,
            charge_external_id: chargeExternalId,
            date_of_service_min: dateOfServiceMin != null ? dateOfServiceMin : undefined,
            date_of_service_max: dateOfServiceMax != null ? dateOfServiceMax : undefined,
            claim_ids: claimIds,
            claim_creation_ids: claimCreationIds,
            billing_provider_npis: billingProviderNpis,
            service_facility_name: serviceFacilityName,
            primary_payer_ids: primaryPayerIds,
            rendering_provider_npis: renderingProviderNpis,
            rendering_provider_names: renderingProviderNames,
            supervising_provider_npis: supervisingProviderNpis,
            supervising_provider_names: supervisingProviderNames,
            claim_creation_category: claimCreationCategory,
            tags,
            primary_payer_names: primaryPayerNames,
            patient_names: patientNames,
            exclude_charges_linked_to_claims: excludeChargesLinkedToClaims,
            patient_external_id_ranked_sort: patientExternalIdRankedSort,
            status_ranked_sort:
                statusRankedSort != null
                    ? serializers.chargeCapture.v1.ChargeCaptureStatus.jsonOrThrow(statusRankedSort, {
                          unrecognizedObjectKeys: "strip",
                      })
                    : undefined,
            charge_external_id_ranked_sort: chargeExternalIdRankedSort,
            date_of_service_min_ranked_sort:
                dateOfServiceMinRankedSort != null ? dateOfServiceMinRankedSort : undefined,
            date_of_service_max_ranked_sort:
                dateOfServiceMaxRankedSort != null ? dateOfServiceMaxRankedSort : undefined,
            search_term: searchTerm,
            billable_status:
                billableStatus != null
                    ? serializers.encounters.v4.BillableStatusType.jsonOrThrow(billableStatus, {
                          unrecognizedObjectKeys: "strip",
                      })
                    : undefined,
            responsible_party:
                responsibleParty != null
                    ? serializers.encounters.v4.ResponsiblePartyType.jsonOrThrow(responsibleParty, {
                          unrecognizedObjectKeys: "strip",
                      })
                    : undefined,
            claim_ids_ranked_sort: claimIdsRankedSort,
            claim_creation_ids_ranked_sort: claimCreationIdsRankedSort,
            billing_provider_npis_ranked_sort: billingProviderNpisRankedSort,
            service_facility_name_ranked_sort: serviceFacilityNameRankedSort,
            primary_payer_ids_ranked_sort: primaryPayerIdsRankedSort,
            rendering_provider_npis_ranked_sort: renderingProviderNpisRankedSort,
            rendering_provider_names_ranked_sort: renderingProviderNamesRankedSort,
            supervising_provider_npis_ranked_sort: supervisingProviderNpisRankedSort,
            supervising_provider_names_ranked_sort: supervisingProviderNamesRankedSort,
            claim_status:
                claimStatus != null
                    ? serializers.ClaimStatus.jsonOrThrow(claimStatus, { unrecognizedObjectKeys: "strip" })
                    : undefined,
            claim_creation_category_ranked_sort: claimCreationCategoryRankedSort,
            tags_ranked_sort: tagsRankedSort,
            primary_payer_names_ranked_sort: primaryPayerNamesRankedSort,
            patient_names_ranked_sort: patientNamesRankedSort,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.CandidApiEnvironment.Production
                    ).candidApi,
                "/api/charge_captures/v1",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: serializers.chargeCapture.v1.ChargeCapturePage.parseOrThrow(_response.body, {
                        unrecognizedObjectKeys: "passthrough",
                        allowUnrecognizedUnionMembers: true,
                        allowUnrecognizedEnumValues: true,
                        breadcrumbsPrefix: ["response"],
                    }),
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        return {
            data: {
                ok: false,
                error: CandidApi.chargeCapture.v1.getAll.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }

    /**
     * @beta This endpoint is in development and may change.
     *
     * @param {CandidApi.chargeCapture.v1.FindByMetadataRequest} request
     * @param {V1Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.chargeCapture.v1.findByMetadata({
     *         metadata: [{
     *                 schemaId: CandidApi.SchemaId("d5e9c84f-c2b2-4bf4-b4b0-7ffd7a9ffc32"),
     *                 content: {
     *                     "content": {
     *                         "key": "value"
     *                     }
     *                 }
     *             }, {
     *                 schemaId: CandidApi.SchemaId("d5e9c84f-c2b2-4bf4-b4b0-7ffd7a9ffc32"),
     *                 content: {
     *                     "content": {
     *                         "key": "value"
     *                     }
     *                 }
     *             }]
     *     })
     */
    public findByMetadata(
        request: CandidApi.chargeCapture.v1.FindByMetadataRequest,
        requestOptions?: V1Client.RequestOptions,
    ): core.HttpResponsePromise<
        core.APIResponse<CandidApi.chargeCapture.v1.ChargeCapturePage, CandidApi.chargeCapture.v1.findByMetadata.Error>
    > {
        return core.HttpResponsePromise.fromPromise(this.__findByMetadata(request, requestOptions));
    }

    private async __findByMetadata(
        request: CandidApi.chargeCapture.v1.FindByMetadataRequest,
        requestOptions?: V1Client.RequestOptions,
    ): Promise<
        core.WithRawResponse<
            core.APIResponse<
                CandidApi.chargeCapture.v1.ChargeCapturePage,
                CandidApi.chargeCapture.v1.findByMetadata.Error
            >
        >
    > {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.CandidApiEnvironment.Production
                    ).candidApi,
                "/api/charge_captures/v1/find-by-metadata",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: serializers.chargeCapture.v1.FindByMetadataRequest.jsonOrThrow(request, {
                unrecognizedObjectKeys: "strip",
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: serializers.chargeCapture.v1.ChargeCapturePage.parseOrThrow(_response.body, {
                        unrecognizedObjectKeys: "passthrough",
                        allowUnrecognizedUnionMembers: true,
                        allowUnrecognizedEnumValues: true,
                        breadcrumbsPrefix: ["response"],
                    }),
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        return {
            data: {
                ok: false,
                error: CandidApi.chargeCapture.v1.findByMetadata.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }
}
