// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient";
import * as core from "../../../../../../core";
import { mergeHeaders } from "../../../../../../core/headers";
import * as environments from "../../../../../../environments";
import * as serializers from "../../../../../../serialization/index";
import * as CandidApi from "../../../../../index";

export declare namespace V3Client {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class V3Client {
    protected readonly _options: NormalizedClientOptionsWithAuth<V3Client.Options>;

    constructor(options: V3Client.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @param {CandidApi.contracts.v3.ContractId} contract_id
     * @param {V3Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.contracts.v3.get(CandidApi.contracts.v3.ContractId("d5e9c84f-c2b2-4bf4-b4b0-7ffd7a9ffc32"))
     */
    public get(
        contract_id: CandidApi.contracts.v3.ContractId,
        requestOptions?: V3Client.RequestOptions,
    ): core.HttpResponsePromise<
        core.APIResponse<CandidApi.contracts.v3.ContractWithProvidersUnion, CandidApi.contracts.v3.get.Error>
    > {
        return core.HttpResponsePromise.fromPromise(this.__get(contract_id, requestOptions));
    }

    private async __get(
        contract_id: CandidApi.contracts.v3.ContractId,
        requestOptions?: V3Client.RequestOptions,
    ): Promise<
        core.WithRawResponse<
            core.APIResponse<CandidApi.contracts.v3.ContractWithProvidersUnion, CandidApi.contracts.v3.get.Error>
        >
    > {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.CandidApiEnvironment.Production
                    ).candidApi,
                `/api/contracts/v3/${core.url.encodePathParam(serializers.contracts.v3.ContractId.jsonOrThrow(contract_id))}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: serializers.contracts.v3.ContractWithProvidersUnion.parseOrThrow(_response.body, {
                        unrecognizedObjectKeys: "passthrough",
                        allowUnrecognizedUnionMembers: true,
                        allowUnrecognizedEnumValues: true,
                        breadcrumbsPrefix: ["response"],
                    }),
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch ((_response.error.body as serializers.contracts.v3.get.Error.Raw)?.errorName) {
                case "EntityNotFoundError":
                    return {
                        data: {
                            ok: false,
                            error: serializers.contracts.v3.get.Error.parseOrThrow(
                                _response.error.body as serializers.contracts.v3.get.Error.Raw,
                                {
                                    unrecognizedObjectKeys: "passthrough",
                                    allowUnrecognizedUnionMembers: true,
                                    allowUnrecognizedEnumValues: true,
                                    breadcrumbsPrefix: ["response"],
                                },
                            ),
                            rawResponse: _response.rawResponse,
                        },
                        rawResponse: _response.rawResponse,
                    };
            }
        }

        return {
            data: {
                ok: false,
                error: CandidApi.contracts.v3.get.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }

    /**
     * @param {CandidApi.contracts.v3.GetMultiContractsRequest} request
     * @param {V3Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.contracts.v3.getMulti()
     */
    public getMulti(
        request: CandidApi.contracts.v3.GetMultiContractsRequest = {},
        requestOptions?: V3Client.RequestOptions,
    ): core.HttpResponsePromise<
        core.APIResponse<CandidApi.contracts.v3.ContractsPage, CandidApi.contracts.v3.getMulti.Error>
    > {
        return core.HttpResponsePromise.fromPromise(this.__getMulti(request, requestOptions));
    }

    private async __getMulti(
        request: CandidApi.contracts.v3.GetMultiContractsRequest = {},
        requestOptions?: V3Client.RequestOptions,
    ): Promise<
        core.WithRawResponse<
            core.APIResponse<CandidApi.contracts.v3.ContractsPage, CandidApi.contracts.v3.getMulti.Error>
        >
    > {
        const {
            pageToken,
            limit,
            type: type_,
            contractingProviderId,
            renderingProviderIds,
            payerNames,
            states,
            contractStatus,
            sort,
            sortDirection,
        } = request;
        const _queryParams: Record<string, unknown> = {
            page_token: pageToken,
            limit,
            type:
                type_ != null
                    ? serializers.contracts.v3.ContractType.jsonOrThrow(type_, { unrecognizedObjectKeys: "strip" })
                    : undefined,
            contracting_provider_id: contractingProviderId,
            rendering_provider_ids: renderingProviderIds,
            payer_names: payerNames,
            states: Array.isArray(states)
                ? states.map((item) => serializers.State.jsonOrThrow(item, { unrecognizedObjectKeys: "strip" }))
                : states != null
                  ? serializers.State.jsonOrThrow(states, { unrecognizedObjectKeys: "strip" })
                  : undefined,
            contract_status:
                contractStatus != null
                    ? serializers.contracts.v2.ContractStatus.jsonOrThrow(contractStatus, {
                          unrecognizedObjectKeys: "strip",
                      })
                    : undefined,
            sort:
                sort != null
                    ? serializers.contracts.v2.ContractSortField.jsonOrThrow(sort, { unrecognizedObjectKeys: "strip" })
                    : undefined,
            sort_direction:
                sortDirection != null
                    ? serializers.SortDirection.jsonOrThrow(sortDirection, { unrecognizedObjectKeys: "strip" })
                    : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.CandidApiEnvironment.Production
                    ).candidApi,
                "/api/contracts/v3",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: serializers.contracts.v3.ContractsPage.parseOrThrow(_response.body, {
                        unrecognizedObjectKeys: "passthrough",
                        allowUnrecognizedUnionMembers: true,
                        allowUnrecognizedEnumValues: true,
                        breadcrumbsPrefix: ["response"],
                    }),
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        return {
            data: {
                ok: false,
                error: CandidApi.contracts.v3.getMulti.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }

    /**
     * Creates a new contract within the user's current organization
     *
     * @param {CandidApi.contracts.v3.ContractCreateUnion} request
     * @param {V3Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.contracts.v3.create({
     *         type: "professional",
     *         renderingProviderIds: new Set([CandidApi.contracts.v3.RenderingProviderid("d5e9c84f-c2b2-4bf4-b4b0-7ffd7a9ffc32")]),
     *         contractType: "professional",
     *         contractingProviderId: CandidApi.contracts.v3.ContractingProviderId("d5e9c84f-c2b2-4bf4-b4b0-7ffd7a9ffc32"),
     *         payerUuid: "d5e9c84f-c2b2-4bf4-b4b0-7ffd7a9ffc32",
     *         effectiveDate: CandidApi.Date_("effective_date"),
     *         regions: {
     *             type: "states",
     *             states: ["AA", "AA"]
     *         },
     *         commercialInsuranceTypes: {
     *             type: "allApply"
     *         },
     *         medicareInsuranceTypes: {
     *             type: "allApply"
     *         },
     *         medicaidInsuranceTypes: {
     *             type: "allApply"
     *         }
     *     })
     */
    public create(
        request: CandidApi.contracts.v3.ContractCreateUnion,
        requestOptions?: V3Client.RequestOptions,
    ): core.HttpResponsePromise<
        core.APIResponse<CandidApi.contracts.v3.ContractWithProvidersUnion, CandidApi.contracts.v3.create.Error>
    > {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CandidApi.contracts.v3.ContractCreateUnion,
        requestOptions?: V3Client.RequestOptions,
    ): Promise<
        core.WithRawResponse<
            core.APIResponse<CandidApi.contracts.v3.ContractWithProvidersUnion, CandidApi.contracts.v3.create.Error>
        >
    > {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.CandidApiEnvironment.Production
                    ).candidApi,
                "/api/contracts/v3",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: serializers.contracts.v3.ContractCreateUnion.jsonOrThrow(request, {
                unrecognizedObjectKeys: "strip",
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: serializers.contracts.v3.ContractWithProvidersUnion.parseOrThrow(_response.body, {
                        unrecognizedObjectKeys: "passthrough",
                        allowUnrecognizedUnionMembers: true,
                        allowUnrecognizedEnumValues: true,
                        breadcrumbsPrefix: ["response"],
                    }),
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        return {
            data: {
                ok: false,
                error: CandidApi.contracts.v3.create.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }

    /**
     * @param {CandidApi.contracts.v3.ContractId} contract_id
     * @param {V3Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.contracts.v3.delete(CandidApi.contracts.v3.ContractId("d5e9c84f-c2b2-4bf4-b4b0-7ffd7a9ffc32"))
     */
    public delete(
        contract_id: CandidApi.contracts.v3.ContractId,
        requestOptions?: V3Client.RequestOptions,
    ): core.HttpResponsePromise<core.APIResponse<void, CandidApi.contracts.v3.delete.Error>> {
        return core.HttpResponsePromise.fromPromise(this.__delete(contract_id, requestOptions));
    }

    private async __delete(
        contract_id: CandidApi.contracts.v3.ContractId,
        requestOptions?: V3Client.RequestOptions,
    ): Promise<core.WithRawResponse<core.APIResponse<void, CandidApi.contracts.v3.delete.Error>>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.CandidApiEnvironment.Production
                    ).candidApi,
                `/api/contracts/v3/${core.url.encodePathParam(serializers.contracts.v3.ContractId.jsonOrThrow(contract_id))}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: undefined,
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch ((_response.error.body as serializers.contracts.v3.delete.Error.Raw)?.errorName) {
                case "ContractIsLinkedToFeeScheduleHttpError":
                    return {
                        data: {
                            ok: false,
                            error: serializers.contracts.v3.delete.Error.parseOrThrow(
                                _response.error.body as serializers.contracts.v3.delete.Error.Raw,
                                {
                                    unrecognizedObjectKeys: "passthrough",
                                    allowUnrecognizedUnionMembers: true,
                                    allowUnrecognizedEnumValues: true,
                                    breadcrumbsPrefix: ["response"],
                                },
                            ),
                            rawResponse: _response.rawResponse,
                        },
                        rawResponse: _response.rawResponse,
                    };
            }
        }

        return {
            data: {
                ok: false,
                error: CandidApi.contracts.v3.delete.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }

    /**
     * @param {CandidApi.contracts.v3.ContractId} contract_id
     * @param {CandidApi.contracts.v3.ContractUpdateUnion} request
     * @param {V3Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.contracts.v3.update(CandidApi.contracts.v3.ContractId("d5e9c84f-c2b2-4bf4-b4b0-7ffd7a9ffc32"), {
     *         type: "professional"
     *     })
     */
    public update(
        contract_id: CandidApi.contracts.v3.ContractId,
        request: CandidApi.contracts.v3.ContractUpdateUnion,
        requestOptions?: V3Client.RequestOptions,
    ): core.HttpResponsePromise<
        core.APIResponse<CandidApi.contracts.v3.ContractWithProvidersUnion, CandidApi.contracts.v3.update.Error>
    > {
        return core.HttpResponsePromise.fromPromise(this.__update(contract_id, request, requestOptions));
    }

    private async __update(
        contract_id: CandidApi.contracts.v3.ContractId,
        request: CandidApi.contracts.v3.ContractUpdateUnion,
        requestOptions?: V3Client.RequestOptions,
    ): Promise<
        core.WithRawResponse<
            core.APIResponse<CandidApi.contracts.v3.ContractWithProvidersUnion, CandidApi.contracts.v3.update.Error>
        >
    > {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.CandidApiEnvironment.Production
                    ).candidApi,
                `/api/contracts/v3/${core.url.encodePathParam(serializers.contracts.v3.ContractId.jsonOrThrow(contract_id))}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: serializers.contracts.v3.ContractUpdateUnion.jsonOrThrow(request, {
                unrecognizedObjectKeys: "strip",
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: serializers.contracts.v3.ContractWithProvidersUnion.parseOrThrow(_response.body, {
                        unrecognizedObjectKeys: "passthrough",
                        allowUnrecognizedUnionMembers: true,
                        allowUnrecognizedEnumValues: true,
                        breadcrumbsPrefix: ["response"],
                    }),
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch ((_response.error.body as serializers.contracts.v3.update.Error.Raw)?.errorName) {
                case "UnprocessableEntityError":
                case "ContractInvalidExpirationDateHttpError":
                    return {
                        data: {
                            ok: false,
                            error: serializers.contracts.v3.update.Error.parseOrThrow(
                                _response.error.body as serializers.contracts.v3.update.Error.Raw,
                                {
                                    unrecognizedObjectKeys: "passthrough",
                                    allowUnrecognizedUnionMembers: true,
                                    allowUnrecognizedEnumValues: true,
                                    breadcrumbsPrefix: ["response"],
                                },
                            ),
                            rawResponse: _response.rawResponse,
                        },
                        rawResponse: _response.rawResponse,
                    };
            }
        }

        return {
            data: {
                ok: false,
                error: CandidApi.contracts.v3.update.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }

    /**
     * @param {CandidApi.contracts.v3.ContractId} contract_id
     * @param {CandidApi.contracts.v3.GetContractProvidersRequest} request
     * @param {V3Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.contracts.v3.getContractProviders(CandidApi.contracts.v3.ContractId("d5e9c84f-c2b2-4bf4-b4b0-7ffd7a9ffc32"))
     */
    public getContractProviders(
        contract_id: CandidApi.contracts.v3.ContractId,
        request: CandidApi.contracts.v3.GetContractProvidersRequest = {},
        requestOptions?: V3Client.RequestOptions,
    ): core.HttpResponsePromise<
        core.APIResponse<
            CandidApi.contracts.v3.ContractProvidersPage,
            CandidApi.contracts.v3.getContractProviders.Error
        >
    > {
        return core.HttpResponsePromise.fromPromise(this.__getContractProviders(contract_id, request, requestOptions));
    }

    private async __getContractProviders(
        contract_id: CandidApi.contracts.v3.ContractId,
        request: CandidApi.contracts.v3.GetContractProvidersRequest = {},
        requestOptions?: V3Client.RequestOptions,
    ): Promise<
        core.WithRawResponse<
            core.APIResponse<
                CandidApi.contracts.v3.ContractProvidersPage,
                CandidApi.contracts.v3.getContractProviders.Error
            >
        >
    > {
        const { pageToken, limit } = request;
        const _queryParams: Record<string, unknown> = {
            page_token: pageToken,
            limit,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.CandidApiEnvironment.Production
                    ).candidApi,
                `/api/contracts/v3/${core.url.encodePathParam(serializers.contracts.v3.ContractId.jsonOrThrow(contract_id))}/providers`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: serializers.contracts.v3.ContractProvidersPage.parseOrThrow(_response.body, {
                        unrecognizedObjectKeys: "passthrough",
                        allowUnrecognizedUnionMembers: true,
                        allowUnrecognizedEnumValues: true,
                        breadcrumbsPrefix: ["response"],
                    }),
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch ((_response.error.body as serializers.contracts.v3.getContractProviders.Error.Raw)?.errorName) {
                case "EntityNotFoundError":
                case "UnprocessableEntityError":
                    return {
                        data: {
                            ok: false,
                            error: serializers.contracts.v3.getContractProviders.Error.parseOrThrow(
                                _response.error.body as serializers.contracts.v3.getContractProviders.Error.Raw,
                                {
                                    unrecognizedObjectKeys: "passthrough",
                                    allowUnrecognizedUnionMembers: true,
                                    allowUnrecognizedEnumValues: true,
                                    breadcrumbsPrefix: ["response"],
                                },
                            ),
                            rawResponse: _response.rawResponse,
                        },
                        rawResponse: _response.rawResponse,
                    };
            }
        }

        return {
            data: {
                ok: false,
                error: CandidApi.contracts.v3.getContractProviders.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }

    /**
     * Returns rendering providers linked to a contract with their credentialing spans, scoped to the contract's contracting provider and payer. Providers with no matching spans are included with an empty list.
     *
     * @param {CandidApi.contracts.v3.ContractId} contract_id
     * @param {CandidApi.contracts.v3.GetContractProviderCredentialingSpansRequest} request
     * @param {V3Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.contracts.v3.getContractProviderCredentialingSpans(CandidApi.contracts.v3.ContractId("d5e9c84f-c2b2-4bf4-b4b0-7ffd7a9ffc32"))
     */
    public getContractProviderCredentialingSpans(
        contract_id: CandidApi.contracts.v3.ContractId,
        request: CandidApi.contracts.v3.GetContractProviderCredentialingSpansRequest = {},
        requestOptions?: V3Client.RequestOptions,
    ): core.HttpResponsePromise<
        core.APIResponse<
            CandidApi.contracts.v3.ContractProviderCredentialingPage,
            CandidApi.contracts.v3.getContractProviderCredentialingSpans.Error
        >
    > {
        return core.HttpResponsePromise.fromPromise(
            this.__getContractProviderCredentialingSpans(contract_id, request, requestOptions),
        );
    }

    private async __getContractProviderCredentialingSpans(
        contract_id: CandidApi.contracts.v3.ContractId,
        request: CandidApi.contracts.v3.GetContractProviderCredentialingSpansRequest = {},
        requestOptions?: V3Client.RequestOptions,
    ): Promise<
        core.WithRawResponse<
            core.APIResponse<
                CandidApi.contracts.v3.ContractProviderCredentialingPage,
                CandidApi.contracts.v3.getContractProviderCredentialingSpans.Error
            >
        >
    > {
        const { pageToken, limit } = request;
        const _queryParams: Record<string, unknown> = {
            page_token: pageToken,
            limit,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.CandidApiEnvironment.Production
                    ).candidApi,
                `/api/contracts/v3/${core.url.encodePathParam(serializers.contracts.v3.ContractId.jsonOrThrow(contract_id))}/providers/credentialing`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: serializers.contracts.v3.ContractProviderCredentialingPage.parseOrThrow(_response.body, {
                        unrecognizedObjectKeys: "passthrough",
                        allowUnrecognizedUnionMembers: true,
                        allowUnrecognizedEnumValues: true,
                        breadcrumbsPrefix: ["response"],
                    }),
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (
                (_response.error.body as serializers.contracts.v3.getContractProviderCredentialingSpans.Error.Raw)
                    ?.errorName
            ) {
                case "EntityNotFoundError":
                case "UnprocessableEntityError":
                    return {
                        data: {
                            ok: false,
                            error: serializers.contracts.v3.getContractProviderCredentialingSpans.Error.parseOrThrow(
                                _response.error
                                    .body as serializers.contracts.v3.getContractProviderCredentialingSpans.Error.Raw,
                                {
                                    unrecognizedObjectKeys: "passthrough",
                                    allowUnrecognizedUnionMembers: true,
                                    allowUnrecognizedEnumValues: true,
                                    breadcrumbsPrefix: ["response"],
                                },
                            ),
                            rawResponse: _response.rawResponse,
                        },
                        rawResponse: _response.rawResponse,
                    };
            }
        }

        return {
            data: {
                ok: false,
                error: CandidApi.contracts.v3.getContractProviderCredentialingSpans.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }

    /**
     * Appends a list of rendering provider IDs to the contract. Provider IDs already on the contract are silently ignored.
     *
     * @param {CandidApi.contracts.v3.ContractId} contract_id
     * @param {CandidApi.contracts.v3.AddContractProvidersRequest} request
     * @param {V3Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.contracts.v3.addContractProviders(CandidApi.contracts.v3.ContractId("d5e9c84f-c2b2-4bf4-b4b0-7ffd7a9ffc32"), {
     *         renderingProviderIds: new Set([CandidApi.contracts.v3.RenderingProviderid("d5e9c84f-c2b2-4bf4-b4b0-7ffd7a9ffc32")])
     *     })
     */
    public addContractProviders(
        contract_id: CandidApi.contracts.v3.ContractId,
        request: CandidApi.contracts.v3.AddContractProvidersRequest,
        requestOptions?: V3Client.RequestOptions,
    ): core.HttpResponsePromise<
        core.APIResponse<
            CandidApi.contracts.v3.AddContractProvidersResponse,
            CandidApi.contracts.v3.addContractProviders.Error
        >
    > {
        return core.HttpResponsePromise.fromPromise(this.__addContractProviders(contract_id, request, requestOptions));
    }

    private async __addContractProviders(
        contract_id: CandidApi.contracts.v3.ContractId,
        request: CandidApi.contracts.v3.AddContractProvidersRequest,
        requestOptions?: V3Client.RequestOptions,
    ): Promise<
        core.WithRawResponse<
            core.APIResponse<
                CandidApi.contracts.v3.AddContractProvidersResponse,
                CandidApi.contracts.v3.addContractProviders.Error
            >
        >
    > {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.CandidApiEnvironment.Production
                    ).candidApi,
                `/api/contracts/v3/${core.url.encodePathParam(serializers.contracts.v3.ContractId.jsonOrThrow(contract_id))}/providers`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: serializers.contracts.v3.AddContractProvidersRequest.jsonOrThrow(request, {
                unrecognizedObjectKeys: "strip",
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: serializers.contracts.v3.AddContractProvidersResponse.parseOrThrow(_response.body, {
                        unrecognizedObjectKeys: "passthrough",
                        allowUnrecognizedUnionMembers: true,
                        allowUnrecognizedEnumValues: true,
                        breadcrumbsPrefix: ["response"],
                    }),
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch ((_response.error.body as serializers.contracts.v3.addContractProviders.Error.Raw)?.errorName) {
                case "EntityNotFoundError":
                case "UnprocessableEntityError":
                    return {
                        data: {
                            ok: false,
                            error: serializers.contracts.v3.addContractProviders.Error.parseOrThrow(
                                _response.error.body as serializers.contracts.v3.addContractProviders.Error.Raw,
                                {
                                    unrecognizedObjectKeys: "passthrough",
                                    allowUnrecognizedUnionMembers: true,
                                    allowUnrecognizedEnumValues: true,
                                    breadcrumbsPrefix: ["response"],
                                },
                            ),
                            rawResponse: _response.rawResponse,
                        },
                        rawResponse: _response.rawResponse,
                    };
            }
        }

        return {
            data: {
                ok: false,
                error: CandidApi.contracts.v3.addContractProviders.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }

    /**
     * Removes the specified rendering provider IDs from the contract. Returns a 404 if any of the provided IDs are not currently in the contract.
     *
     * @param {CandidApi.contracts.v3.ContractId} contract_id
     * @param {CandidApi.contracts.v3.RemoveContractProvidersRequest} request
     * @param {V3Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.contracts.v3.removeContractProviders(CandidApi.contracts.v3.ContractId("d5e9c84f-c2b2-4bf4-b4b0-7ffd7a9ffc32"), {
     *         renderingProviderIds: new Set([CandidApi.contracts.v3.RenderingProviderid("d5e9c84f-c2b2-4bf4-b4b0-7ffd7a9ffc32")])
     *     })
     */
    public removeContractProviders(
        contract_id: CandidApi.contracts.v3.ContractId,
        request: CandidApi.contracts.v3.RemoveContractProvidersRequest,
        requestOptions?: V3Client.RequestOptions,
    ): core.HttpResponsePromise<
        core.APIResponse<
            CandidApi.contracts.v3.ContractProviderCount,
            CandidApi.contracts.v3.removeContractProviders.Error
        >
    > {
        return core.HttpResponsePromise.fromPromise(
            this.__removeContractProviders(contract_id, request, requestOptions),
        );
    }

    private async __removeContractProviders(
        contract_id: CandidApi.contracts.v3.ContractId,
        request: CandidApi.contracts.v3.RemoveContractProvidersRequest,
        requestOptions?: V3Client.RequestOptions,
    ): Promise<
        core.WithRawResponse<
            core.APIResponse<
                CandidApi.contracts.v3.ContractProviderCount,
                CandidApi.contracts.v3.removeContractProviders.Error
            >
        >
    > {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.CandidApiEnvironment.Production
                    ).candidApi,
                `/api/contracts/v3/${core.url.encodePathParam(serializers.contracts.v3.ContractId.jsonOrThrow(contract_id))}/providers`,
            ),
            method: "DELETE",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: serializers.contracts.v3.RemoveContractProvidersRequest.jsonOrThrow(request, {
                unrecognizedObjectKeys: "strip",
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: serializers.contracts.v3.ContractProviderCount.parseOrThrow(_response.body, {
                        unrecognizedObjectKeys: "passthrough",
                        allowUnrecognizedUnionMembers: true,
                        allowUnrecognizedEnumValues: true,
                        breadcrumbsPrefix: ["response"],
                    }),
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch ((_response.error.body as serializers.contracts.v3.removeContractProviders.Error.Raw)?.errorName) {
                case "EntityNotFoundError":
                case "UnprocessableEntityError":
                    return {
                        data: {
                            ok: false,
                            error: serializers.contracts.v3.removeContractProviders.Error.parseOrThrow(
                                _response.error.body as serializers.contracts.v3.removeContractProviders.Error.Raw,
                                {
                                    unrecognizedObjectKeys: "passthrough",
                                    allowUnrecognizedUnionMembers: true,
                                    allowUnrecognizedEnumValues: true,
                                    breadcrumbsPrefix: ["response"],
                                },
                            ),
                            rawResponse: _response.rawResponse,
                        },
                        rawResponse: _response.rawResponse,
                    };
            }
        }

        return {
            data: {
                ok: false,
                error: CandidApi.contracts.v3.removeContractProviders.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }

    /**
     * @param {CandidApi.contracts.v3.ContractId} contract_id
     * @param {CandidApi.contracts.v3.ContractServiceFacilityCreate} request
     * @param {V3Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.contracts.v3.createContractServiceFacility(CandidApi.contracts.v3.ContractId("d5e9c84f-c2b2-4bf4-b4b0-7ffd7a9ffc32"), {
     *         serviceFacilityId: "d5e9c84f-c2b2-4bf4-b4b0-7ffd7a9ffc32",
     *         providerIds: new Set(["d5e9c84f-c2b2-4bf4-b4b0-7ffd7a9ffc32"])
     *     })
     */
    public createContractServiceFacility(
        contract_id: CandidApi.contracts.v3.ContractId,
        request: CandidApi.contracts.v3.ContractServiceFacilityCreate,
        requestOptions?: V3Client.RequestOptions,
    ): core.HttpResponsePromise<
        core.APIResponse<
            CandidApi.contracts.v3.ContractServiceFacility,
            CandidApi.contracts.v3.createContractServiceFacility.Error
        >
    > {
        return core.HttpResponsePromise.fromPromise(
            this.__createContractServiceFacility(contract_id, request, requestOptions),
        );
    }

    private async __createContractServiceFacility(
        contract_id: CandidApi.contracts.v3.ContractId,
        request: CandidApi.contracts.v3.ContractServiceFacilityCreate,
        requestOptions?: V3Client.RequestOptions,
    ): Promise<
        core.WithRawResponse<
            core.APIResponse<
                CandidApi.contracts.v3.ContractServiceFacility,
                CandidApi.contracts.v3.createContractServiceFacility.Error
            >
        >
    > {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.CandidApiEnvironment.Production
                    ).candidApi,
                `/api/contracts/v3/${core.url.encodePathParam(serializers.contracts.v3.ContractId.jsonOrThrow(contract_id))}/service-facilities`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: serializers.contracts.v3.ContractServiceFacilityCreate.jsonOrThrow(request, {
                unrecognizedObjectKeys: "strip",
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: serializers.contracts.v3.ContractServiceFacility.parseOrThrow(_response.body, {
                        unrecognizedObjectKeys: "passthrough",
                        allowUnrecognizedUnionMembers: true,
                        allowUnrecognizedEnumValues: true,
                        breadcrumbsPrefix: ["response"],
                    }),
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (
                (_response.error.body as serializers.contracts.v3.createContractServiceFacility.Error.Raw)?.errorName
            ) {
                case "UnprocessableEntityError":
                    return {
                        data: {
                            ok: false,
                            error: serializers.contracts.v3.createContractServiceFacility.Error.parseOrThrow(
                                _response.error
                                    .body as serializers.contracts.v3.createContractServiceFacility.Error.Raw,
                                {
                                    unrecognizedObjectKeys: "passthrough",
                                    allowUnrecognizedUnionMembers: true,
                                    allowUnrecognizedEnumValues: true,
                                    breadcrumbsPrefix: ["response"],
                                },
                            ),
                            rawResponse: _response.rawResponse,
                        },
                        rawResponse: _response.rawResponse,
                    };
            }
        }

        return {
            data: {
                ok: false,
                error: CandidApi.contracts.v3.createContractServiceFacility.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }

    /**
     * @param {CandidApi.contracts.v3.ContractId} contract_id
     * @param {CandidApi.contracts.v3.ContractServiceFacilityId} contract_service_facility_id
     * @param {CandidApi.contracts.v3.ContractServiceFacilityUpdate} request
     * @param {V3Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.contracts.v3.updateContractServiceFacility(CandidApi.contracts.v3.ContractId("d5e9c84f-c2b2-4bf4-b4b0-7ffd7a9ffc32"), CandidApi.contracts.v3.ContractServiceFacilityId("d5e9c84f-c2b2-4bf4-b4b0-7ffd7a9ffc32"))
     */
    public updateContractServiceFacility(
        contract_id: CandidApi.contracts.v3.ContractId,
        contract_service_facility_id: CandidApi.contracts.v3.ContractServiceFacilityId,
        request: CandidApi.contracts.v3.ContractServiceFacilityUpdate = {},
        requestOptions?: V3Client.RequestOptions,
    ): core.HttpResponsePromise<
        core.APIResponse<
            CandidApi.contracts.v3.ContractServiceFacility,
            CandidApi.contracts.v3.updateContractServiceFacility.Error
        >
    > {
        return core.HttpResponsePromise.fromPromise(
            this.__updateContractServiceFacility(contract_id, contract_service_facility_id, request, requestOptions),
        );
    }

    private async __updateContractServiceFacility(
        contract_id: CandidApi.contracts.v3.ContractId,
        contract_service_facility_id: CandidApi.contracts.v3.ContractServiceFacilityId,
        request: CandidApi.contracts.v3.ContractServiceFacilityUpdate = {},
        requestOptions?: V3Client.RequestOptions,
    ): Promise<
        core.WithRawResponse<
            core.APIResponse<
                CandidApi.contracts.v3.ContractServiceFacility,
                CandidApi.contracts.v3.updateContractServiceFacility.Error
            >
        >
    > {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.CandidApiEnvironment.Production
                    ).candidApi,
                `/api/contracts/v3/${core.url.encodePathParam(serializers.contracts.v3.ContractId.jsonOrThrow(contract_id))}/service-facilities/${core.url.encodePathParam(serializers.contracts.v3.ContractServiceFacilityId.jsonOrThrow(contract_service_facility_id))}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: serializers.contracts.v3.ContractServiceFacilityUpdate.jsonOrThrow(request, {
                unrecognizedObjectKeys: "strip",
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: serializers.contracts.v3.ContractServiceFacility.parseOrThrow(_response.body, {
                        unrecognizedObjectKeys: "passthrough",
                        allowUnrecognizedUnionMembers: true,
                        allowUnrecognizedEnumValues: true,
                        breadcrumbsPrefix: ["response"],
                    }),
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (
                (_response.error.body as serializers.contracts.v3.updateContractServiceFacility.Error.Raw)?.errorName
            ) {
                case "UnprocessableEntityError":
                    return {
                        data: {
                            ok: false,
                            error: serializers.contracts.v3.updateContractServiceFacility.Error.parseOrThrow(
                                _response.error
                                    .body as serializers.contracts.v3.updateContractServiceFacility.Error.Raw,
                                {
                                    unrecognizedObjectKeys: "passthrough",
                                    allowUnrecognizedUnionMembers: true,
                                    allowUnrecognizedEnumValues: true,
                                    breadcrumbsPrefix: ["response"],
                                },
                            ),
                            rawResponse: _response.rawResponse,
                        },
                        rawResponse: _response.rawResponse,
                    };
            }
        }

        return {
            data: {
                ok: false,
                error: CandidApi.contracts.v3.updateContractServiceFacility.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }
}
