// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient";
import * as core from "../../../../../../core";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers";
import * as environments from "../../../../../../environments";
import * as serializers from "../../../../../../serialization/index";
import * as CandidApi from "../../../../../index";

export declare namespace V3 {
    export interface Options extends BaseClientOptions {
        token?: core.Supplier<core.BearerToken | undefined>;
    }

    export interface RequestOptions extends BaseRequestOptions {}
}

export class V3 {
    protected readonly _options: V3.Options;

    constructor(_options: V3.Options = {}) {
        this._options = _options;
    }

    /**
     * @param {CandidApi.contracts.v3.ContractId} contractId
     * @param {V3.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.contracts.v3.get(CandidApi.contracts.v3.ContractId("d5e9c84f-c2b2-4bf4-b4b0-7ffd7a9ffc32"))
     */
    public get(
        contractId: CandidApi.contracts.v3.ContractId,
        requestOptions?: V3.RequestOptions,
    ): core.HttpResponsePromise<
        core.APIResponse<CandidApi.contracts.v3.ContractWithProvidersUnion, CandidApi.contracts.v3.get.Error>
    > {
        return core.HttpResponsePromise.fromPromise(this.__get(contractId, requestOptions));
    }

    private async __get(
        contractId: CandidApi.contracts.v3.ContractId,
        requestOptions?: V3.RequestOptions,
    ): Promise<
        core.WithRawResponse<
            core.APIResponse<CandidApi.contracts.v3.ContractWithProvidersUnion, CandidApi.contracts.v3.get.Error>
        >
    > {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ Authorization: await this._getAuthorizationHeader() }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.CandidApiEnvironment.Production
                    ).candidApi,
                `/api/contracts/v3/${core.url.encodePathParam(serializers.contracts.v3.ContractId.jsonOrThrow(contractId))}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: serializers.contracts.v3.ContractWithProvidersUnion.parseOrThrow(_response.body, {
                        unrecognizedObjectKeys: "passthrough",
                        allowUnrecognizedUnionMembers: true,
                        allowUnrecognizedEnumValues: true,
                        breadcrumbsPrefix: ["response"],
                    }),
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch ((_response.error.body as serializers.contracts.v3.get.Error.Raw)?.errorName) {
                case "EntityNotFoundError":
                    return {
                        data: {
                            ok: false,
                            error: serializers.contracts.v3.get.Error.parseOrThrow(
                                _response.error.body as serializers.contracts.v3.get.Error.Raw,
                                {
                                    unrecognizedObjectKeys: "passthrough",
                                    allowUnrecognizedUnionMembers: true,
                                    allowUnrecognizedEnumValues: true,
                                    breadcrumbsPrefix: ["response"],
                                },
                            ),
                            rawResponse: _response.rawResponse,
                        },
                        rawResponse: _response.rawResponse,
                    };
            }
        }

        return {
            data: {
                ok: false,
                error: CandidApi.contracts.v3.get.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }

    /**
     * @param {CandidApi.contracts.v3.GetMultiContractsRequest} request
     * @param {V3.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.contracts.v3.getMulti()
     */
    public getMulti(
        request: CandidApi.contracts.v3.GetMultiContractsRequest = {},
        requestOptions?: V3.RequestOptions,
    ): core.HttpResponsePromise<
        core.APIResponse<CandidApi.contracts.v3.ContractsPage, CandidApi.contracts.v3.getMulti.Error>
    > {
        return core.HttpResponsePromise.fromPromise(this.__getMulti(request, requestOptions));
    }

    private async __getMulti(
        request: CandidApi.contracts.v3.GetMultiContractsRequest = {},
        requestOptions?: V3.RequestOptions,
    ): Promise<
        core.WithRawResponse<
            core.APIResponse<CandidApi.contracts.v3.ContractsPage, CandidApi.contracts.v3.getMulti.Error>
        >
    > {
        const {
            pageToken,
            limit,
            type: type_,
            contractingProviderId,
            renderingProviderIds,
            payerNames,
            states,
            contractStatus,
            sort,
            sortDirection,
        } = request;
        const _queryParams: Record<string, string | string[] | object | object[] | null> = {};
        if (pageToken != null) {
            _queryParams.page_token = pageToken;
        }

        if (limit != null) {
            _queryParams.limit = limit.toString();
        }

        if (type_ != null) {
            _queryParams.type = serializers.contracts.v3.ContractType.jsonOrThrow(type_, {
                unrecognizedObjectKeys: "strip",
            });
        }

        if (contractingProviderId != null) {
            _queryParams.contracting_provider_id = contractingProviderId;
        }

        if (renderingProviderIds != null) {
            if (Array.isArray(renderingProviderIds)) {
                _queryParams.rendering_provider_ids = renderingProviderIds.map((item) =>
                    serializers.contracts.v3.RenderingProviderid.jsonOrThrow(item, { unrecognizedObjectKeys: "strip" }),
                );
            } else {
                _queryParams.rendering_provider_ids = renderingProviderIds;
            }
        }

        if (payerNames != null) {
            if (Array.isArray(payerNames)) {
                _queryParams.payer_names = payerNames.map((item) => item);
            } else {
                _queryParams.payer_names = payerNames;
            }
        }

        if (states != null) {
            if (Array.isArray(states)) {
                _queryParams.states = states.map((item) =>
                    serializers.State.jsonOrThrow(item, { unrecognizedObjectKeys: "strip" }),
                );
            } else {
                _queryParams.states = serializers.State.jsonOrThrow(states, { unrecognizedObjectKeys: "strip" });
            }
        }

        if (contractStatus != null) {
            _queryParams.contract_status = serializers.contracts.v2.ContractStatus.jsonOrThrow(contractStatus, {
                unrecognizedObjectKeys: "strip",
            });
        }

        if (sort != null) {
            _queryParams.sort = serializers.contracts.v2.ContractSortField.jsonOrThrow(sort, {
                unrecognizedObjectKeys: "strip",
            });
        }

        if (sortDirection != null) {
            _queryParams.sort_direction = serializers.SortDirection.jsonOrThrow(sortDirection, {
                unrecognizedObjectKeys: "strip",
            });
        }

        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ Authorization: await this._getAuthorizationHeader() }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.CandidApiEnvironment.Production
                    ).candidApi,
                "/api/contracts/v3",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: serializers.contracts.v3.ContractsPage.parseOrThrow(_response.body, {
                        unrecognizedObjectKeys: "passthrough",
                        allowUnrecognizedUnionMembers: true,
                        allowUnrecognizedEnumValues: true,
                        breadcrumbsPrefix: ["response"],
                    }),
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        return {
            data: {
                ok: false,
                error: CandidApi.contracts.v3.getMulti.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }

    /**
     * Creates a new contract within the user's current organization
     *
     * @param {CandidApi.contracts.v3.ContractCreateUnion} request
     * @param {V3.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.contracts.v3.create({
     *         type: "professional",
     *         renderingProviderIds: new Set([CandidApi.contracts.v3.RenderingProviderid("d5e9c84f-c2b2-4bf4-b4b0-7ffd7a9ffc32")]),
     *         contractType: "professional",
     *         contractingProviderId: CandidApi.contracts.v3.ContractingProviderId("d5e9c84f-c2b2-4bf4-b4b0-7ffd7a9ffc32"),
     *         payerUuid: "d5e9c84f-c2b2-4bf4-b4b0-7ffd7a9ffc32",
     *         effectiveDate: CandidApi.Date_("effective_date"),
     *         regions: {
     *             type: "states",
     *             states: ["AA", "AA"]
     *         },
     *         commercialInsuranceTypes: {
     *             type: "allApply"
     *         },
     *         medicareInsuranceTypes: {
     *             type: "allApply"
     *         },
     *         medicaidInsuranceTypes: {
     *             type: "allApply"
     *         }
     *     })
     */
    public create(
        request: CandidApi.contracts.v3.ContractCreateUnion,
        requestOptions?: V3.RequestOptions,
    ): core.HttpResponsePromise<
        core.APIResponse<CandidApi.contracts.v3.ContractWithProvidersUnion, CandidApi.contracts.v3.create.Error>
    > {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: CandidApi.contracts.v3.ContractCreateUnion,
        requestOptions?: V3.RequestOptions,
    ): Promise<
        core.WithRawResponse<
            core.APIResponse<CandidApi.contracts.v3.ContractWithProvidersUnion, CandidApi.contracts.v3.create.Error>
        >
    > {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ Authorization: await this._getAuthorizationHeader() }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.CandidApiEnvironment.Production
                    ).candidApi,
                "/api/contracts/v3",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: serializers.contracts.v3.ContractCreateUnion.jsonOrThrow(request, {
                unrecognizedObjectKeys: "strip",
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: serializers.contracts.v3.ContractWithProvidersUnion.parseOrThrow(_response.body, {
                        unrecognizedObjectKeys: "passthrough",
                        allowUnrecognizedUnionMembers: true,
                        allowUnrecognizedEnumValues: true,
                        breadcrumbsPrefix: ["response"],
                    }),
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        return {
            data: {
                ok: false,
                error: CandidApi.contracts.v3.create.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }

    /**
     * @param {CandidApi.contracts.v3.ContractId} contractId
     * @param {V3.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.contracts.v3.delete(CandidApi.contracts.v3.ContractId("d5e9c84f-c2b2-4bf4-b4b0-7ffd7a9ffc32"))
     */
    public delete(
        contractId: CandidApi.contracts.v3.ContractId,
        requestOptions?: V3.RequestOptions,
    ): core.HttpResponsePromise<core.APIResponse<void, CandidApi.contracts.v3.delete.Error>> {
        return core.HttpResponsePromise.fromPromise(this.__delete(contractId, requestOptions));
    }

    private async __delete(
        contractId: CandidApi.contracts.v3.ContractId,
        requestOptions?: V3.RequestOptions,
    ): Promise<core.WithRawResponse<core.APIResponse<void, CandidApi.contracts.v3.delete.Error>>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ Authorization: await this._getAuthorizationHeader() }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.CandidApiEnvironment.Production
                    ).candidApi,
                `/api/contracts/v3/${core.url.encodePathParam(serializers.contracts.v3.ContractId.jsonOrThrow(contractId))}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: undefined,
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch ((_response.error.body as serializers.contracts.v3.delete.Error.Raw)?.errorName) {
                case "ContractIsLinkedToFeeScheduleHttpError":
                    return {
                        data: {
                            ok: false,
                            error: serializers.contracts.v3.delete.Error.parseOrThrow(
                                _response.error.body as serializers.contracts.v3.delete.Error.Raw,
                                {
                                    unrecognizedObjectKeys: "passthrough",
                                    allowUnrecognizedUnionMembers: true,
                                    allowUnrecognizedEnumValues: true,
                                    breadcrumbsPrefix: ["response"],
                                },
                            ),
                            rawResponse: _response.rawResponse,
                        },
                        rawResponse: _response.rawResponse,
                    };
            }
        }

        return {
            data: {
                ok: false,
                error: CandidApi.contracts.v3.delete.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }

    /**
     * @param {CandidApi.contracts.v3.ContractId} contractId
     * @param {CandidApi.contracts.v3.ContractUpdateUnion} request
     * @param {V3.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.contracts.v3.update(CandidApi.contracts.v3.ContractId("d5e9c84f-c2b2-4bf4-b4b0-7ffd7a9ffc32"), {
     *         type: "professional"
     *     })
     */
    public update(
        contractId: CandidApi.contracts.v3.ContractId,
        request: CandidApi.contracts.v3.ContractUpdateUnion,
        requestOptions?: V3.RequestOptions,
    ): core.HttpResponsePromise<
        core.APIResponse<CandidApi.contracts.v3.ContractWithProvidersUnion, CandidApi.contracts.v3.update.Error>
    > {
        return core.HttpResponsePromise.fromPromise(this.__update(contractId, request, requestOptions));
    }

    private async __update(
        contractId: CandidApi.contracts.v3.ContractId,
        request: CandidApi.contracts.v3.ContractUpdateUnion,
        requestOptions?: V3.RequestOptions,
    ): Promise<
        core.WithRawResponse<
            core.APIResponse<CandidApi.contracts.v3.ContractWithProvidersUnion, CandidApi.contracts.v3.update.Error>
        >
    > {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ Authorization: await this._getAuthorizationHeader() }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.CandidApiEnvironment.Production
                    ).candidApi,
                `/api/contracts/v3/${core.url.encodePathParam(serializers.contracts.v3.ContractId.jsonOrThrow(contractId))}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: serializers.contracts.v3.ContractUpdateUnion.jsonOrThrow(request, {
                unrecognizedObjectKeys: "strip",
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: serializers.contracts.v3.ContractWithProvidersUnion.parseOrThrow(_response.body, {
                        unrecognizedObjectKeys: "passthrough",
                        allowUnrecognizedUnionMembers: true,
                        allowUnrecognizedEnumValues: true,
                        breadcrumbsPrefix: ["response"],
                    }),
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch ((_response.error.body as serializers.contracts.v3.update.Error.Raw)?.errorName) {
                case "UnprocessableEntityError":
                case "ContractInvalidExpirationDateHttpError":
                    return {
                        data: {
                            ok: false,
                            error: serializers.contracts.v3.update.Error.parseOrThrow(
                                _response.error.body as serializers.contracts.v3.update.Error.Raw,
                                {
                                    unrecognizedObjectKeys: "passthrough",
                                    allowUnrecognizedUnionMembers: true,
                                    allowUnrecognizedEnumValues: true,
                                    breadcrumbsPrefix: ["response"],
                                },
                            ),
                            rawResponse: _response.rawResponse,
                        },
                        rawResponse: _response.rawResponse,
                    };
            }
        }

        return {
            data: {
                ok: false,
                error: CandidApi.contracts.v3.update.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }

    /**
     * @param {CandidApi.contracts.v3.ContractId} contractId
     * @param {CandidApi.contracts.v3.ContractServiceFacilityCreate} request
     * @param {V3.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.contracts.v3.createContractServiceFacility(CandidApi.contracts.v3.ContractId("d5e9c84f-c2b2-4bf4-b4b0-7ffd7a9ffc32"), {
     *         serviceFacilityId: "d5e9c84f-c2b2-4bf4-b4b0-7ffd7a9ffc32",
     *         providerIds: new Set(["d5e9c84f-c2b2-4bf4-b4b0-7ffd7a9ffc32"])
     *     })
     */
    public createContractServiceFacility(
        contractId: CandidApi.contracts.v3.ContractId,
        request: CandidApi.contracts.v3.ContractServiceFacilityCreate,
        requestOptions?: V3.RequestOptions,
    ): core.HttpResponsePromise<
        core.APIResponse<
            CandidApi.contracts.v3.ContractServiceFacility,
            CandidApi.contracts.v3.createContractServiceFacility.Error
        >
    > {
        return core.HttpResponsePromise.fromPromise(
            this.__createContractServiceFacility(contractId, request, requestOptions),
        );
    }

    private async __createContractServiceFacility(
        contractId: CandidApi.contracts.v3.ContractId,
        request: CandidApi.contracts.v3.ContractServiceFacilityCreate,
        requestOptions?: V3.RequestOptions,
    ): Promise<
        core.WithRawResponse<
            core.APIResponse<
                CandidApi.contracts.v3.ContractServiceFacility,
                CandidApi.contracts.v3.createContractServiceFacility.Error
            >
        >
    > {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ Authorization: await this._getAuthorizationHeader() }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.CandidApiEnvironment.Production
                    ).candidApi,
                `/api/contracts/v3/${core.url.encodePathParam(serializers.contracts.v3.ContractId.jsonOrThrow(contractId))}/service-facilities`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: serializers.contracts.v3.ContractServiceFacilityCreate.jsonOrThrow(request, {
                unrecognizedObjectKeys: "strip",
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: serializers.contracts.v3.ContractServiceFacility.parseOrThrow(_response.body, {
                        unrecognizedObjectKeys: "passthrough",
                        allowUnrecognizedUnionMembers: true,
                        allowUnrecognizedEnumValues: true,
                        breadcrumbsPrefix: ["response"],
                    }),
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (
                (_response.error.body as serializers.contracts.v3.createContractServiceFacility.Error.Raw)?.errorName
            ) {
                case "UnprocessableEntityError":
                    return {
                        data: {
                            ok: false,
                            error: serializers.contracts.v3.createContractServiceFacility.Error.parseOrThrow(
                                _response.error
                                    .body as serializers.contracts.v3.createContractServiceFacility.Error.Raw,
                                {
                                    unrecognizedObjectKeys: "passthrough",
                                    allowUnrecognizedUnionMembers: true,
                                    allowUnrecognizedEnumValues: true,
                                    breadcrumbsPrefix: ["response"],
                                },
                            ),
                            rawResponse: _response.rawResponse,
                        },
                        rawResponse: _response.rawResponse,
                    };
            }
        }

        return {
            data: {
                ok: false,
                error: CandidApi.contracts.v3.createContractServiceFacility.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }

    /**
     * @param {CandidApi.contracts.v3.ContractId} contractId
     * @param {CandidApi.contracts.v3.ContractServiceFacilityId} contractServiceFacilityId
     * @param {CandidApi.contracts.v3.ContractServiceFacilityUpdate} request
     * @param {V3.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.contracts.v3.updateContractServiceFacility(CandidApi.contracts.v3.ContractId("d5e9c84f-c2b2-4bf4-b4b0-7ffd7a9ffc32"), CandidApi.contracts.v3.ContractServiceFacilityId("d5e9c84f-c2b2-4bf4-b4b0-7ffd7a9ffc32"))
     */
    public updateContractServiceFacility(
        contractId: CandidApi.contracts.v3.ContractId,
        contractServiceFacilityId: CandidApi.contracts.v3.ContractServiceFacilityId,
        request: CandidApi.contracts.v3.ContractServiceFacilityUpdate = {},
        requestOptions?: V3.RequestOptions,
    ): core.HttpResponsePromise<
        core.APIResponse<
            CandidApi.contracts.v3.ContractServiceFacility,
            CandidApi.contracts.v3.updateContractServiceFacility.Error
        >
    > {
        return core.HttpResponsePromise.fromPromise(
            this.__updateContractServiceFacility(contractId, contractServiceFacilityId, request, requestOptions),
        );
    }

    private async __updateContractServiceFacility(
        contractId: CandidApi.contracts.v3.ContractId,
        contractServiceFacilityId: CandidApi.contracts.v3.ContractServiceFacilityId,
        request: CandidApi.contracts.v3.ContractServiceFacilityUpdate = {},
        requestOptions?: V3.RequestOptions,
    ): Promise<
        core.WithRawResponse<
            core.APIResponse<
                CandidApi.contracts.v3.ContractServiceFacility,
                CandidApi.contracts.v3.updateContractServiceFacility.Error
            >
        >
    > {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ Authorization: await this._getAuthorizationHeader() }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.CandidApiEnvironment.Production
                    ).candidApi,
                `/api/contracts/v3/${core.url.encodePathParam(serializers.contracts.v3.ContractId.jsonOrThrow(contractId))}/service-facilities/${core.url.encodePathParam(serializers.contracts.v3.ContractServiceFacilityId.jsonOrThrow(contractServiceFacilityId))}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: serializers.contracts.v3.ContractServiceFacilityUpdate.jsonOrThrow(request, {
                unrecognizedObjectKeys: "strip",
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: serializers.contracts.v3.ContractServiceFacility.parseOrThrow(_response.body, {
                        unrecognizedObjectKeys: "passthrough",
                        allowUnrecognizedUnionMembers: true,
                        allowUnrecognizedEnumValues: true,
                        breadcrumbsPrefix: ["response"],
                    }),
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (
                (_response.error.body as serializers.contracts.v3.updateContractServiceFacility.Error.Raw)?.errorName
            ) {
                case "UnprocessableEntityError":
                    return {
                        data: {
                            ok: false,
                            error: serializers.contracts.v3.updateContractServiceFacility.Error.parseOrThrow(
                                _response.error
                                    .body as serializers.contracts.v3.updateContractServiceFacility.Error.Raw,
                                {
                                    unrecognizedObjectKeys: "passthrough",
                                    allowUnrecognizedUnionMembers: true,
                                    allowUnrecognizedEnumValues: true,
                                    breadcrumbsPrefix: ["response"],
                                },
                            ),
                            rawResponse: _response.rawResponse,
                        },
                        rawResponse: _response.rawResponse,
                    };
            }
        }

        return {
            data: {
                ok: false,
                error: CandidApi.contracts.v3.updateContractServiceFacility.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }

    protected async _getAuthorizationHeader(): Promise<string | undefined> {
        const bearer = await core.Supplier.get(this._options.token);
        if (bearer != null) {
            return `Bearer ${bearer}`;
        }

        return undefined;
    }
}
