// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient";
import * as core from "../../../../../../core";
import { mergeHeaders } from "../../../../../../core/headers";
import * as environments from "../../../../../../environments";
import * as serializers from "../../../../../../serialization/index";
import * as CandidApi from "../../../../../index";

export declare namespace V1Client {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class V1Client {
    protected readonly _options: NormalizedClientOptionsWithAuth<V1Client.Options>;

    constructor(options: V1Client.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @param {CandidApi.EncounterId} encounter_id
     * @param {V1Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.encounterSupplementalInformation.v1.get(CandidApi.EncounterId("d5e9c84f-c2b2-4bf4-b4b0-7ffd7a9ffc32"))
     */
    public get(
        encounter_id: CandidApi.EncounterId,
        requestOptions?: V1Client.RequestOptions,
    ): core.HttpResponsePromise<
        core.APIResponse<
            CandidApi.encounterSupplementalInformation.v1.SupplementalInformation[],
            CandidApi.encounterSupplementalInformation.v1.get.Error
        >
    > {
        return core.HttpResponsePromise.fromPromise(this.__get(encounter_id, requestOptions));
    }

    private async __get(
        encounter_id: CandidApi.EncounterId,
        requestOptions?: V1Client.RequestOptions,
    ): Promise<
        core.WithRawResponse<
            core.APIResponse<
                CandidApi.encounterSupplementalInformation.v1.SupplementalInformation[],
                CandidApi.encounterSupplementalInformation.v1.get.Error
            >
        >
    > {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.CandidApiEnvironment.Production
                    ).candidApi,
                `/api/encounter-supplemental-information/v1/${core.url.encodePathParam(serializers.EncounterId.jsonOrThrow(encounter_id))}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: serializers.encounterSupplementalInformation.v1.get.Response.parseOrThrow(_response.body, {
                        unrecognizedObjectKeys: "passthrough",
                        allowUnrecognizedUnionMembers: true,
                        allowUnrecognizedEnumValues: true,
                        breadcrumbsPrefix: ["response"],
                    }),
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        return {
            data: {
                ok: false,
                error: CandidApi.encounterSupplementalInformation.v1.get.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }

    /**
     * @param {CandidApi.EncounterId} encounter_id
     * @param {CandidApi.encounterSupplementalInformation.v1.CreateSupplementalInformationRequest} request
     * @param {V1Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.encounterSupplementalInformation.v1.create(CandidApi.EncounterId("d5e9c84f-c2b2-4bf4-b4b0-7ffd7a9ffc32"), {
     *         attachmentReportTypeCode: "03",
     *         attachmentTransmissionCode: "BM",
     *         attachmentInclusion: "not_included"
     *     })
     */
    public create(
        encounter_id: CandidApi.EncounterId,
        request: CandidApi.encounterSupplementalInformation.v1.CreateSupplementalInformationRequest,
        requestOptions?: V1Client.RequestOptions,
    ): core.HttpResponsePromise<
        core.APIResponse<
            CandidApi.encounterSupplementalInformation.v1.SupplementalInformation,
            CandidApi.encounterSupplementalInformation.v1.create.Error
        >
    > {
        return core.HttpResponsePromise.fromPromise(this.__create(encounter_id, request, requestOptions));
    }

    private async __create(
        encounter_id: CandidApi.EncounterId,
        request: CandidApi.encounterSupplementalInformation.v1.CreateSupplementalInformationRequest,
        requestOptions?: V1Client.RequestOptions,
    ): Promise<
        core.WithRawResponse<
            core.APIResponse<
                CandidApi.encounterSupplementalInformation.v1.SupplementalInformation,
                CandidApi.encounterSupplementalInformation.v1.create.Error
            >
        >
    > {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.CandidApiEnvironment.Production
                    ).candidApi,
                `/api/encounter-supplemental-information/v1/${core.url.encodePathParam(serializers.EncounterId.jsonOrThrow(encounter_id))}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: serializers.encounterSupplementalInformation.v1.CreateSupplementalInformationRequest.jsonOrThrow(
                request,
                { unrecognizedObjectKeys: "strip" },
            ),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: serializers.encounterSupplementalInformation.v1.SupplementalInformation.parseOrThrow(
                        _response.body,
                        {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            breadcrumbsPrefix: ["response"],
                        },
                    ),
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (
                (_response.error.body as serializers.encounterSupplementalInformation.v1.create.Error.Raw)?.errorName
            ) {
                case "EntityNotFoundError":
                    return {
                        data: {
                            ok: false,
                            error: serializers.encounterSupplementalInformation.v1.create.Error.parseOrThrow(
                                _response.error
                                    .body as serializers.encounterSupplementalInformation.v1.create.Error.Raw,
                                {
                                    unrecognizedObjectKeys: "passthrough",
                                    allowUnrecognizedUnionMembers: true,
                                    allowUnrecognizedEnumValues: true,
                                    breadcrumbsPrefix: ["response"],
                                },
                            ),
                            rawResponse: _response.rawResponse,
                        },
                        rawResponse: _response.rawResponse,
                    };
            }
        }

        return {
            data: {
                ok: false,
                error: CandidApi.encounterSupplementalInformation.v1.create.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }

    /**
     * @param {CandidApi.EncounterId} encounter_id
     * @param {CandidApi.encounterSupplementalInformation.v1.SupplementalInformationId} supplemental_information_id
     * @param {CandidApi.encounterSupplementalInformation.v1.UpdateSupplementalInformationRequest} request
     * @param {V1Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.encounterSupplementalInformation.v1.update(CandidApi.EncounterId("d5e9c84f-c2b2-4bf4-b4b0-7ffd7a9ffc32"), CandidApi.encounterSupplementalInformation.v1.SupplementalInformationId("d5e9c84f-c2b2-4bf4-b4b0-7ffd7a9ffc32"), {})
     */
    public update(
        encounter_id: CandidApi.EncounterId,
        supplemental_information_id: CandidApi.encounterSupplementalInformation.v1.SupplementalInformationId,
        request: CandidApi.encounterSupplementalInformation.v1.UpdateSupplementalInformationRequest,
        requestOptions?: V1Client.RequestOptions,
    ): core.HttpResponsePromise<
        core.APIResponse<
            CandidApi.encounterSupplementalInformation.v1.SupplementalInformation,
            CandidApi.encounterSupplementalInformation.v1.update.Error
        >
    > {
        return core.HttpResponsePromise.fromPromise(
            this.__update(encounter_id, supplemental_information_id, request, requestOptions),
        );
    }

    private async __update(
        encounter_id: CandidApi.EncounterId,
        supplemental_information_id: CandidApi.encounterSupplementalInformation.v1.SupplementalInformationId,
        request: CandidApi.encounterSupplementalInformation.v1.UpdateSupplementalInformationRequest,
        requestOptions?: V1Client.RequestOptions,
    ): Promise<
        core.WithRawResponse<
            core.APIResponse<
                CandidApi.encounterSupplementalInformation.v1.SupplementalInformation,
                CandidApi.encounterSupplementalInformation.v1.update.Error
            >
        >
    > {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.CandidApiEnvironment.Production
                    ).candidApi,
                `/api/encounter-supplemental-information/v1/${core.url.encodePathParam(serializers.EncounterId.jsonOrThrow(encounter_id))}/${core.url.encodePathParam(serializers.encounterSupplementalInformation.v1.SupplementalInformationId.jsonOrThrow(supplemental_information_id))}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: serializers.encounterSupplementalInformation.v1.UpdateSupplementalInformationRequest.jsonOrThrow(
                request,
                { unrecognizedObjectKeys: "strip" },
            ),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: serializers.encounterSupplementalInformation.v1.SupplementalInformation.parseOrThrow(
                        _response.body,
                        {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            breadcrumbsPrefix: ["response"],
                        },
                    ),
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (
                (_response.error.body as serializers.encounterSupplementalInformation.v1.update.Error.Raw)?.errorName
            ) {
                case "EntityNotFoundError":
                    return {
                        data: {
                            ok: false,
                            error: serializers.encounterSupplementalInformation.v1.update.Error.parseOrThrow(
                                _response.error
                                    .body as serializers.encounterSupplementalInformation.v1.update.Error.Raw,
                                {
                                    unrecognizedObjectKeys: "passthrough",
                                    allowUnrecognizedUnionMembers: true,
                                    allowUnrecognizedEnumValues: true,
                                    breadcrumbsPrefix: ["response"],
                                },
                            ),
                            rawResponse: _response.rawResponse,
                        },
                        rawResponse: _response.rawResponse,
                    };
            }
        }

        return {
            data: {
                ok: false,
                error: CandidApi.encounterSupplementalInformation.v1.update.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }

    /**
     * @param {CandidApi.EncounterId} encounter_id
     * @param {CandidApi.encounterSupplementalInformation.v1.SupplementalInformationId} supplemental_information_id
     * @param {V1Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.encounterSupplementalInformation.v1.delete(CandidApi.EncounterId("d5e9c84f-c2b2-4bf4-b4b0-7ffd7a9ffc32"), CandidApi.encounterSupplementalInformation.v1.SupplementalInformationId("d5e9c84f-c2b2-4bf4-b4b0-7ffd7a9ffc32"))
     */
    public delete(
        encounter_id: CandidApi.EncounterId,
        supplemental_information_id: CandidApi.encounterSupplementalInformation.v1.SupplementalInformationId,
        requestOptions?: V1Client.RequestOptions,
    ): core.HttpResponsePromise<core.APIResponse<void, CandidApi.encounterSupplementalInformation.v1.delete.Error>> {
        return core.HttpResponsePromise.fromPromise(
            this.__delete(encounter_id, supplemental_information_id, requestOptions),
        );
    }

    private async __delete(
        encounter_id: CandidApi.EncounterId,
        supplemental_information_id: CandidApi.encounterSupplementalInformation.v1.SupplementalInformationId,
        requestOptions?: V1Client.RequestOptions,
    ): Promise<
        core.WithRawResponse<core.APIResponse<void, CandidApi.encounterSupplementalInformation.v1.delete.Error>>
    > {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.CandidApiEnvironment.Production
                    ).candidApi,
                `/api/encounter-supplemental-information/v1/${core.url.encodePathParam(serializers.EncounterId.jsonOrThrow(encounter_id))}/${core.url.encodePathParam(serializers.encounterSupplementalInformation.v1.SupplementalInformationId.jsonOrThrow(supplemental_information_id))}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: {
                    ok: true,
                    body: undefined,
                    headers: _response.headers,
                    rawResponse: _response.rawResponse,
                },
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (
                (_response.error.body as serializers.encounterSupplementalInformation.v1.delete.Error.Raw)?.errorName
            ) {
                case "EntityNotFoundError":
                    return {
                        data: {
                            ok: false,
                            error: serializers.encounterSupplementalInformation.v1.delete.Error.parseOrThrow(
                                _response.error
                                    .body as serializers.encounterSupplementalInformation.v1.delete.Error.Raw,
                                {
                                    unrecognizedObjectKeys: "passthrough",
                                    allowUnrecognizedUnionMembers: true,
                                    allowUnrecognizedEnumValues: true,
                                    breadcrumbsPrefix: ["response"],
                                },
                            ),
                            rawResponse: _response.rawResponse,
                        },
                        rawResponse: _response.rawResponse,
                    };
            }
        }

        return {
            data: {
                ok: false,
                error: CandidApi.encounterSupplementalInformation.v1.delete.Error._unknown(_response.error),
                rawResponse: _response.rawResponse,
            },
            rawResponse: _response.rawResponse,
        };
    }
}
